// Site Search
.site-search {
  @extend %search-form;

  $m: ((rem($line-height-root-content * $ratio-text-global-footer) - $height-search-form-query) / 2 - $margin);

  top: $margin-huge;

  @media (min-width: $breakpoint-content) {
    position: absolute;
    right: $padding-side-centering;
    top: ($margin-top-footlinks + $m);
    width: percentage(1 / 2);
    z-index: 1;
  }

  @media (min-width: $breakpoint-full) {
    top: ($margin-top-footlinks-full + $m);
    width: percentage(1 / 3);
  }
}
