// Byline
.byline {
  @extend %protrusion;

  color: $color-dark-light;

  &::before {
    $m: $margin-tiny;

    border-bottom: $width-border solid $color-light-dark;
    content: "";
    display: block;
    margin-bottom: $m;
    padding-top: $m;
    width: $width-decoration;
  }

  mark {
    background-color: transparent;
    color: inherit;
  }

  @media (min-width: $breakpoint-full) {
    bottom: 0;
    margin-right: (- ($width-supplement-outer - $width-gap-small));
  }
}
