// Byline
.byline {
  color: $color-fg-byline;

  &::before {
    border-top: $width-border-byline-border solid $color-border-byline-border;
    content: "";
    display: block;
    height: 0;
    margin-bottom: $margin-bottom-byline-border;
    width: $width-byline-border;
  }

  mark {
    background-color: transparent;
    color: inherit;
  }

  @media (min-width: $breakpoint-full) {
    bottom: 0;
    left: $left-byline-full;
    position: absolute;
    text-align: right;
    width: $width-byline-full;

    &::before {
      margin-left: auto;
    }
  }
}
