// Byline
.byline {
  color: $color-fg_byline;

  &::before {
    border-top: $width-border_byline__border solid $color-border_byline__border;
    content: '';
    display: block;
    height: 0;
    margin-bottom: $margin_byline__border;
    width: $width_byline__border;
  }

  mark {
    background-color: transparent;
    color: inherit;
  }

  @media (min-width: $breakpoint--full) {
    bottom: 0;
    left: $width-gap;
    position: absolute;
  }
}
