// Elsewhere
.elsewhere {
  position: relative;

  ul {
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: rem($line-height);
  }

  li {
    display: table-cell;
    line-height: rem($line-height);
    overflow: hidden;
    font-size: rem($ratio_elsewhere);
    white-space: nowrap;

    &::before {
      content: "\00a0\2219\00a0"; // Bullet Operator
    }

    &:first-child::before {
      content: "";
    }
  }

  a {
    display: inline-block;
    width: $width_elesewhere__item__first-letter;

    &::first-letter {
      margin-right: $width_elesewhere__item__first-letter;
    }
  }

  @media (min-width: $breakpoint_elsewhere) {
    a {
      display: inline;
    }
  }

  @media (min-width: $breakpoint--full) {
    ul {
      bottom: 0;
    }
  }
}
