// Footlinks
.footlinks {
  $m: $margin-gargantuan;

  margin-top: $m;
  padding-left: 0;

  $margin-top-footlinks: $m !global;

  li {
    $p: $width-gap-small;

    display: table-cell;
    padding-right: $p;

    &:first-child::after {
      content: "·";
      margin-left: $p;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media (min-width: $breakpoint-full) {
    $m: $margin-enormous;

    margin-top: $m;

    $margin-top-footlinks-full: $m !global;
  }
}
