// Footlinks
@import '../node_modules/hail2u-scss-partials/corporate-colors';

.footlinks {
  ul {
    margin-top: $margin-top-footlinks;
    padding-left: 0;
  }

  li {
    display: table-cell;

    &::after {
      content: '\a0\a0';
    }

    &:first-child::after {
      content: ' ·\a0';
    }
  }

  @media (min-width: $breakpoint-full) {
    ul {
      margin-top: $margin-top-footlinks-full;
    }
  }
}
