// Footlinks
$margin-top-footlinks: $margin-gargantuan;
$margin-top-footlinks-full: $margin-enormous;

$padding-right-footlinks-item: $width-gap-small;

$margin-left-footlinks-separator: $padding-right-footlinks-item;

.footlinks {
  margin-top: $margin-top-footlinks;
  padding-left: 0;

  li {
    display: table-cell;
    padding-right: $padding-right-footlinks-item;

    &:first-child::after {
      content: "·";
      margin-left: $margin-left-footlinks-separator;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-top-footlinks-full;
  }
}
