[submodule "normalize.scss"]
	path = normalize.scss
	url = git://github.com/hail2u/normalize.scss.git
[submodule "scss-partials"]
	path = scss-partials
	url = git://github.com/hail2u/scss-partials.git
