// Article Footer
%article-footer {
  @extend %hanging-block;

  position: absolute;
  bottom: 100%;
  color: $color-fg-article-meta;

  br {
    display: none;
  }

  time {
    color: $color-fg-article-meta-time;
  }

  @media (min-width: $breakpoint-full) {
    top: auto;
    bottom: auto;

    .rlb::before {
      content: "\000a"; // Line Feed
      white-space: pre-line;
    }
  }
}

[role="main"] {
  article {
    h2 + footer {
      @extend %article-footer;
    }
  }
}
