// Article Footer
main {
  > article,
  > section {
    position: relative;

    h1 + footer {
      @extend %hanging-block;

      position: absolute;
      bottom: 100%;
      width: 100%;
      color: $color-fg-article-footer;
      text-align: center;

      time {
        color: $color-fg-article-footer-time;
      }

      @media (min-width: $breakpoint-content) {
        text-align: left;
      }

      @media (min-width: $breakpoint-full) {
        top: auto;
        bottom: auto;
        width: $width-suppli;

        .rlb::before {
          content: "\000a"; // Line Feed
          white-space: pre-line;
        }
      }
    }
  }
}
