// Article Meta-info
.wrapper h2 + footer {
  @extend %hanging-block;

  position: absolute;
  bottom: 100%;
  color: mixxd($color-fg, $color-bg, 0.6);

  br {
    display: none;
  }

  time {
    color: $color-fg;
  }

  @media (min-width: $breakpoint-full) {
    top: auto;
    bottom: auto;

    .rlb::before {
      content: "\000a"; // Line Feed
      white-space: pre-line;
    }
  }
}
