// Article Footer
[role="main"] * h2 + footer {
  @extend %hanging-block;

  color: $color-fg-article-meta;

  p {
    margin-top: 0;
  }

  time {
    color: $color-fg-article-meta-time;
  }

  @media (min-width: $breakpoint-full) {
    top: auto;

    p {
      margin-top: $margin-default;
    }

    .rlb::before {
      content: "\000a"; // Line Feed
      white-space: pre-line;
    }
  }
}
