// Color Representation
.color-base {
  color: $base;
}

.color-darkest {
  color: $darkest;
}

.color-dark {
  color: $dark;
}

.color-light {
  color: $light;
}

.color-lightest {
  color: $lightest;
}

.color-foreground {
  color: $fg;
}

.color-background {
  color: $bg;
}

// Other Representation
%default-margin {
  margin: ($font-size * 2) 0;
}

%heading {
  line-height: normal;
  font-family: $stack-heading;
  page-break-after: avoid;
}

.image {
  img {
    border: 1px solid mixxd($fg, white, 0.9);
    border: 1px solid transparentize($fg, 0.9);
    padding: ($font-size * 0.5 - 1px);
    background-color: white;
  }

  a:hover img {
    border-color: $light;
  }
}

// Sections
body {
  line-height: 1.75;
  color: $fg;
  background-color: $bg;
  background-image: url("../images/bg-body.png");
  font-family: $stack-body;
}

section,
nav,
article,
aside {
  @include clearfix;
}

h1 {
  @extend %heading;

  margin: ($font-size * 6) 0;
  font-weight: normal;
}

h2 {
  @extend %heading;

  margin: ($font-size * 10) 0 ($font-size * 2) 0;
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  @extend %heading;

  margin: ($font-size * 4) 0 ($font-size * 2) 0;
}

// Grouping content
p {
  @extend %default-margin;
}

hr {
  @extend %default-margin;

  border: none;
  position: relative;
  clear: both;
  width: 100%;
  height: ($font-size * 4.5);
  background-color: transparent;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: ($font-size * 4.5);
    line-height: ($font-size * 4.5);
    content: "\223c\2219\223c"; // tilda op + bullet op + tilda op
    color: mixxd($fg, $bg, 0.92);
    color: transparentize($fg, 0.92);
    font-family: $stack-point;
    font-size: 450%; // 72px
    text-align: center;
  }
}

pre {
  @extend %default-margin;

  padding: ($font-size * 1.5);
  border-radius: ($font-size * 0.25);
  clear: both;
  line-height: 1.25;
  page-break-inside: avoid;
  color: $fg;
  background-color: mixxd($fg, $bg, 0.98);
  background-color: transparentize($fg, 0.98);
  font-family: $stack-code;
  font-size: 87.5%;
}

blockquote {
  margin: 0 0 0 ($font-size * 4);
  position: relative;
  clear: both;
  min-height: ($font-size * 4.5);
  page-break-inside: avoid;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: (- $font-size * 4);
    width: ($font-size * 3);
    height: 100%;
    line-height: 1;
    content: "\201c"; // Left dquote
    color: mixxd($fg, $bg, 0.8);
    color: transparentize($fg, 0.8);
    font-family: "Trebuchet MS", $stack-body;
    font-weight: bold;
    font-size: 450%; // 72px
  }
}

ul,
ol {
  @extend %default-margin;

  clear: both;

  ul,
  ol {
    margin: 0;
  }
}

dl {
  @extend %default-margin;

  clear: both;

  dt {
    font-weight: bold;
  }

  dl {
    margin: 0;
  }
}

figure {
  @extend .image;
}

figcaption {
  @extend %default-margin;

  line-height: normal;
}

// Text-level semantics
a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $hover;
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  border-bottom: 1px dashed $fg;
}

cite {
  font-style: normal;
}

q::before {
  content: "\201c"; // Left dquote
}

q::after {
  content: "\201d"; // Right dquote
}

abbr {
  font-family: $stack-point;
  cursor: help;
}

code,
var,
samp,
kbd {
  font-family: $stack-code;
}

mark {
  background-color: $mark;
}

// Edits
ins {
  border-bottom: 3px double $fg;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded content
img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Tabular data
table {
  @extend %default-margin;

  clear: both;
  page-break-inside: avoid;

  th, td {
    padding: ($font-size * 0.5);
    border: 1px solid mixxd($fg, $bg, 0.84);
    vertical-align: top;
  }

  th {
    background-color: mixxd($fg, $bg, 0.92);
    background-color: transparentize($fg, 0.92);
  }

  td {
    background-color: mixxd($fg, $bg, 0.98);
    background-color: transparentize($fg, 0.98);
  }
}
