// Color
.color-base {
  color: $base;
}

.color-darkest {
  color: $darkest;
}

.color-dark {
  color: $dark;
}

.color-light {
  color: $light;
}

.color-lightest {
  color: $lightest;
}

.color-foreground {
  color: $fg;
}

.color-background {
  color: $bg;
}

// Margin
%default-margin {
  margin: 2em 0;
}

// Heading
%heading {
  line-height: 1.25;
  font-family: $stack-heading;
  page-break-after: avoid;
}

// Image Container
.image {
  img {
    border: 1px solid mixxd($fg, white, 0.9);
    border: 1px solid transparentize($fg, 0.9);
    padding: ($gap * 0.4);
    background-color: white;
  }

  a:hover img {
    border-color: $light;
  }
}

// Highlight Something
.highlight {
  background-color: mixxd($mark, $bg, 0.25);
  background-color: transparentize($mark, 0.25);
}

// Minimal List
.minimal {
  padding-left: 0;

  li {
    display: inline;
  }
}

// Flat Description List
.flat {
  @include clearfix;

  dt {
    clear: both;
  }

  dd {
    margin: 0 1em 0 0;
    float: left;
  }

  @media screen and (min-width: $safe-for-content) {
    dt {
      float: left;
      clear: left;

      &::after {
        content: "\003a"; // colon
      }
    }

    dd {
      margin: 0 0 0 1em;
    }
  }
}

// Column
.column-container {
  @media screen and (min-width: $safe-for-content) {
    margin: 0 (- $gap);

    > * {
      margin-right: $gap;
      margin-left: $gap;
    }
  }
}

@for $i from 1 through 12 {
  .column-#{$i} {
    @media screen and (min-width: $safe-for-content) {
      margin: $gap;
      float: left;
      width: (($column + $gap * 2) * $i - $gap * 2);
    }
  }
}

// Elegant Button
.elegant-btn {
  padding: 0 1em;
  border: 1px solid $base;
  border-radius: 0.75em/1em;
  box-shadow: inset 0 1px 0 0 mixxd(white, $light, 0.3);
  box-shadow: inset 0 1px 0 0 transparentize(white, 0.3);
  display: inline-block;
  height: 2em;
  line-height: 2;
  color: $bg;
  background-color: $light;
  background-image: $button-overlay-normal;
  font-family: $stack-point;
  font-style: italic;
  text-decoration: none;
  text-shadow: 0 -1px 0 mixxd(black, $light, 0.5);
  text-shadow: 0 -1px 0 transparentize(black, 0.5);

  &:hover {
    border-color: $dark;
    box-shadow: inset 0 1px 0 0 mixxd(white, $light, 0.3), 0 0 0.25em 0 $light;
    box-shadow: inset 0 1px 0 0 transparentize(white, 0.3), 0 0 0.25em 0 $light;
    color: $bg;
    background-color: darken($light, 5%);
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0 1px 0 0 mixxd(white, $light, 0.7), 0 0 0.25em 0 $light;
    box-shadow: inset 0 1px 0 0 transparentize(white, 0.7), 0 0 0.25em 0 $light;
    line-height: 2.125;
    background-color: darken($light, 5%);
    background-image: $button-overlay-active;
  }
}

// The root element
html {
  overflow-y: scroll;
}

// Sections
body {
  border-top: 0.25em solid $lightest;
  line-height: 1.75;
  color: $fg;
  background-color: $bg;
  background-image: url("../images/bg-body.png");
  font-family: $stack-body;

  // Decrease font size
  $too-narrow: $safe-for-content * 0.875 * 0.875;

  @media screen and (max-width: $too-narrow) {
    font-size: 87.5%; // 14px
  }

  // Increse font size
  $wide-enough: $safe-for-full * 1.125 * 1.125;

  @media screen and (min-width: $wide-enough) {
    font-size: 112.5%; // 18px
  }

  // Increse font size more
  $wide-enough: $safe-for-full * 1.25 * 1.25;

  @media screen and (min-width: $wide-enough) {
    font-size: 125%; // 20px
  }
}

section,
nav,
article,
aside {
  @include clearfix;
}

h1 {
  @extend %heading;

  margin: (6em / 2.25) 0 (3em / 2.25) 0;
  font-weight: normal;
  font-size: 225%; // 36px
}

h2 {
  @extend %heading;

  margin: (9em / 1.875) 0 (3em / 1.875) 0;
  font-weight: normal;
  font-size: 187.5%; // 30px
}

h3 {
  @extend %heading;

  margin: (4em / 1.5) 0 (2em / 1.5) 0;
  font-size: 150%; // 24px
}

h4 {
  @extend %heading;

  margin: (4em / 1.25) 0 (2em / 1.25) 0;
  font-size: 125%; // 20px
}

h5 {
  @extend %heading;

  margin: (4em / 1.125) 0 (2em / 1.125) 0;
  font-size: 112.5%; // 18px
}

h6 {
  @extend %heading;

  margin: 4em 0 2em 0;
  font-size: 100%; // 16px
}

// Grouping content
p {
  @extend %default-margin;
}

hr {
  @extend %default-margin;
  $h: 4.5em;

  border: none;
  position: relative;
  clear: both;
  height: $h;
  background-color: transparent;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: ($h / 8);
    line-height: ($h / 8);
    content: "\223c\2219\223c"; // tilda op + bullet op + tilda op
    color: mixxd($fg, $bg, 0.92);
    color: transparentize($fg, 0.92);
    font-family: $stack-point;
    font-size: 800%; // 128px
    text-align: center;
  }
}

pre {
  @extend %default-margin;

  padding: 1.5em;
  border-radius: 0.25em;
  clear: both;
  line-height: 1.25;
  page-break-inside: avoid;
  color: $fg;
  background-color: mixxd($fg, $bg, 0.98);
  background-color: transparentize($fg, 0.98);
  font-family: $stack-code;
  font-size: 87.5%; // 14px

  @media screen and (min-width: $safe-for-full) {
    margin-left: ((- $suppli-width - $gap * 2) / 0.875);
  }
}

blockquote {
  margin: 0 0 0 4em;
  position: relative;
  clear: both;
  min-height: 4.5em;
  page-break-inside: avoid;

  &::before {
    margin-right: (1em / 4.5);
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    line-height: 1;
    content: "\201c"; // Left dquote
    color: $lightest;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 450%; // 72px
  }

  @media screen and (min-width: $safe-for-full) {
    margin-left: 0;

    &::before {
      margin-right: ($gap * 2 / 4.5);
    }
  }
}

ul,
ol {
  @extend %default-margin;

  clear: both;

  ul,
  ol {
    margin: 0;
  }

  @media screen and (min-width: $safe-for-full) {
    padding-left: 0;

    ul,
    ol {
      padding-left: 40px; // revert default size
    }
  }
}

dl {
  @extend %default-margin;

  clear: both;

  dt {
    font-weight: bold;
  }

  dl {
    margin: 0;
  }
}

figure {
  @extend .image;
}

figcaption {
  @extend %default-margin;

  line-height: 1.25;
}

// Text-level semantics
a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $hover;
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  border-bottom: 1px dashed $fg;
}

cite {
  font-style: normal;
}

q::before {
  content: "\201c"; // Left dquote
}

q::after {
  content: "\201d"; // Right dquote
}

abbr {
  font-family: $stack-point;
  cursor: help;
}

code,
var,
samp,
kbd {
  font-family: $stack-code;
}

mark {
  background-color: $mark;
}

// Edits
ins {
  border-bottom: 3px double $fg;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded content
img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Tabular data
table {
  @extend %default-margin;

  clear: both;
  page-break-inside: avoid;

  th, td {
    padding: 0.5em;
    border: 1px solid mixxd($fg, $bg, 0.84);
    vertical-align: top;
  }

  th {
    background-color: mixxd($fg, $bg, 0.92);
    background-color: transparentize($fg, 0.92);
    text-align: left;
  }

  td {
    background-color: mixxd($fg, $bg, 0.98);
    background-color: transparentize($fg, 0.98);
  }
}
