// Byline
[role="contentinfo"] address {
  @extend %margin-mini;
  @extend %global-footer-section;

  font-style: normal;

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-default;
    height: $height-elsewhere-icon;
    line-height: $height-elsewhere-icon;
  }
}
