// Clearfix
@import "scss-partials/clearfix";

%clearfix {
  @include clearfix;
}

// Image Replacement
@import "scss-partials/image-replacement";

%ir {
  @include ir-pseudo-element;

  &:before {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

// Default Margin
%default-margin {
  margin: $default-margin 0 0 0;
}

// Mini Margin
%mini-margin {
  margin: ($default-margin * 0.25) 0 0 0;
}

// Heading
%heading {
  line-height: $heading-line-height;
  font-family: $stack-heading;
}

// Ornament Separator
%ornament-separator {
  @extend %ir;
  $h: 3em;

  border: none;
  height: ($h * 2);
  background-color: transparent;

  &:before {
    margin-top: ($h * 0.5);
    height: $h;
    background-image: $ornament;
    opacity: 0.1;
  }
}

// Hanging Block
%hanging-block {
  @media (min-width: $safe-for-full) {
    margin-right: $gutter;
    position: absolute;
    top: 0;
    right: 100%;
    width: $suppli-width;
  }
}

// Quote Mark
%quote-mark {
  @extend %ir;
  $size: 1.5em;

  position: relative;
  min-height: $size;
  overflow: visible;

  &:before {
    @extend %hanging-block;

    margin-right: 1em;
    position: absolute;
    top: 0;
    right: 100%;
    width: $size;
    height: $size;
    background-image: $left-double-quote;
    opacity: 0.1;
  }

  @media (min-width: $safe-for-full) {
    $size: 2.5em;

    min-height: $size;

    &:before {
      width: $size;
      height: $size;
    }
  }
}

// White Keytop
%white-keytop {
  margin: 0 0.25em;
  padding: 0.125em 0.375em;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 #ccc;
  display: inline-block;
  position: relative;
  top: -2px;
  line-height: 1;
  color: #666;
  background-color: #f9f9f9;
}

// Elegant Button
%elegant-btn {
  padding: 0 1em;
  border: 1px solid $base;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 0 0 mixxd(white, $light, 0.3);
  box-shadow: inset 0 1px 0 0 transparentize(white, 0.3);
  display: inline-block;
  height: 2em;
  color: $bg;
  background-color: $light;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  font-family: $stack-point;
  text-decoration: none;
  text-shadow: 0 -1px 0 mixxd($darkest, $light, 0.5);
  text-shadow: 0 -1px 0 transparentize($darkest, 0.5);

  &:hover {
    border-color: $dark;
    box-shadow: inset 0 1px 0 0 mixxd(white, $light, 0.3), 0 0 0.25em 0 $light;
    box-shadow: inset 0 1px 0 0 transparentize(white, 0.3), 0 0 0.25em 0 $light;
    color: $bg;
    background-color: darken($light, 5%);
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0 0.25em 0 $light;
    position: relative;
    top: 1px;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  }
}

// News List
%news-list {
  ul {
    padding-left: 6em;

    @media (min-width: $safe-for-full) {
      padding-right: 6em;
      padding-left: 0;
    }
  }

  li {
    position: relative;
    list-style-type: none;

    time {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 6em;
      color: mixxd($fg, $bg, 0.6);
      color: transparentize($fg, 0.6);
      font-family: $stack-point;

      @media (min-width: $safe-for-full) {
        text-align: right;
        right: auto;
        left: 100%;
      }
    }
  }
}

// Minimal List
%minimal {
  padding-left: 0;

  li {
    display: inline;
  }
}

// Flat Description List
%flat {
  @extend %clearfix;

  dd {
    margin: 0 0 0 1em;
    display: inline;
    white-space: nowrap;
  }

  @media (min-width: $safe-for-content) {
    dt {
      display: inline;

      &:after {
        content: "\003a"; // Colon
      }
    }

    dd + dt:before {
      content: "\000a"; // Line Feed
      white-space: pre;
    }
  }
}

// Column
%column-container {
  @extend %clearfix;

  @media (min-width: $safe-for-content) {
    margin-right: (- $gap);
    margin-left: (- $gap);
  }
}

@for $i from 1 through 12 {
  %column-#{$i} {
    @media (min-width: $safe-for-content) {
      margin-right: $gap;
      margin-left: $gap;
      float: left;
      width: (($column + $gutter) * $i - $gutter);
    }
  }
}

// Header Logo
%header-logo {
  font-size: 100%;

  a,
  mark {
    box-shadow: inset 0 -0.25em 0 0 $darkest, inset 0 -0.5em 0 0 $base;
    display: block;
    position: relative;
    width: $logo-width;
    height: $logo-height;
    overflow: hidden;
    line-height: $logo-height;
    color: $bg;
    background-color: $lightest;
    // background-image: $logo-texture;
    // background-position: center center;
    // background-size: cover;

    &:before {
      $ratio: 2.25;

      display: block;
      width: 100%;
      height: 100%;
      content: "H";
      font-family: $stack-logo;
      font-size: percentage($ratio);
      text-align: center;
      text-shadow: 0 -1px 0 mixxd($darkest, $lightest, 0.5);
      text-shadow: 0 -1px 0 transparentize($darkest, 0.5);
    }
  }
}

// Golbal Navigation
%global-nav {
  height: $nav-height;
  line-height: $nav-height;
  font-family: $stack-nav;
  text-transform: uppercase;

  mark {
    color: $fg;
    background-color: transparent;
  }
}

// Article Meta-info
%article-metainfo {
  color: mix($fg, $bg);
  font-family: $stack-point;

  time {
    color: $fg;
  }
}

// Global Footer
%global-footer {
  color: $dark;
  background-color: mixxd($fg, $dark, 0.3);
  background-image: $footer-texture;
  font-family: $stack-point;

  a {
    color: mix($link, white);

    &:hover {
      color: mix($hover, white);
    }
  }

  mark {
    color: inherit;
    background-color: transparent;
  }

  address + p {
    border-top: 1px solid mixxd($fg, $dark, 0.45);
    box-shadow: 0 -1px 0 0 mixxd($fg, $dark, 0.35);
  }
}
