// Code Highlight
.prettyprinted {
  .pln,
  .typ,
  .pun,
  .opn,
  .clo,
  .fun {
    color: $color-code-highlight-default;
  }

  .str,
  .atv {
    color: $color-code-highlight-string;
  }

  .kwd,
  .tag {
    color: $color-code-highlight-keyword;
  }

  .com,
  .dec,
  .var {
    color: $color-code-highlight-comment;
  }

  .lit,
  .atn {
    color: $color-code-highlight-number;
  }
}
