// Code Highlight
.pln,
.typ,
.pun,
.opn,
.clo,
.fun {
  color: #333;
}

.str,
.atv {
  color: #393;
}

.kwd,
.tag {
  color: #36c;
}

.com,
.dec,
.var {
  color: #999;
}

.lit,
.atn {
  color: #c63;
}
