// Basic
$color-fg: rgb(51, 51, 51);
$color-bg: rgb(252, 249, 240);

$color-base: rgb(17, 136, 187);
$color-darkest: rgb(6, 87, 122);
$color-dark: rgb(45, 111, 140);
$color-light: rgb(70, 176, 221);
$color-lightest: rgb(111, 188, 221);

$color-complement-base: rgb(255, 140, 12);
$color-complement-darkest: rgb(255, 192, 121);
$color-complement-dark: rgb(255, 169, 73);
$color-complement-light: rgb(191, 127, 55);
$color-complement-lightest: rgb(166, 89, 4);

// Core
$color-fg-body: $color-fg;
$color-bg-body: $color-bg;

$color-fg-heading: mixxd($color-fg, $color-bg, 0.12);

$color-fg-hr: mixxd($color-fg, $color-bg, 0.92);

$color-fg-blockquote: mixxd($color-fg, $color-bg, 0.36);
$color-border-blockquote: mixxd($color-fg, $color-bg, 0.92);

$color-fg-pre: mixxd($color-fg, $color-bg, 0.16);
$color-bg-pre: mixxd($color-fg, $color-bg, 0.98);

$color-fg-dt: mixxd($color-fg, $color-bg, 0.12);

$color-fg-link: $color-base;
$color-fg-link-hover: $color-darkest;

$color-fg-em: mixxd($color-fg, $color-bg, 0.12);

$color-fg-strong: mixxd($color-fg, $color-bg, 0.12);

$color-bg-img: white;

$color-border-table: mixxd($color-fg, $color-bg, 0.8);

$color-fg-th: mixxd($color-fg, $color-bg, 0.12);
$color-bg-th: mixxd($color-fg, $color-bg, 0.92);

$color-fg-td: mixxd($color-fg, $color-bg, 0.12);
$color-bg-td: mixxd($color-fg, $color-bg, 0.98);

// Header
$color-fg-site-navigation: inherit;
$color-fg-site-navigation-hover: $color-base;
$color-fg-site-navigation-mark: $color-light;

// Main
$color-fg-section-header-label: mixxd($color-fg, $color-bg, 0.92);

$color-fg-article-footer: mixxd($color-fg, $color-bg, 0.6);
$color-fg-article-footer-time: $color-fg;

// Footer
$color-border-global-footer: mixxd($color-fg, $color-bg, 0.88);

$color-fg-watermark: $color-bg;
$color-bg-watermark: mixxd($color-fg, $color-bg, 0.92);

$color-border-byline: mixxd($color-fg, $color-bg, 0.92);

$color-fg-elsewhere-icon: $color-bg;
$color-bg-elsewhere-icon: $color-light;
