// Basic
$color-fg: rgb(51, 51, 51);
$color-bg: rgb(252, 249, 240);
$color-base: rgb(17, 136, 187);
$color-darkest: rgb(6, 87, 122);
$color-dark: rgb(45, 111, 140);
$color-light: rgb(70, 176, 221);
$color-lightest: rgb(111, 188, 221);

// Semantic
$color-fg-body: $color-fg;
$color-fg-hr: $color-fg;
$color-fg-link: $color-base;
$color-fg-link-hover: $color-darkest;
$color-fg-logo: $color-bg;
$color-fg-gnav: $color-fg;
$color-fg-gnav-hover: $color-base;
$color-fg-gnav-active: $color-base;
$color-fg-article-meta: mixxd($color-fg, $color-bg, 0.6);
$color-fg-article-meta-time: $color-fg;
$color-fg-elsewhere-icon: $color-bg;
$color-fg-footlinks: mixxd($color-fg, $color-bg, 0.6);

$color-bg-body: $color-bg;
$color-bg-mark: rgb(255, 238, 0);
$color-bg-img: white;
$color-bg-th: mixxd($color-fg, $color-bg, 0.9);
$color-bg-td: mixxd($color-fg, $color-bg, 0.98);
$color-bg-logo: $color-light;
$color-bg-global-footer: mixxd($color-fg, $color-bg, 0.96);
$color-bg-elsewhere-icon: $color-light;

$color-border-blockquote: mixxd($color-fg, $color-bg, 0.9);
$color-border-table: mixxd($color-fg, $color-bg, 0.8);
