// Column Container
%column-container {
  @extend %clearfix;

  @media (min-width: $breakpoint-content) {
    margin-right: (- $width-gap);
    margin-left: (- $width-gap);
  }
}

// Column
@for $i from 1 through 12 {
  %column-#{$i} {
    @media (min-width: $breakpoint-content) {
      margin-right: $width-gap;
      margin-left: $width-gap;
      float: left;
      width: nth($width-column, $i);
    }
  }
}
