// Column Container
%column-container {
  @extend %clearfix;

  @media (min-width: $safe-for-content) {
    margin-right: (- $gap);
    margin-left: (- $gap);
  }
}

// Column
@for $i from 1 through 12 {
  %column-#{$i} {
    @media (min-width: $safe-for-content) {
      margin-right: $gap;
      margin-left: $gap;
      float: left;
      width: nth($colspan, $i);
    }
  }
}
