// Contact
body > footer address {
  font-style: normal;

  &::before {
    margin-top: $margin-default;
    border-top: $height-border-byline solid $color-border-byline;
    display: inline-block;
    width: $width-border-byline;
    content: "";
  }
}
