// Content
.content {
  @extend %positioning-root;
  @extend %centering;

  margin-top: $margin-content;

  > article,
  > section {
    @extend %positioning-root;
  }

  @media (min-width: $breakpoint-content) {
    margin-top: $margin-content-content;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-content-full;
  }
}
