// Root
@mixin adjust-font-size($sizes) {
  $threshold: 1.2;

  @each $size in $sizes {
    $feature-prefix: min-;
    $ratio: ($size / 16px);
    $horizontal: ($width-content--with-gap * pow($ratio, 2));
    $vertical: ($horizontal / 2);

    @if ($ratio < 1) {
      $feature-prefix: max-;
      $vertical: ($horizontal * (3 / 2));
    }

    @if ($ratio > $threshold) {
      $horizontal: ($width-full--with-gap * pow($ratio, 2) * $threshold);
      $vertical: ($horizontal / 2);
    }

    @media (#{$feature-prefix}width: $horizontal) and (#{$feature-prefix}height: $vertical) {
      font-size: percentage($ratio);
    }
  }
}

html {
  font-size: 100%;

  @include adjust-font-size($font-sizes_html);
}

// Sections
body {
  line-height: $line-height;
  color: $color-fg_body;
  background-color: $color-bg_body;
  font-family: $font-stack_body;
}

@mixin heading {
  line-height: $line-height_heading;
  color: $color-fg_heading;
}

h1 {
  @include heading;

  margin: ($margin_heading--primary / $ratio_heading) 0 0 0;
  font-size: em($ratio_heading);
}

h2 {
  @include heading;

  margin: ($margin_heading / $ratio_sub-heading) 0 0 0;
  font-size: em($ratio_sub-heading);
}

// Grouping Content
p {
  @extend %margin;

  h2 + & {
    margin-top: $margin--mini;
  }
}

hr {
  @extend %ir;
  @extend %margin;

  margin-right: auto;
  margin-left: auto;
  border: none;
  clear: both;
  width: $width_hr;
  height: $height_hr;
  background-color: transparent;

  &::before {
    background-image: $image_asterisk;
    background-repeat: repeat-x;
  }
}

pre {
  @extend %margin;

  margin-right: (- $width-gap);
  margin-left: (- $width-gap);
  padding: $width-gap;
  clear: both;
  line-height: $line-height_code;
  color: $color-fg_pre;
  background-color: $color-bg_pre;
  font-family: $font-stack_code;
  word-wrap: break-word;
  overflow-wrap: break-word;

  h2 + & {
    margin-top: $margin--mini;
  }
}

blockquote {
  margin: 0;
  border-left: $width-border_blockquote solid $color-border_blockquote;
  padding-left: ($width-gutter - $width-border_blockquote);
  color: $color-fg_blockquote;

  @media (min-width: ($breakpoint-full)) {
    margin-left: (- $width-gutter);
  }
}

ul,
ol {
  @extend %margin;

  padding: 0 0 0 $indent;
  clear: both;

  h2 + & {
    margin-top: $margin--mini;
  }

  ul,
  ol {
    margin-top: 0;
    padding-left: $indent;
  }

  @media (min-width: ($breakpoint-full)) {
    padding-left: 0;
  }
}

dl {
  @extend %margin;

  clear: both;

  h2 + & {
    margin-top: $margin--mini;
  }

  dt {
    color: $color-fg_dt;
    font-weight: bold;
  }

  dd {
    margin-left: $indent;
  }

  dl {
    margin-top: 0;
  }
}

figure {
  @extend %margin;

  position: relative;

  h2 + & {
    margin-top: $margin--mini;
  }
}

figcaption {
  @extend %hanging-block;

  blockquote + &:last-child {
    margin-top: 0;
    border-left: $width-border_blockquote solid $color-border_blockquote;
    padding-top: $margin--mini;
    padding-left: ($width-gutter - $width-border_blockquote);
  }

  @media (min-width: $breakpoint-full) {
    padding-top: $width-border_figcaption;
    border: 0 solid $color-border_figcaption;
    border-top-width: $width-border_figcaption;
    top: 0;

    &:last-child {
      padding-top: 0;
      padding-bottom: $width-border_figcaption;
      border-top-width: 0;
      border-bottom-width: $width-border_figcaption;
      top: auto;
      bottom: 0;
    }

    blockquote + &:last-child {
      margin-left: (- $width-gutter);
      margin-right: 0;
      padding-bottom: 0;
      border-bottom: 0;
      position: static;
      width: auto;
    }
  }
}

// Text-level Semantics
a {
  color: $color-fg_link;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-fg_link--hover;
  }

  h1 &,
  h2 & {
    color: inherit;

    &:hover {
      color: $color-fg_link;
    }
  }
}

em {
  @extend %auto-breaking;

  color: $color-fg_em;
  font-style: normal;
  font-weight: bold;
}

strong {
  @extend %auto-breaking;

  border-bottom: $width-border_strong dashed;
  color: $color-fg_strong;
}

cite {
  font-style: normal;
}

q {
  quotes: none;

  &::before {
    content: "\300c"; // Left Corner Bracket
  }

  &::after {
    content: "\300d"; // Right Corner Bracket
  }
}

abbr {
  @extend %auto-breaking;

  font-size: em($ratio_abbr);
  letter-spacing: $letter-spacing_abbr;
  cursor: help;
}

code,
var,
samp,
kbd {
  @extend %auto-breaking;

  font-family: $font-stack_code;
}

mark {
  @extend %auto-breaking;

  color: $color-fg_mark;
  background-color: $color-bg_mark;
}

// Edits
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded Content
@import "./bower_components/hail2u-scss-partials/vendor-extension";

img {
  @include box-sizing(border-box);

  max-width: 100%;
  height: auto;

  figure & {
    vertical-align: bottom;
    background-color: $color-bg_img;
  }
}

// Tabular Data
table {
  @extend %margin;

  display: block;
  clear: both;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;

  h2 + & {
    margin-top: $margin--mini;
  }

  @media not screen {
    display: table;
  }
}

th,
td {
  padding-top: $padding_td;
  padding-right: ($padding_td * 2);
  padding-bottom: $padding_td;
  border-bottom: $width-border_table solid $color-border_table;
  vertical-align: top;
  white-space: nowrap;
}

th {
  border-bottom-width: ($width-border_table * 2);
  text-align: left;
}
