// Root
html {
  @import "assets/partials/hail2u-scss-partials/vendor-extension";
  @include font-feature-settings("kern" 1, "lnum" 1, "pnum" 1);

  font-size: percentage($ratio-text);
}


// Sections
body {
  $lh: $line-height-small;

  background-color: $color-light;
  color: $color-dark;
  font-family: $font-stack-sans-serif;
  line-height: $lh;
  margin: 0;

  $line-height-body: $lh !global;

  @media (min-width: $breakpoint-content) {
    $lh: $line-height;

    line-height: $lh;

    $line-height-body-content: $lh !global;
  }
}

h1 {
  @extend %heading;
  @extend %link-underline-removal;

  $m: $margin-gargantuan;
  $r: $ratio-text-huge;

  font-size: rem($r);
  margin: $m 0 0;

  $height-h1: rem($line-height-heading * $r) !global;
  $margin-top-h1: $m !global;
}

article,
section {
  section h1 {
    font-size: rem($ratio-text-large);
    margin: $margin-huge 0 0;
  }

  section section h1 {
    font-size: rem($ratio-text);
    font-weight: bolder;
    margin: $margin-large 0 0;
  }
}


// Grouping Content
p {
  @extend %margin;
  @extend %margin-after-heading;
}

hr {
  @extend %margin;

  $r: $ratio-text-huge;

  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  clear: both;
  color: $color-dark-light;
  font-size: rem($r);
  height: rem($r);
  line-height: 1;
  text-align: center;

  &::before {
    content: "* * *";
  }
}

pre {
  @import "assets/partials/hail2u-scss-partials/vendor-extension";
  @extend %margin;
  @extend %margin-after-heading;
  @include font-feature-settings("zero" 1);

  clear: both;
  font-family: $font-stack-monospace;
  font-size: 1em;
  line-height: $line-height-tiny;
  overflow: auto;

  @media (min-width: $breakpoint-content) {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

blockquote {
  @extend %margin;
  @extend %margin-after-heading;

  $b: $color-light-dark;
  $f: $color-dark-light;
  $p: $width-gap;
  $w: $width-border-large;

  border-left: $w solid $b;
  color: $f;
  padding-left: $p;

  $color-border-blockquote: $b !global;
  $color-fg-blockquote: $f !global;
  $padding-left-blockquote: $p !global;
  $width-border-blockquote: $w !global;
}

ul,
ol {
  @extend %margin;
  @extend %margin-after-heading;

  $p: $indent;

  padding-left: $indent;

  $padding-left-list: $p !global;

  ul,
  ol {
    margin-top: 0;
  }
}

dl {
  @extend %margin;
  @extend %margin-after-heading;

  dl {
    margin-top: 0;
  }
}

dt {
  color: $color-dark-light;
  font-weight: bolder;
}

dd {
  margin-left: $indent;

  + dd,
  + dt {
    margin-top: $margin-tiny;
  }
}

figure {
  @extend %margin;
  @extend %margin-after-heading;
  @extend %positioning-root;
}

figcaption {
  @extend %decorative-border;
  @extend %protrusion;

  color: $color-dark-light;
  margin-top: $margin-small;

  blockquote + & {
    border-left: $width-border-blockquote solid $color-border-blockquote;
    color: $color-fg-blockquote;
    margin-top: 0;
    padding-left: $padding-left-blockquote;

    &::before {
      content: initial;
    }
  }

  @media (min-width: $breakpoint-full) {
    bottom: 0;

    blockquote + & {
      margin-right: 0;
      position: static;
      text-align: left;
      width: auto;
    }
  }
}

main {
  display: block;
}


// Text-level Semantics
a {
  @extend %link;
}

em {
  color: $color-dark-light;
  font-style: normal;
  font-weight: bolder;
}

strong {
  color: $color-secondary-dark;
  font-weight: normal;
  padding: $padding-small;
}

cite {
  font-style: normal;
}

abbr {
  cursor: help;
  letter-spacing: $width-border-small;
}

code,
var,
samp,
kbd {
  @import "assets/partials/hail2u-scss-partials/vendor-extension";
  @include font-feature-settings("zero" 1);

  font-family: $font-stack-monospace;
  font-size: 1em;

  p &::before,
  p &::after {
    content: " ";
    display: inline-block;
    font-size: 0;
    width: 0;
  }
}

mark {
  background-color: $color-secondary-light;
  color: inherit;
  padding: ($line-height-tiny / 2);
}


// Edits
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}


// Embedded Content
img,
video {
  border: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%;

  figure & {
    background-color: $color-secondary;
    vertical-align: bottom;
  }
}


// Tabular Data
table {
  @import "assets/partials/hail2u-scss-partials/vendor-extension";
  @extend %margin;
  @extend %margin-after-heading;
  @include font-feature-settings("tnum" 1);

  $c: $color-light-dark;

  border-bottom: $width-border-small solid $c;
  border-collapse: collapse;
  border-spacing: 0;
  clear: both;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;

  $color-border-table: $c !global;

  @media not screen {
    display: table;
  }
}

%table-cell,
td {
  border-top: $width-border-small solid $color-border-table;
  padding: $padding-large;
  vertical-align: top;
  white-space: nowrap;
}

th {
  @extend %table-cell;

  text-align: left;

  thead & {
    border-bottom: $width-border solid $color-border-table;
  }
}


// Forms
:-ms-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

:placeholder-shown {
  opacity: .54;
}


// SVG
svg:not(:root) {
  overflow: hidden;
}
