// The Root Element
@mixin adjust-font-size($sizes) {
  @each $s in $sizes {
    $r: $s / 16px;
    $f: min-width;
    $v: $safe-for-full * $r * 1.25;

    @if ($r < 1) {
      $f: max-width;
      $v: $safe-for-content * $r * 0.75;
    }

    // @media ($f: $v) and (resolution: 96dpi) {
    @media ($f: $v) {
      font-size: percentage($r);
    }
  }
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  @include adjust-font-size((14px, 18px, 21px, 24px, 27px, 30px));
}

// Sections
body {
  margin: 0;
  line-height: $default-line-height;
  color: $fg;
  background-color: $bg;
  font-family: $font-stack-body;
}

@mixin heading {
  line-height: $heading-line-height;
}

h1 {
  @include heading;

  margin: ($default-margin / $h1-ratio) 0 0 0;
  font-size: percentage($h1-ratio);
}

h2 {
  @include heading;

  margin: ($primary-heading-margin / $h2-ratio) 0 0 0;
  font-weight: normal;
  font-size: percentage($h2-ratio);
}

h3 {
  @include heading;

  margin: ($heading-margin / $h3-ratio) 0 0 0;
  font-size: percentage($h3-ratio);
}

h4 {
  @include heading;

  margin: ($heading-margin / $h4-ratio) 0 0 0;
  font-size: percentage($h4-ratio);
}

h5 {
  @include heading;

  margin: ($heading-margin / $h5-ratio) 0 0 0;
  font-size: percentage($h5-ratio);
}

h6 {
  @include heading;

  margin: ($heading-margin / $h6-ratio) 0 0 0;
  font-size: percentage($h6-ratio);
}

// Grouping Content
p {
  @extend %default-margin;

  h3 + &,
  h4 + &,
  h5 + &,
  h6 + & {
    @extend %mini-margin;
  }
}

@import "scss-partials/vendor-extension";

hr {
  @extend %ir;
  @extend %default-margin;
  @include box-sizing(content-box);

  $height: em($default-line-height);

  margin-right: auto;
  margin-left: auto;
  border: none;
  clear: both;
  width: $colspan3;
  height: ($default-margin + $height + $default-margin);
  background-color: transparent;
  opacity: 0.1;

  &::before {
    background-image: $seven-circles;
  }
}

pre {
  @extend %default-margin;

  margin-right: (- $gap);
  margin-left: (- $gap);
  padding: $gap;
  clear: both;
  line-height: 1.25;
  color: $fg;
  background-color: mixxd($fg, $bg, 0.98);
  font-family: $font-stack-code;
  font-size: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

blockquote {
  @extend %ir;

  $size: ($default-indent - 1em);

  margin: 0 0 0 $default-indent;
  position: relative;
  min-height: $size;
  overflow: visible;
  clear: both;

  &::before {
    margin-right: 1em;
    position: absolute;
    top: 0;
    right: 100%;
    width: $size;
    height: $size;
    background-image: $double-opening-quote;
    opacity: 0.1;
  }

  + figcaption {
    @extend %mini-margin;

    margin-left: $default-indent;
  }

  @media (min-width: $safe-for-full) {
    $size: ($colspan1 * 2 / 3);

    margin-left: 0;
    min-height: $size;

    &::before {
      margin-right: $gutter;
      width: $size;
      height: $size;
    }

    + figcaption {
      margin-right: 0;
      margin-left: 0;
      position: static;
      width: auto;
    }
  }
}

ul,
ol {
  @extend %default-margin;

  padding: 0 0 0 $default-indent;
  clear: both;

  ul,
  ol {
    margin-top: 0;
  }

  @media (min-width: $safe-for-full) {
    padding-left: 0;

    ul,
    ol {
      padding-left: $default-indent; // Revert to default indentation size
    }
  }
}

dl {
  @extend %default-margin;

  clear: both;

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: $default-indent;
  }

  dl {
    margin-top: 0;
  }
}

figure {
  @extend %default-margin;

  position: relative;
}

figcaption {
  @extend %hanging-block;

  @media screen and (min-width: $safe-for-full) {
    figure &:last-child {
      top: auto;
      bottom: em(($default-line-height - 1) * 0.5);
    }
  }
}

// Text-level Semantics
a {
  color: $link;
  text-decoration: none;

  &:focus {
    outline: 1px dotted $focus;
  }

  &:active {
    background-color: transparent;
    outline: 0;
  }

  &:hover {
    color: $hover;
    outline: 0;
  }

  section > p &,
  article > p &,
  div[itemprop="articleBody"] > p & {
    text-decoration: underline;
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  border-bottom: 1px dashed $fg;
}

@import "normalize.scss/typography/small";

cite {
  font-style: normal;
}

q {
  quotes: none;

  &::before {
    content: "\300c"; // Left Corner Bracket
  }

  &::after {
    content: "\300d"; // Right Corner Bracket
  }
}

@import "normalize.scss/typography/dfn";

abbr {
  cursor: help;
}

code,
var,
samp,
kbd {
  font-family: $font-stack-code;
  font-size: 1em;
}

@import "normalize.scss/typography/sub-and-sup";

mark {
  background-color: $mark;
}

// Edits
ins {
  border-bottom: 3px double $fg;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded Content
@import "scss-partials/vendor-extension";

img {
  @include box-sizing(border-box);

  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;

  figure & {
    vertical-align: text-bottom;
  }
}

// Tabular Data
table {
  @extend %default-margin;

  clear: both;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    padding: 0.5em;
    border: 1px solid mixxd($fg, $bg, 0.8);
    vertical-align: top;
    background-color: mixxd($fg, $bg, 0.9);
    text-align: left;
  }

  td {
    padding: 0.5em;
    border: 1px solid mixxd($fg, $bg, 0.8);
    vertical-align: top;
    background-color: mixxd($fg, $bg, 0.98);
  }
}

// Forms
@import "normalize.scss/forms/fieldset";
@import "normalize.scss/forms/legend";
@import "normalize.scss/forms/fix-font";
@import "normalize.scss/forms/fix-line-height";
@import "normalize.scss/forms/fix-text-transform";
@import "normalize.scss/forms/buttons";
@import "normalize.scss/forms/disabled";
@import "normalize.scss/forms/checkbox-and-radio";
@import "normalize.scss/forms/search";
@import "normalize.scss/forms/fix-focus-inner";
@import "normalize.scss/forms/textarea";

// SVG
@import "normalize.scss/embed/svg";
