// Header Logo
[role="banner"] h1 {
  font-size: 100%;

  a,
  mark {
    $ratio: 2;

    box-shadow: inset 0 (- $header-border-size / $ratio) 0 0 $darkest, inset 0 (- ($header-border-size * 2) / $ratio) 0 0 $base;
    display: inline-block;
    position: relative;
    width: ($logo-width / $ratio);
    height: ($logo-height / $ratio);
    overflow: hidden;
    line-height: (($logo-height - $header-border-size) / $ratio);
    color: $bg;
    background-color: $lightest;
    background-image: $texture-logo;
    font-size: percentage($ratio);

    &::first-letter {
      // TODO: Must calcurate this value
      margin-left: 0.4em;
      margin-right: ($logo-width / $ratio);
      font-family: $font-stack-logo;
      text-transform: uppercase;
      text-shadow: 0 -1px 0 mixxd($darkest, $lightest, 0.5);
      text-shadow: 0 -1px 0 transparentize($darkest, 0.5);
    }
  }
}

// Global Navigation
[role="banner"] nav {
  height: $nav-height;
  font-family: $font-stack-nav;
  line-height: $nav-height;
  text-transform: uppercase;

  ul {
    display: inline-table;
  }

  li {
    display: table-cell;
  }

  a {
    color: $fg;
    letter-spacing: -1px;
    opacity: 0.3;

    &:hover {
      color: $hover;
      opacity: 1;
    }
  }

  mark {
    color: $fg;
    background-color: transparent;
    font-weight: bold;
  }
}

// Article Meta-info
[role="main"] h2 + footer {
  color: mix($fg, $bg);

  time {
    color: $fg;
  }
}

// Global Footer
[role="contentinfo"] {
  border-top: $footer-border-size solid mixxd($fg, $dark, 0.6);
  color: $dark;
  background-color: mixxd($fg, $dark, 0.3);
  background-image: $texture-footer;

  a {
    color: mix($link, white);

    &:hover {
      color: mix($hover, white);
    }
  }

  mark {
    color: inherit;
    background-color: transparent;
  }

  address {
    a,
    mark {
      font-style: normal;
    }

    + p {
      border-top: 1px solid mixxd($fg, $dark, 0.45);
      box-shadow: 0 -1px 0 0 mixxd($fg, $dark, 0.35);
    }
  }
}

// Elsewhere
@import "scss-partials/corporate-colors";

[role="contentinfo"] section {
  a {
    @extend %ir;

    border-radius: #{($footer-icon-size * 0.5)}/#{($footer-icon-size * 0.5)};
    display: block;
    width: $footer-icon-size;
    height: $footer-icon-size;
    line-height: $footer-icon-size;
    background-color: $fg;
    opacity: 0.1;

    &:hover {
      opacity: 1;
    }

    &::before {
      background-size: 60% 60%;
    }

    &[href="https://www.facebook.com/hail2u"] {
      &:hover {
        background-color: $cc-facebook;
      }

      &::before {
        background-image: $icon-elsewhere-facebook;
      }
    }

    &[href="https://twitter.com/hail2u_"] {
      &:hover {
        background-color: $cc-twitter;
      }

      &::before {
        background-image: $icon-elsewhere-twitter;
      }
    }

    &[href="https://github.com/hail2u"] {
      &:hover {
        background-color: $cc-github;
      }

      &::before {
        background-image: $icon-elsewhere-github;
      }
    }

    &[href="http://pinterest.com/hail2u/"] {
      &:hover {
        background-color: $cc-pinterest;
      }

      &::before {
        background-image: $icon-elsewhere-pinterest;
      }
    }

    &[href="http://www.last.fm/user/hail2u"] {
      &:hover {
        background-color: $cc-lastfm;
      }

      &::before {
        background-image: $icon-elsewhere-lastfm;
      }
    }

    &[href="http://delicious.com/hail2u"] {
      &:hover {
        background-color: $cc-delicious;
      }

      &::before {
        background-image: $icon-elsewhere-delicious;
      }
    }
  }
}
