// Dedecoration
@import "./bower_components/hail2u-scss-partials/black-prints";

@media print {
  @include black-prints;

  // Hiding
  aside,
  nav,
  hr::before,
  body > header > a:first-child,
  body > header > mark:first-child,
  main > article h1::after,
  main > section h1::after,
  .byline p::after,
  .elsewhere,
  .footlinks,
  .seealso::before,
  .topic > a > p::after {
    display: none;
  }

  // Font
  body {
    font-family: $font-stack_body--print;
  }

  pre,
  code,
  var,
  samp,
  kbd {
    font-family: $font-stack_code--print;
  }

  // Page Break
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  pre,
  blockquote,
  ul,
  ol,
  dl
  figure,
  table {
    page-break-inside: avoid;
  }

  // Design Change
  hr {
    margin-top: ($margin * 2);
    margin-bottom: ($margin * 2);
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    width: 80%;
    height: 0;
  }

  pre {
    margin: $margin 0 0 0;
    padding: 0;
    border: 0;
  }

  blockquote {
    margin: 0 $indent;
    border-left: 0;
    padding-left: 0;

    + figcaption:last-child {
      border-left: 0;
      padding-left: $indent;
    }
  }

  a {
    color: inherit;

    &[href]::after {
      content: " (" attr(href) ")";
    }
  }

  figure,
  body > header,
  main section h1,
  main article h1,
  main section h1 + footer,
  main article h1 + footer,
  .byline {
    text-align: left;
  }

  figure img {
    border: 0;
  }

  table {
    table-layout: auto;

    th,
    td {
      white-space: normal;
    }
  }

  body > header,
  main,
  body > footer {
    max-width: none;
  }

  body > header h1 {
    margin-top: $margin;
    display: block;
  }

  main {
    margin-top: 0;
  }
}
