// Dedecoration
@import "scss-partials/black-prints";

@media print {
  @include black-prints;

  // Hiding
  aside,
  nav,
  hr::before,
  blockquote::before,
  .logo a::before,
  .logo mark::before,
  .elsewhere,
  .footlinks,
  .seealso::before {
    display: none;
  }

  // Font
  body {
    font-family: $font-stack-body-print;
  }

  pre,
  code,
  var,
  samp,
  kbd {
    font-family: $font-stack-code-print;
  }

  // Page Break
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  pre,
  blockquote,
  ul,
  ol,
  dl
  figure,
  table {
    page-break-inside: avoid;
  }

  // Design Change
  hr {
    border-top: 1px dashed black;
    width: 80%;
    height: 0;
  }

  a {
    color: inherit;

    &[href]::after {
      content: " (" attr(href) ")";
    }
  }

  figure img {
    border: 0;
  }

  .logo {
    $ratio: 2.25;

    margin-top: ($margin-heading / $ratio);
    font-size: percentage($ratio);

    a,
    mark {
      width: auto;
      height: auto;
      line-height: 1;
    }
  }

  .global-footer {
    text-align: center;
  }
}
