// Dedecoration
@import "./bower_components/hail2u-scss-partials/black-prints";

@media print {
  @include black-prints;

  // Hiding
  aside,
  nav,
  hr::before,
  blockquote::before,
  #logo,
  [role="contentinfo"]::before,
  [role="contentinfo"] address::before,
  .elsewhere,
  .footlinks,
  .seealso::before {
    display: none;
  }

  // Font
  body {
    font-family: $font-stack-body-print;
  }

  pre,
  code,
  var,
  samp,
  kbd {
    font-family: $font-stack-code-print;
  }

  // Page Break
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  pre,
  blockquote,
  ul,
  ol,
  dl
  figure,
  table {
    page-break-inside: avoid;
  }

  // Design Change
  hr {
    border-top: 1px dashed black;
    width: 80%;
    height: 0;
  }

  pre {
    border: 0;
  }

  a {
    color: inherit;

    &[href]::after {
      content: " (" attr(href) ")";
    }
  }

  figure img {
    border: 0;
  }

  [role="banner"],
  main,
  [role="contentinfo"] address {
    max-width: none;
  }

  [role="banner"],
  main section h1,
  main article h1,
  main section h1 + footer,
  main article h1 + footer,
  [role="contentinfo"] address {
    text-align: left;
  }

  [role="banner"] h1 {
    margin-top: $margin-default;
    display: block;
  }

  main {
    margin-top: 0;
  }
}
