// Elsewhere
.elsewhere {
  @extend %global-footer-section;

  padding-top: $margin-heading;

  ul {
    padding-left: 0;
    display: inline-table;
  }

  li {
    padding-right: ($margin-elsewhere-icon / 2);
    padding-left: ($margin-elsewhere-icon / 2);
    display: table-cell;
  }

  a {
    @extend %ir;

    border-radius: 50%;
    display: block;
    width: $width-elsewhere-icon;
    height: $height-elsewhere-icon;
    line-height: $height-elsewhere-icon;
    background-color: $color-bg-elsewhere-icon;

    &::before {
      background-size: 60%;
    }

    &[href="https://www.facebook.com/hail2u"]::before {
      background-image: $icon-facebook;
    }

    &[href="https://twitter.com/hail2u_"]::before {
      background-image: $icon-twitter;
    }

    &[href="https://github.com/hail2u"]::before {
      background-image: $icon-github;
    }

    &[href="http://pinterest.com/hail2u/"]::before {
      background-image: $icon-pinterest;
    }

    &[href="http://www.last.fm/user/hail2u"]::before {
      background-image: $icon-lastfm;
    }

    &[href="https://delicious.com/hail2u"]::before {
      background-image: $icon-delicious;
    }
  }

  @media (min-width: $breakpoint-full) {
    ul {
      margin-top: 0;
      position: absolute;
      left: $width-gap;
      z-index: 1;
    }

    li {
      padding-right: $margin-elsewhere-icon;
      padding-left: 0;
    }
  }
}
