// Elsewhere
.elsewhere {
  @extend %centering-block;

  ul {
    margin-top: 0;
    padding-left: 0;
    position: relative;

    &::after {
      @extend %hanging-block;

      display: block;
      height: em($line-height-default);
      content: "";
      background-image: linear-gradient(
        $color-fg-elsewhere-label 0,
        $color-fg-elsewhere-label 100%
      );
      background-position: left center;
      background-repeat: no-repeat;
      background-size: $width-elsewhere-label $height-elsewhere-label;
    }
  }

  li {
    display: table-cell;
    font-size: percentage($ratio-elsewhere);

    &::after {
      content: "\0020\00a0\2215\0020\00a0"; // Division Slash
    }

    &:last-child::after {
      content: "";
    }
  }

  @media (min-width: $breakpoint-full) {
    ul::after {
      margin-top: (- em($line-height-default));
    }
  }
}
