// Flat UL
.flat-ul {
  @extend %clearfix;

  margin-right: (- $width-gap);
  margin-left: (- $width-gap);

  li {
    @include box-sizing(border-box);

    padding-right: $width-gap;
    padding-left: $width-gap;
    float: left;
    width: (100% / 3);
    list-style-type: none;
  }

  @media (min-width: $breakpoint-content) {
    padding-left: 0;

    li {
      display: block;
    }
  }
}
