// Flat UL
.flat-ul {
  @extend %clearfix;

  @media (min-width: $breakpoint-content) {
    margin-right: (- $width-gap);
    margin-left: (- $width-gap);
    padding-left: 0;

    li {
      @include box-sizing(border-box);

      padding-right: $width-gap;
      padding-left: $width-gap;
      display: block;
      float: left;
      width: (100% / 3);
      list-style-type: none;
    }
  }
}
