// Logo Font
@import "datauri/kameron-b";

@font-face {
  font-family: "Logo";
  font-style: normal;
  font-weight: 400;
  src: $kameron-b format("woff");
}

// Nav Font
@import "datauri/_open-sans-condensed";

@font-face {
  font-family: "Nav";
  font-style: normal;
  font-weight: 400;
  src: $open-sans-condensed format("woff");
}
