// Footlinks
.footlinks {
  @extend %centering-block;

  ul {
    padding-left: 0;
  }

  li {
    display: table-cell;
    font-size: percentage($ratio-footlinks);

    &::before {
      content: "\00a0\0020\2219\0020\00a0"; // Bullet Operator
    }

    &:first-child::before {
      content: "Subscribe to:\0020\00a0";
    }
  }
}
