// Footlinks
.footlinks {
  @extend %global-footer-section;

  ul {
    padding-left: 0;
    color: $color-fg-footlinks;
  }

  li {
    display: inline;

    &::before {
      content: "\2219\0020";
    }

    &:first-child::before {
      content: "";
    }
  }

  @media (min-width: $breakpoint-full) {
    ul{
      margin-top: 0;
      position: absolute;
      top: (- $height-elsewhere-icon);
      right: $width-gap;
      height: $height-elsewhere-icon;
      line-height: $height-elsewhere-icon;
    }
  }
}
