@media print {
  body {
    border: none;
    color: black;
    background-color: inherit;
    font-family: "Georgia", serif;
  }

  aside,
  nav {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $default-margin;
    font-family: inherit;
  }

  p {
    a[href]::after {
      content: " (" attr(href) ")";
    }
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    border-top: 3px double black;
    width: 40%;
    height: 0;
    background-color: transparent;

    &::before {
      display: none;
    }
  }

  pre {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: "Courier New", monospace;
  }

  blockquote {
    font-style: italic;

    &::before {
      display: none;
    }
  }

  figure,
  .image {
    img {
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }

  a {
    color: black;
  }

  strong,
  ins {
    border-color: black;
  }

  code,
  var,
  samp,
  kbd {
    font-family: "Courier New", monospace;
  }

  kbd {
    padding: 0;
    border: none;
    box-shadow: none;
    display: inline;
    position: static;
    line-height: $default-line-height;
    color: inherit;
    background-color: transparent;
  }

  mark,
  .highlight {
    background: none;
  }

  table {
    th {
      border-color: black;
      font-weight: bold;
    }

    td {
      border-color: black;
    }
  }

  [role="banner"] {
    text-align: left;

    h1 {
      $ratio: 2.25;

      margin-top: $default-margin;

      a {
        display: inline;
        height: auto;
        line-height: 1;
        color: inherit;
        font-size: percentage($ratio);
        opacity: 1;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  [role="main"] {
    h2 + footer {
      color: inherit;

      time {
        color: inherit;
      }
    }
  }

  [role="contentinfo"] {
    background: none;

    address {
      text-align: left;
    }

    section {
      display: none;
    }
  }

  .pln,
  .pun,
  .opn,
  .clo,
  .str,
  .atv,
  .kwd,
  .tag,
  .com,
  .dec,
  .var,
  .typ,
  .atn,
  .lit,
  .fun {
    color: inherit;
  }
}
