// Full Width
.full-width {
  margin-right: (- $width-gap);
  margin-left: (- $width-gap);

  img,
  video,
  canvas {
    width: 100%;
    border: 0;
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-gap + $width-suppli + $width-gutter));
  }
}
