// adjust-rgb() - Adjust RGB properties at once with fixed amount.
//
// @param {color}  $color
// @param {number} $amount Adjust amount number between 0 and 1
@function adjust-rgb($color, $amount) {
  $number: 255 * $amount;

  @return adjust-color($color, $red: $number, $blue: $number, $green: $number);
}


// mixxd() - Mix colors by decimal.
//
// @param {color}   $color-1
// @param {color}   $color-2
// @param {number=} $weight  Mix weight number between 0 and 1
@function mixxd($color-1, $color-2, $weight: 0.5) {
  $percentage: percentage(1 - $weight);

  @return mix($color-1, $color-2, $percentage);
}


// em() - Convert unitless number to an em.
//
// @param {number} $number The decimal number to convert to an em
@function em($number) {
  $number: (1em * $number);

  @return $number;
}


// pow() - Raise number to the nth power
//
// @param {number} $base      The base number
// @param {number} $exponents The exponent to which to raise $base
@function pow($base, $exponents) {
  $raised: 1;

  @for $i from 1 through $exponents {
    $raised: $raised * $base;
  }

  @return $raised;
}
