// adjust-rgb() - Adjust RGB properties at once with fixed amount.
//
// @param {color}  $color
// @param {number} $amount A number between 0 and 255
// @return {color}
@function adjust-rgb($color, $amount) {
  @return adjust-color($color, $red: $amount, $blue: $amount, $green: $amount);
}


// mixxd() - Mix colors by decimal.
//
// @param {color}   $color-1
// @param {color}   $color-2
// @param {number=} $weight  A number between 0 and 1
// @return {color}
@function mixxd($color-1, $color-2, $weight: 0.5) {
  $percentage: percentage(1 - $weight);

  @return mix($color-1, $color-2, $percentage);
}


// em() - Convert unitless number to an em.
//
// @param {number} $number
// @return {number}
@function em($number) {
  $number: ($number * 1em);

  @return $number;
}


// pow() - Raise number to the nth power.
//
// @param {number} $base
// @param {number} $exponent An integer
// @returns {number}
@function pow($base, $exponent) {
  $raised: 1;

  @for $i from 1 through $exponent {
    $raised: $raised * $base;
  }

  @return $raised;
}
