// Global Footer
body > footer {
  @extend %link-underline-removal;
  @extend %centering;

  margin-bottom: $margin_heading;
  background-image: $image_global-footer__watermark;
  background-repeat: no-repeat;
  background-position: $width-gap top;
  background-size: $width_global-footer__watermark $height_global-footer__watermark;
  font-size: rem($ratio_global-footer);

  @media (min-width: $breakpoint-content) {
    height: $height_global-footer--content;
    line-height: $height_global-footer--content;
  }
}
