// Complementary
[role="complementary"] {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
  max-width: $width-content;
  text-align: center;

  @media (min-width: $breakpoint-full) {
    padding-left: ($gap + $width-suppli + $gutter);
    text-align: left;
  }
}
