// Global Footer
.global-footer {
  @extend %centering;
  @extend %link-underline-removal;
  @extend %positioning-root;

  font-size: rem($ratio-text-global-footer);
  margin-bottom: $margin-large;
}
