// Main
.wrapper {
  margin-top: (- $margin-primary-heading + $margin-heading + em($line-height-default));
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
  max-width: $width-content;

  > section,
  > article {
    @extend %clearfix;

    position: relative;
  }

  @media (min-width: $breakpoint-content) {
    margin-top: (- $margin-primary-heading + (($margin-heading + $margin-primary-heading) / 2) + em($line-height-default));
  }

  @media (min-width: $breakpoint-full) {
    padding-left: ($gap + $width-suppli + $gutter);
  }
}
