// Global Header
.global-header {
  @extend %centering;
  @extend %link-underline-removal;
  @extend %positioning-root;

  $m: $margin-small;

  margin-top: $m;

  $margin-top-global-header: $m !global;

  @media (min-width: $breakpoint-content) {
    $m: $margin;

    margin-top: $m;

    $margin-top-global-header-content: $m !global;
  }

  @media (min-width: $breakpoint-full) {
    $m: $margin-large;

    margin-top: $m;

    $margin-top-global-header-full: $m !global;
  }
}
