// Global Subcontent
.global-subcontent {
  margin-right: auto;
  margin-left: auto;
  padding-right: $width-gap;
  padding-left: $width-gap;
  max-width: $width-content;
  text-align: center;

  @media (min-width: $breakpoint-full) {
    padding-left: ($width-gap + $width-suppli + $width-gutter);
    text-align: left;
  }
}
