// Google Custom Search Engine
@import "./bower_components/hail2u-scss-partials/image-replacement";
@import "./bower_components/hail2u-scss-partials/vendor-extension";

#cse-search-box {
  margin-top: $margin-default;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: $width-google-cse;

  body > aside & {
    margin-top: $margin-heading;
  }

  input[type="text"] {
    @include box-sizing(border-box);

    padding: 0 ($height-google-cse + $margin-google-cse) 0 $margin-google-cse;
    border: 1px solid $color-border-google-cse;
    width: 100%;
    height: $height-google-cse;
    color: black;
    background-color: white;

    &:focus {
      border-color: $color-border-google-cse-focus;
    }
  }

  input[type="submit"] {
    @include ir-text-indent; // ir-pseudo-element does not work on `input`

    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: $height-google-cse;
    height: $height-google-cse;
    background-color: $color-bg-google-cse-icon;
    background-image: $image-magnifying-glass;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
  }

  @media (min-width: $breakpoint-content) {
    width: ($width-google-cse * 0.667);
  }

  @media (min-width: $breakpoint-full) {
    margin-left: 0;

    body > aside & {
      margin-top: $margin-primary-heading;
    }
  }
}
