// Google Custom Search Engine
@import "./bower_components/hail2u-scss-partials/image-replacement";
@import "./bower_components/hail2u-scss-partials/vendor-extension";

[role="search"] {
  > div {
    margin-top: $margin-default;
    display: inline-block;
    position: relative;
    width: ($width-searchbox * 1.5);

    [role="complementary"] & {
      margin-top: $margin-primary-heading;
    }
  }

  input {
    @include box-sizing(border-box);

    border-style: solid;
    border-color: $color-border-searchbox !important;
  }

  input[type="text"] {
    padding: 0 ($height-searchbox + $margin-searchbox) 0 $margin-searchbox !important;
    border-width: 1px;
    width: 100%;
    height: $height-searchbox;
    vertical-align: middle;
    color: black;
    background-color: white;
    background-position: $margin-searchbox center !important;

    &:focus,
    &:focus + input[type="submit"] {
      border-color: $color-border-searchbox-focus !important;
    }
  }

  input[type="submit"] {
    @include ir-text-indent; // ir-pseudo-element does not work on `input`

    border-width: 1px 1px 1px 0;
    position: absolute;
    top: 0;
    right: 0;
    width: $height-searchbox;
    height: $height-searchbox;
    background-color: $color-bg-searchbox-icon;
    background-image: $image-magnifying-glass;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
  }

  @media (min-width: $breakpoint-content) {
    > div {
      width: $width-searchbox;
    }
  }
}
