// Google Code Prettify
.prettyprinted {
  .str,
  .atv {
    color: $color-code-highlight-constant;
  }

  .kwd,
  .tag {
    color: $color-code-highlight-statement;
  }

  .com,
  .dec,
  .var {
    color: $color-code-highlight-comment;
  }

  .typ {
    color: $color-code-highlight-type;
  }

  .lit,
  .atn {
    color: $color-code-highlight-number;
  }

  .pun,
  .opn,
  .clo {
    color: $color-code-highlight-default;
  }

  .pln {
    color: $color-code-highlight-default;
  }

  .src {}

  .nocode {}
}
