// Hanging Block
%hanging-block {
  @media (min-width: $breakpoint-full) {
    margin-right: $width-gutter;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 1;
    width: $width-suppli;
  }
}
