// Header Logo
[role="banner"] h1 {
  $ratio: $ratio-h1;

  margin: ($margin-default / $ratio) 0 0 0;
  height: ($height-logo / $ratio);
  line-height: 1;
  font-size: percentage($ratio);

  a,
  mark {
    @extend %ir;

    border-radius: 50%;
    display: inline-block;
    width: ($width-logo / $ratio);
    height: 100%;
    line-height: ($height-logo / $ratio);
    color: $color-fg-logo;
    background-color: $color-bg-logo;

    &::before {
      background-image: $image-logo;
    }
  }
}
