// Header Logo
[role="banner"] h1 {
  $ratio: $h1-ratio;

  margin: ($default-margin / $ratio) 0 0 0;
  height: ($logo-height / $ratio);
  line-height: 1;
  font-size: percentage($ratio);

  a,
  mark {
    @extend %ir;

    border-radius: 50%;
    display: inline-block;
    width: ($logo-width / $ratio);
    height: 100%;
    line-height: ($logo-height / $ratio);
    color: $bg;
    background-color: $light;

    &::before {
      background-image: $logo;
    }
  }
}
