// Headline
body > header h1 {
  margin-top: ($margin-heading / $ratio-headline);
  font-family: $font-stack-headline;
  font-weight: 200;
  font-size: percentage($ratio-headline);

  em {
    font-weight: 400;
  }
}

.permalink > header h1 {
  display: none;
}
