// iine! Shots
@import "./bower_components/hail2u-scss-partials/vendor-extension";

.iine-shots {
  @extend %font-iine;

  margin-top: ($margin-primary-heading - $margin-heading);
  margin-bottom: (- ($margin-primary-heading - $margin-heading));
  padding: $margin-heading 0;
  max-width: none;
  color: $color-fg-iine;
  background-color: $color-bg-iine;
  font-style: italic;

  h2 {
    margin-top: 0;
    font-size: inherit;

    a {
      @extend %ir;

      display: inline-block;
      width: $width-icon-iine;
      height: $height-icon-iine;

      &::before {
        background-image: $icon-iine;
      }
    }
  }

  ol {
    @extend %clearfix;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    max-width: $width-content;
    list-style-type: none;
  }

  li {
    line-height: 1;
  }

  a {
    &:hover {
      color: $color-fg-link;

      figcaption {
        @include transition(bottom 0.1s ease-out);

        bottom: (- (0.7em * 2 + 1));
      }
    }
  }

  figure {
    display: inline-block;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  figcaption {
    @include box-sizing(border-box);
    @include transition(bottom 0.2s ease-in);

    margin-right: 0;
    padding: 0.7em 0;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    line-height: 1;
    color: $color-fg-iine-caption;
    background-color: $color-bg-iine-caption;
    text-align: center;
  }

  img {
    border: none;
  }

  & + [role="contentinfo"] .elsewhere {
    border-top: none;
  }

  @media (min-width: $breakpoint-content) {
    ol {
      max-width: ($width-gap + $width-content + $width-gap);
    }

    li {
      margin-right: $width-gap;
      margin-left: $width-gap;
      float: left;
      width: $width-column-3;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-bottom: (- ($margin-primary-heading - $margin-default));
    text-align: center;

    ol {
      max-width: ($width-gap + $width-full + $width-gap);
    }

    li {
      width: $width-column-4;
    }
  }
}
