// Iine!
@import "./bower_components/hail2u-scss-partials/vendor-extension";

#iine {
  @extend %font-iine;

  margin-top: $margin-primary-heading;
  padding: $margin-heading 0;
  border-top: 1px dashed $color-border-iine;
  max-width: none;
  font-style: italic;
  text-align: center;

  h1 {
    margin-top: 0;

    a {
      display: inline-block;
      width: ($width-iine-icon / $ratio-h1);
      height: ($height-iine-icon / $ratio-h1);
    }
  }

  ol {
    @extend %clearfix;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    max-width: $width-content;
  }

  li {
    display: block;
    line-height: 1;
  }

  figure {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
  }

  figcaption {
    @include box-sizing(border-box);
    @include transition(bottom 0.2s ease-in);

    margin-right: 0;
    padding: $margin-iine-caption 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    line-height: 1;
    color: $color-fg-iine-caption;
    background-color: $color-bg-iine-caption;
    text-align: center;
  }

  a:hover figcaption {
    @include transition(bottom 0.1s ease-out);

    bottom: (- ($margin-iine-caption * 2 + 1));
  }

  img {
    border: none;
  }

  + footer {
    margin-top: 0;
  }

  @media (min-width: $breakpoint-content) {
    ol {
      max-width: ($width-gap + $width-content + $width-gap);
    }

    li {
      @include box-sizing(border-box);

      padding-right: $width-gap;
      padding-left: $width-gap;
      float: left;
      width: (100% / 3);
    }
  }

  @media (min-width: $breakpoint-full) {
    ol {
      max-width: ($width-gap + $width-full + $width-gap);
    }
  }
}
