// Header
[role="banner"] {
  margin: 0 auto;
  padding: 0 $gap;
  position: relative;
  height: $logo-height;
  max-width: $content-width;

  h1 {
    margin: 0;
    line-height: 1;
    font-size: 100%;

    a,
    mark {
      @extend %logo;
    }
  }

  nav {
    @extend %nav;

    position: absolute;
    bottom: 0;
    right: 0;
  }

  ul {
    margin: 0;
    padding-left: 0;
    display: table;
  }

  li {
    padding: 0 $gap 0 0;
    display: table-cell;
  }

  @media (min-width: $safe-for-full) {
    max-width: $full-width;

    nav {
      left: ($gap + $suppli-width + $gutter);
      right: auto;
    }
  }
}

// Main
[role="main"] {
  margin: (- $default-margin * 4 + $logo-height - $body-border-size - $nav-height) auto ($default-margin * 4) auto;
  padding: 0 $gap;
  max-width: $content-width;

  > section,
  > article {
    @include clearfix;

    position: relative;
  }

  h2 + footer {
    color: mixxd($fg, $bg, 0.6);
    color: transparentize($fg, 0.6);
    font-family: $stack-point;

    p {
      @extend %mini-margin;
    }

    br {
      display: none;
    }

    time {
      color: $fg;
    }
  }

  @media (min-width: $safe-for-full) {
    padding-right: ($gap + $column-span1 + $gap);
    padding-left: ($gap + $suppli-width + $gap);

    h2 + footer {
      margin-right: $gutter;
      position: absolute;
      top: 0;
      right: 100%;
      width: $suppli-width;

      br {
        display: inline;
      }
    }
  }
}

// Footer
[role="contentinfo"] {
  padding: $default-margin 0;
  color: $bg;
  background-color: mixxd($fg, $bg, 0.25);
  font-family: $stack-point;
  font-style: italic;

  address,
  section,
  .license {
    margin-right: auto;
    margin-left: auto;
    padding: 0 $gap;
    max-width: $content-width;
  }

  ul {
    padding-left: 0;
    display: table;
  }

  li {
    padding: 0 ($gap * 0.5) 0 0;
    display: table-cell;

    a {
      @extend %footer-icon;
    }
  }

  @media (min-width: $safe-for-content) {
    address {
      max-width: $content-width;
    }

    section {
      position: relative;
      max-width: $content-width;
    }

    ul {
      margin-top: (- $icon-size * 0.5);
      position: absolute;
      top: 0;
      right: ($gap * 0.5);
    }

    .license {
      margin-top: 0;
      max-width: $content-width;
    }
  }

  @media (min-width: $safe-for-full) {
    address,
    section,
    .license {
      max-width: $full-width;
    }
  }
}
