// Header
[role="banner"] {
  margin: 0 auto;
  padding: 0 $gap;
  position: relative;
  max-width: $content-width;

  h1 {
    margin: 0;
    line-height: 1;
    font-size: 100%;

    a,
    mark {
      @extend %header-logo;

      margin-right: auto;
      margin-left: auto;
    }
  }

  nav {
    @extend %global-nav;
  }

  ul {
    margin: $default-margin auto 0 auto;
    padding-left: 0;
    display: table;
  }

  li {
    padding: 0 ($gap * 0.5) 0 0;
    display: table-cell;
  }

  @media (min-width: $safe-for-content) {
    height: $logo-height;

    h1 {
      a,
      mark {
        margin-right: 0;
        margin-left: 0;
      }
    }

    nav {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    ul {
      margin-top: 0;
    }

    li {
      padding-right: $gap;
    }
  }

  @media (min-width: $safe-for-full) {
    max-width: $full-width;

    nav {
      right: auto;
      left: ($gap + $suppli-width + $gutter);
    }
  }
}

// Main
[role="main"] {
  margin: (- $default-margin * 4 + $logo-height - $body-border-size - $nav-height) auto ($default-margin * 4) auto;
  padding: 0 $gap;
  max-width: $content-width;

  > section,
  > article {
    @extend %clearfix;

    position: relative;
  }

  h2 + footer {
    @extend %article-metainfo;

    p {
      @extend %mini-margin;
      @extend %hanging-block;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $safe-for-full) {
    padding-right: ($gap + $column-span1 + $gap);
    padding-left: ($gap + $suppli-width + $gap);

    h2 + footer {
      p {
        margin-top: $default-margin;
        top: auto;
      }

      br {
        display: inline;
      }
    }
  }
}

// Footer
[role="contentinfo"] {
  @extend %global-footer;

  padding: $default-margin $gap;
  color: $bg;
  text-align: center;

  section,
  address,
  ul,
  .license,
  .subscribe {
    margin: ($default-margin * 0.25) auto;
    max-width: $content-width;
  }

  ul {
    padding-left: 0;
    display: inline-table;
  }

  li {
    padding: 0 ($gap * 0.25);
    display: table-cell;

    a {
      @extend %footer-icon;
    }
  }

  .license {
    margin-top: ($default-margin + $default-margin * 0.25);
    padding-top: ($default-margin + $default-margin * 0.25);
  }

  @media (min-width: $safe-for-content) {
    text-align: left;

    address,
    section,
    .license,
    .subscribe {
      max-width: $content-width;
    }

    section {
      position: relative;
    }

    ul {
      margin-top: (- $icon-size * 0.5);
      position: absolute;
      top: (em($default-line-height) * 0.5);
      right: 0;
    }

    li {
      padding-right: 0;
      padding-left: ($gap * 0.5);
    }

    .license,
    .subscribe {
      text-align: right;
    }
  }

  @media (min-width: $safe-for-full) {
    address,
    section,
    .license,
    .subscribe {
      max-width: $full-width;
    }
  }
}
