// Header
[role="banner"] {
  margin: 0 auto;
  padding: 0 $gap;
  max-width: $content-width;
  text-align: center;

  h1 {
    margin-bottom: 0;
    line-height: 1;
    font-family: $stack-logo;
    font-style: italic;
    font-size: 225%; // 36px

    a {
      color: inherit;
    }
  }

  mark {
    color: $fg;
    background-color: transparent;
  }

  nav {
    line-height: 1;
    font-family: $stack-nav;
    font-size: 87.5%; // 14px
    text-transform: uppercase;
  }

  ul {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    display: table;
    border-spacing: $gap 0;
  }

  li {
    display: table-cell;
  }

  @media screen and (min-width: $safe-for-full) {
    padding: 0;
    position: fixed;
    top: ($font-size * 0.25); // size of body top border
    width: 100%;
    max-width: none;
    text-align: right;

    h1 {
      margin: 0 auto;
      padding-left: ($suppli-width + $gap * 3);
      padding-right: $gap;
      position: relative;
      max-width: $content-width;

      a,
      mark {
        padding-right: $gap;
        display: block;
        position: absolute;
        top: ($font-size * 10 - $font-size * 2.25 - $font-size * 2);
        left: $gap;
        width: $suppli-width;
      }
    }

    nav {
      margin: 0 auto;
      padding-left: ($suppli-width + $gap * 3);
      padding-right: $gap;
      position: relative;
      max-width: $content-width;
      font-size: 100%;
    }

    ul {
      margin: 0;
      display: block;
      position: absolute;
      top: ($font-size * 10);
      left: $gap;
      width: $suppli-width;
      line-height: 2;
    }

    li {
      display: block;
    }
  }
}

// Main
[role="main"] {
  margin: 0 auto;
  padding: 0 $gap;
  max-width: $content-width;

  @media screen and (min-width: $safe-for-full) {
    padding-left: ($suppli-width + $gap * 3);
  }
}

section,
nav,
article {
  p a {
    text-decoration: underline;
  }
}

h2 + footer {
  margin-top: (- $font-size * 2);
  color: mixxd($fg, $bg, 0.6);
  color: transparentize($fg, 0.6);
  font-family: $stack-point;

  time {
    color: $fg;
  }

  a {
    text-decoration: none;
  }
}

// Footer
[role="contentinfo"] {
  line-height: 1;
  background-color: mixxd($fg, $bg, 0.92);
  background-color: transparentize($fg, 0.92);
  font-family: $stack-point;
  font-style: italic;

  address {
    margin: ($font-size * 6) auto 0 auto;
    padding: ($font-size * 1.5) $gap;
    max-width: $content-width;
    text-align: center;
  }

  section {
    margin: 0 auto;
    padding-bottom: $font-size;
    width: (($icon-size + 2px * 2) * 7);
    line-height: 1;
  }

  ul {
    @include clearfix;

    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    display: block;
    float: left;

    a {
      margin: 0 2px;
      border-radius: #{($icon-size * 0.5)}/#{($icon-size * 0.5)};
      display: block;
      width: $icon-size;
      height: $icon-size;
      line-height: $icon-size;
      overflow: hidden;
      background-clip: padding-box;
      background-image: url("../images/icons/icons-w.png");
      background-repeat: no-repeat;
      text-decoration: none;
      background-color: $fg;
      opacity: 0.1;

      &:hover {
        border-color: $light;
        background-color: $light;
        opacity: 1;
      }

      &::before {
        display: block;
        width: 100%;
        height: 100%;
        content: "\00a0"; // nbsp
      }

      $adjuster: (($icon-size - 32px) * 0.5); 

      &[href^="http://feeds.feedburner.com/hail2u"] {
        background-position: center $adjuster;
      }

      &[href="http://www.facebook.com/hail2u"] {
        background-position: center (- 32px * 10 + $adjuster);
      }

      &[href="https://twitter.com/hell2u"] {
        background-position: center (- 32px * 3 + $adjuster);
      }

      &[href="https://github.com/hail2u"] {
        background-position: center (- 32px * 5 + $adjuster);
      }

      &[href="http://pinterest.com/hail2u/"] {
        background-position: center (- 32px * 13 + $adjuster);
      }

      &[href="http://www.last.fm/user/hail2u"] {
        background-position: center (- 32px * 7 + $adjuster);
      }

      &[href="http://www.delicious.com/hail2u"] {
        background-position: center (- 32px * 8 + $adjuster);
      }
    }
  }

  @media screen and (min-width: $safe-for-full) {
    address {
      padding: (($icon-size + $font-size) * 0.5) ($content-width + $gap * 3) (($icon-size + $font-size) * 0.5) $gap;
      max-width: $suppli-width;
      text-align: right;
    }

    section {
      padding: 0 $gap 0 ($suppli-width + $gap * 3);
      position: relative;
      width: auto;
      max-width: $content-width;
    }

    ul {
      position: absolute;
      top: (- $icon-size - $font-size);
      right: $gap;
    }

    li a {
      margin: 0 0 0 ($gap * 0.5);
    }
  }
}
