// Logo
#logo {
  margin: auto;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: $width-logo;
  height: $height-logo;
  background-color: transparent;

  img {
    width: 100%;
  }

  @media (min-width: $breakpoint-content) {
    right: auto;
    left: $width-gap;
  }
}
