// Logo
[role="banner"] h1 {
  margin: 0;
  height: $height-logo;
  line-height: 1;
  font-size: inherit;

  a,
  mark {
    @extend %ir;

    border-radius: 50%;
    display: inline-block;
    width: $width-logo;
    height: 100%;
    line-height: $height-logo;
    color: $color-fg-logo;
    background-color: $color-bg-logo;

    &::before {
      background-image: $image-logo;
    }
  }

  @media (min-width: $breakpoint-content) {
    position: absolute;
  }
}
