// Main
main {
  @extend %centering;

  margin-top: (- ($margin_heading--primary - $margin_heading));

  > article,
  > section {
    position: relative;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: 0;
  }
}
