// Main
@import "main/section-header";
@import "main/article-footer";

main {
  @extend %centering-block;

  margin-top: (- $margin-primary-heading + $margin-heading + em($line-height-default) + $margin-mini);

  > article,
  > section {
    position: relative;
  }

  article > p a,
  section > p a,
  aside > p a,
  div[itemprop="articleBody"] > p a {
    text-decoration: underline;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: (- $margin-primary-heading + $margin-heading + (($height-header-site-navigation - 1em) / 2));
  }
}
