// Main
main {
  @extend %centering-block;

  margin-top: (- $margin_heading--primary + $margin_heading + em($line-height) + $margin--mini);

  > article,
  > section {
    position: relative;
  }

  article > p a,
  section > p a,
  aside > p a,
  div[itemprop="articleBody"] > p a {
    text-decoration: underline;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: (- $margin_heading--primary + $margin_heading);
  }
}

.permalink main {
  margin-top: 0;

  @media (min-width: $breakpoint-full) {
    margin-top: 0;
  }
}
