// Messages
@mixin message-coloring($color) {
  border-color: $color;
  color: mixxd($color, black, 0.3);
  background-color: mixxd($color, white, 0.8);
}

.message {
  padding: 0.5em 1em;
  border: 1px solid;

  &::before {
    font-weight: bold;
  }
}

.warning {
  @include message-coloring(#ffdd00);

  &::before {
    content: "Warning: ";
  }
}

.error {
  @include message-coloring(#ff2233);

  &::before {
    content: "Error: ";
  }
}

.information {
  @include message-coloring(#115599);

  &::before {
    content: "Information: ";
  }
}
