// Messages
%message {
  padding: 0.5em 1em;
  border: 1px solid;

  &::before {
    font-weight: bold;
  }
}

@mixin message-coloring($color) {
  @extend %message;

  border-color: mixxd($color, white, 0.6);
  color: mixxd($color, black, 0.2);
  background-color: mixxd($color, white, 0.8);
}

.message-warning {
  @include message-coloring($color-message-warning);

  &::before {
    content: "Warning: ";
  }
}

.message-error {
  @include message-coloring($color-message-error);

  &::before {
    content: "Error: ";
  }
}

.message-information {
  @include message-coloring($color-message-information);

  &::before {
    content: "Information: ";
  }
}

.message-okay {
  @include message-coloring($color-message-okay);

  &::before {
    content: "OK: ";
  }
}
