// Monthly Archives
#by-month dl {
  @extend %clearfix;

  dd {
    margin-right: 1em;
    margin-left: 0;
    display: inline;
    color: $color-fg-monthly-archives;
    white-space: nowrap;
  }

  @media (min-width: $breakpoint-content) {
    dt {
      margin-right: 1em;
      display: inline;

      &::after {
        content: "\003a"; // Colon
      }
    }

    dd + dt::before {
      content: "\000a"; // Line Feed
      white-space: pre;
    }
  }
}
