@import "normalize.scss/base/html.scss";
@import "normalize.scss/base/fix-font.scss";
@import "normalize.scss/base/body.scss";

/* 
 * Addresses box sizing set to border-box in Firefox (include -webkit to future-proof)
 */

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@import "normalize.scss/links/fix-outline.scss";

@import "normalize.scss/typography/h1.scss";
@import "normalize.scss/typography/abbr.scss";
@import "normalize.scss/typography/fix-bolder.scss";
@import "normalize.scss/typography/blockquote.scss";
@import "normalize.scss/typography/dfn.scss";
@import "normalize.scss/typography/mark.scss";
@import "normalize.scss/typography/fix-monospace.scss";
@import "normalize.scss/typography/pre.scss";
@import "normalize.scss/typography/q.scss";
@import "normalize.scss/typography/small.scss";
@import "normalize.scss/typography/sub-and-sup.scss";

@import "normalize.scss/lists/fix-indent.scss";

@import "normalize.scss/embed/img.scss";
@import "normalize.scss/embed/svg.scss";

@import "normalize.scss/figures/figure.scss";

@import "normalize.scss/forms/form.scss";
@import "normalize.scss/forms/fieldset.scss";
@import "normalize.scss/forms/legend.scss";
@import "normalize.scss/forms/fix-font.scss";
@import "normalize.scss/forms/buttons.scss";
@import "normalize.scss/forms/checkbox-and-radio.scss";
@import "normalize.scss/forms/search.scss";
@import "normalize.scss/forms/fix-focus-inner.scss";
@import "normalize.scss/forms/textarea.scss";

@import "normalize.scss/tables/fix-cell-spacing.scss";
