// Paging
.paging {
  text-align: center;

  ul {
    @extend %hanging-block;

    margin-top: $margin-heading;
    padding-left: 0;
    display: inline-table;
  }

  li {
    padding-right: ($width-gutter / 2);
    padding-left: ($width-gutter / 2);
    display: table-cell;
  }

  a {
    @extend %ir;

    border-radius: 50%;
    display: block;
    width: $width-paging-icon;
    height: $height-paging-icon;
    background-color: $color-bg-paging;

    &[rel="prev"]::before {
      background-image: $image-arrow-left;
    }

    &[rel="next"]::before {
      background-image: $image-arrow-right;
    }
  }

  @media (min-width: $breakpoint-full) {
    position: relative;

    ul {
      margin-top: $margin-primary-heading;
      display: block;
      top: (($height-searchbox - $height-paging-icon) / 2);
    }

    li {
      padding-right: $width-gutter;
      padding-left: 0;
    }
  }
}
