// Posts
.posts {
  footer {
    @extend %article-footer;
  }

  ul {
    padding-left: 0;
  }

  li {
    @extend %margin-mini;

    position: relative;
    list-style-type: none;

    time {
      display: block;
      color: $color-fg-posts-time;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-right: (($width-posts-date + $width-gutter) / $ratio-posts-item);
      font-size: percentage($ratio-posts-item);

      time {
        margin-right: 0;
        margin-left: ($width-gutter / $ratio-posts-item);
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
      }
    }
  }
}
