// Posts
.posts {
  > a {
    color: inherit;

    .tag {
      color: $color-fg-posts-tag;
    }

    .more {
      font-weight: bold;
      color: $color-fg-posts-more;
      text-transform: uppercase;

      &::after {
        content: "\0020\2192"; // Rightwards Arrow
      }
    }

    &:hover,
    &:focus,
    &:active {
      h1 {
        color: $color-fg-link;
      }

      .more {
        color: $color-fg-posts-more-hover;
      }
    }
  }

  ol {
    padding-left: 0;
  }

  li {
    margin-top: $margin-mini;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    time {
      display: block;
      color: $color-fg-posts-list-time;
    }
  }

  @media (min-width: $breakpoint-content) {
    li {
      margin-top: ($margin-mini / $ratio-posts-list-item);
      padding-right: $width-posts-list-date;
      font-size: percentage($ratio-posts-list-item);

      time {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  @media (min-width: $breakpoint-full) {
    ol {
      margin-left: (- ($width-suppli + $width-gutter));
    }

    li {
      padding-right: 0;
      padding-left: (($width-suppli + $width-gutter) / $ratio-posts-list-item);

      time {
        right: auto;
        left: 0;
      }
    }
  }
}
