// Posts
.posts {
  > a {
    color: inherit;

    &:hover {
      color: $color-fg-link-hover;
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    @extend %margin-mini;

    position: relative;
    overflow: hidden;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    time {
      display: block;
      color: $color-fg-posts-time;
    }
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-right: (($width-posts-date + $width-gutter) / $ratio-posts-item);
      font-size: percentage($ratio-posts-item);

      time {
        margin-right: 0;
        margin-left: ($width-gutter / $ratio-posts-item);
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
      }
    }
  }

  @media (min-width: $breakpoint-full) {
    .article-footer {
      top: em($ratio-h2 * $line-height-heading);
    }
  }
}
