// Print
@import "assets/partials/hail2u-scss-partials/black-prints";

@media print {
  @include black-prints;

  // Hiding
  aside,
  nav,
  hr::before,
  .global-header,
  .footlinks,
  .byline::before,
  .icon-list,
  .searchbox,
  .seealso::before,
  .topic .section-footer + p::after {
    display: none;
  }

  // Font
  body {
    font-family: serif;
  }

  pre,
  code,
  samp,
  var,
  kbd {
    font-family: monospace;
  }

  // Page Break
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figcaption {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  pre,
  blockquote,
  ul,
  ol,
  dl,
  figure,
  table {
    page-break-inside: avoid;
  }

  // Design Change
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-content;
  }

  pre {
    margin: $margin 0 0;
    padding: 0;
  }

  a {
    color: inherit;
  }

  table {
    table-layout: auto;
  }

  th,
  td {
    white-space: normal;
  }

  .content,
  .global-footer {
    max-width: none;
  }

  .content {
    margin-top: 0;
  }

  .first-heading {
    margin-top: ($margin + rem($line-height));
  }

  .byline {
    margin-top: $margin-huge;
  }
}
