// Print
@import './bower_components/hail2u-scss-partials/black-prints';

@media print {
  @include black-prints;

  // Hiding
  aside,
  nav,
  hr::before,
  body > header h1,
  .footlinks,
  .icon-list,
  .seealso::before,
  .topic > a > p::after {
    display: none;
  }

  // Font
  body {
    font-family: $font-family__body--print;
  }

  pre,
  code,
  var,
  samp,
  kbd {
    font-family: $font-family__code--print;
  }

  // Page Break
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  pre,
  blockquote,
  ul,
  ol,
  dl
  figure,
  table {
    page-break-inside: avoid;
  }

  // Design Change
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-content;
  }

  hr {
    border-bottom: 1px dashed #000;
    border-top: 1px dashed #000;
    height: 0;
    margin-bottom: ($margin * 2);
    margin-top: ($margin * 2);
    width: 80%;
  }

  pre {
    margin: $margin 0 0;
    padding: 0;
  }

  blockquote {
    border-left: 0;
    margin: 0 $indent;
    padding-left: 0;
  }

  blockquote + figcaption:last-child {
    border-left: 0;
    padding-left: $indent;
  }

  a {
    color: inherit;

    &[href]::after {
      content: ' (' attr(href) ')';
    }
  }

  table {
    table-layout: auto;
  }

  th,
  td {
    white-space: normal;
  }

  body > header,
  main,
  body > footer {
    max-width: none;
  }

  body > header h1 {
    display: block;
    margin-top: $margin;
  }

  main {
    margin-top: 0;
  }
}
