// Basic
$ratio-golden: 1.61803;
$ratio-silver: 2.41421;
$ratio-bronze: 3.30378;
$ratio-yamato: 1.41421;

// Text Size
$ratio-primary-text: (16px / 16px);
$ratio-secondary-text: (30px / 16px);
$ratio-code: 0.875;

// Heading Ratio
$ratio-alpha: $ratio-secondary-text;
$ratio-beta: ($ratio-primary-text * $ratio-golden);
$ratio-gamma: ($ratio-secondary-text / $ratio-golden);
$ratio-delta: $ratio-primary-text;
$ratio-epsilon: ($ratio-secondary-text / pow($ratio-golden, 2));
$ratio-zeta: ($ratio-primary-text / $ratio-golden);

// Header
$ratio-site-navigation: 0.875;

// Main
$ratio-section-header-label: (1 / $ratio-beta);

// Footer
$ratio-elsewhere-icon-margin: 0.25;
