// Basic
$ratio-golden: 1.61803;
$ratio-silver: 2.41421;
$ratio-bronze: 3.30378;
$ratio-yamato: 1.41421;

// Text Size
$ratio-primary-text: (16px / 16px);
$ratio-secondary-text: (30px / 16px);

// Heading Ratio
$ratio-h1: ($ratio-primary-text * pow($ratio-golden, 2));
$ratio-h2: $ratio-secondary-text;
$ratio-h3: ($ratio-primary-text * $ratio-golden);
$ratio-h4: ($ratio-secondary-text / $ratio-golden);
$ratio-h5: $ratio-primary-text;
$ratio-h6: ($ratio-secondary-text / pow($ratio-golden, 2));

// Main Component
$ratio-site-navigation: 0.875;
$ratio-elsewhere-icon-margin: 0.25;
