// Read Older
.read-older {
  text-align: center;

  p {
    margin-top: $margin-heading;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a[rel="prev"]::before {
    display: inline;
    content: "Read Older:\000a";
    color: $color-fg;
    font-weight: bold;
    text-transform: uppercase;
    white-space: pre;
  }

  @media (min-width: $breakpoint-full) {
    text-align: left;

    p {
      margin-top: $margin-primary-heading;
      margin-left: (- ($width-suppli + $width-gutter));
    }

    a[rel="prev"]::before {
      content: "Read Older:\0020";
    }
  }
}
