// Read Older
.read-older {
  font-size: percentage($ratio-read-older-title);
  text-align: center;

  p {
    margin-top: ($margin-heading / $ratio-read-older-title);
    overflow: hidden;
    line-height: $line-height-heading;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
      display: block;
      content: "\2014\0020Read\0020older\0020\2014";
      color: $color-fg-read-older-label;
      font-size: percentage(1 / $ratio-read-older-title);
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @media (min-width: $breakpoint-full) {
    text-align: left;

    p {
      margin-top: ($margin-primary-heading / $ratio-read-older-title);

      &::before {
        content: "Read older:";
      }
    }
  }
}
