// Recent Posts
#posts {
  $ratio: $ratio-h4;
  $width-date: $colspan2;

  > ul {
    padding-left: 0;

    li {
      @extend %mini-margin;

      position: relative;
      overflow: hidden;
      list-style-type: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      time {
        display: block;
        color: mixxd($color-fg, $color-bg, 0.6);
      }
    }
  }

  @media (min-width: $breakpoint-content) {
    > ul {
      li {
        padding-right: (($width-date + $gutter) / $ratio);
        font-size: percentage($ratio);

        time {
          margin-right: 0;
          margin-left: ($gutter / $ratio);
          position: absolute;
          top: 0;
          right: 0;
          text-align: right;
        }
      }
    }
  }
}
