// Section Header
main {
  > article,
  > section {
    h1 {
      position: relative;

      &::after {
        @extend %hanging-block;

        display: block;
        height: em($line-height-default);
        content: "";
        background-image: linear-gradient(
          $color-fg-section-header-label 0,
          $color-fg-section-header-label 100%
        );
        background-position: left center;
        background-repeat: no-repeat;
        background-size: $width-section-header-label $height-section-header-label;
        font-size: percentage($ratio-section-header-label);
      }

      @media (min-width: $breakpoint-full) {
        &::after {
          height: em($ratio-section-header * $line-height-heading);
        }
      }
    }
  }
}
