// Seealso
.seealso {
  @extend %ir;

  color: $color-fg-seealso;
  font-weight: bold;

  a {
    font-weight: normal;
  }

  &::before {
    margin-right: $margin-seealso-icon;
    display: inline-block;
    width: $width-seealso-icon;
    background-image: $image-chain;
    opacity: 0.3;
  }
}
