// Seealso
.seealso {
  @extend %margin-default;

  font-weight: bold;

  a {
    font-weight: normal;
  }

  &::before {
    margin-right: ($width-seealso-icon / 4);
    display: inline-block;
    width: $width-seealso-icon;
    content: "\00a0";
    background-image: $image-chain;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }
}
