// Seemore
.seemore {
  a {
    border-bottom: $width-border-seemore solid;
    font-size: percentage($ratio-seemore);
    font-weight: bold;

    &::after {
      content: "\0020\2192"; // Rightwards Arrow
    }
  }
}
