// Seealso
.seealso {
  @extend %default-margin;

  $chain-size: em($line-height-default);

  line-height: $chain-size;

  &::before {
    display: inline-block;
    width: $chain-size;
    height: $chain-size;
    content: "\00a0";
    background-image: $image-chain;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }
}
