// Seemore
.seemore {
  a {
    border-bottom: 0.125em dotted;
    font-size: percentage($ratio-seemore);
    font-weight: bold;

    &::after {
      content: "\0020\2192"; // Rightwards Arrow
    }
  }
}
