// Share on Twitter
@import "scss-partials/corporate-colors";

.share-on-twitter {
  position: relative;

  p {
    @extend %hanging-block;

    top: (- ($margin-default + $line-height-default));
    background-image: $icon-twitterbird;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $width-twitterbird auto;

    a {
      padding-left: ($width-twitterbird * 1.2);
      color: $cc-twitter;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
