// Twitter Share Button
.share-buttons {
  @extend %hanging-block;

  text-align: center;

  ul {
    padding-left: 0;
    display: inline-table;
  }

  li {
    display: table-cell;
    height: $height-share-buttons;
  }

  a {
    margin-right: ($margin-share-buttons / 2);
    margin-left: ($margin-share-buttons / 2);
    padding-left: ($width-share-buttons-icon + 0.125em);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $width-share-buttons-icon;
    font-size: percentage($ratio-share-buttons);

    &[href^="https://www.facebook.com/"] {
      color: $color-fg-social-buttons-facebook;
      background-image: $icon-facebookf;
    }

    &[href^="https://twitter.com/"] {
      color: $color-fg-social-buttons-twitter;
      background-image: $icon-twitterbird;
    }
  }

  @media (min-width: $breakpoint-content) {
    text-align: left;

    a {
      margin-right: $margin-share-buttons;
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint-full) {
    top: auto;

    ul {
      margin-top: (- ($height-share-buttons * 2));
      display: block;
    }

    li {
      display: block;
    }

    a {
      margin-right: 0;
    }
  }
}
