// Share on Twitter
@import "scss-partials/corporate-colors";

.share-on-twitter {
  $bird-size: em($line-height-default);

  position: relative;

  p {
    @extend %hanging-block;

    top: (- ($margin-default + $line-height-default));
    background-image: $icon-twitterbird;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto $bird-size;

    a {
      padding-left: ($bird-size * 1.2);
      color: $cc-twitter;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
