// Sidenote
.sidenote {
  @extend %hanging-block;

  color: $color-fg-sidenote;

  p {
    margin-top: ($margin-default / $ratio-sidenote);
    font-size: percentage($ratio-sidenote);
  }

  @media (min-width: $breakpoint-full) {
    top: auto;
  }
}
