// Sidenote
.sidenote {
  @extend %hanging-block;

  color: mixxd($fg, $bg, 0.6);

  p {
    $ratio: 0.8;

    margin-top: ($default-margin / $ratio);
    font-size: percentage($ratio);
  }

  @media (min-width: $safe-for-full) {
    top: auto;
  }
}
