// Site Navigation
body > header nav {
  position: absolute;
  top: (($height-logo / $ratio-golden - $height-site-navigation) / 2);
  right: $width-gap;

  ul {
    margin-top: 0;
    padding-left: 0;
    height: $height-site-navigation;
    line-height: remove-unit($height-site-navigation);
    text-transform: uppercase;
  }

  li {
    padding-left: ($width-site-navigation-gutter * 0.25 / $ratio-site-navigation);
    display: table-cell;
    font-size: percentage($ratio-site-navigation);
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $color-fg-site-navigation;

    &:hover,
    &:focus,
    &:active {
      color: $color-fg-site-navigation-hover;
    }
  }

  mark {
    color: $color-fg-site-navigation-mark;
    background-color: transparent;
    font-weight: bold;
  }

  @media (min-width: $breakpoint-content) {
    top: (($height-logo - $height-site-navigation) / 2);

    li {
      padding-left: ($width-site-navigation-gutter * 0.5 / $ratio-site-navigation);
    }
  }

  @media (min-width: $breakpoint-full) {
    right: auto;

    li {
      padding-right: ($width-site-navigation-gutter / $ratio-site-navigation);
      padding-left: 0;
    }
  }
}
