// Site Navigation
body > header nav {
  position: absolute;
  top: (($height-header-logo - $height-header-site-navigation-small * 4) / 2);
  right: $width-gap;
  text-align: right;

  ul {
    margin-top: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  li {
    display: block;
    height: ($height-header-site-navigation-small / $ratio-header-site-navigation);
    line-height: remove-unit($height-header-site-navigation-small / $ratio-header-site-navigation);
    font-size: em($ratio-header-site-navigation);
  }

  a {
    display: inline-block;
    color: $color-fg-header-site-navigation;

    &:hover,
    &:focus,
    &:active {
      color: $color-fg-header-site-navigation-hover;
    }
  }

  mark {
    color: $color-fg-header-site-navigation-mark;
    background-color: transparent;
    font-weight: bold;
  }

  @media (min-width: $breakpoint-content) {
    top: (($height-header-logo - $height-header-site-navigation) / 2);
    text-align: left;

    li {
      padding-left: ($width-header-site-navigation-gutter * 0.5 / $ratio-header-site-navigation);
      display: table-cell;
      height: ($height-header-site-navigation / $ratio-header-site-navigation);
      line-height: remove-unit($height-header-site-navigation / $ratio-header-site-navigation);
    }
  }

  @media (min-width: $breakpoint-full) {
    right: auto;

    li {
      padding-right: ($width-header-site-navigation-gutter / $ratio-header-site-navigation);
      padding-left: 0;
    }
  }
}
