// Site Navigation
.site-navigation {
  height: $height-nav;
  line-height: $height-nav;
  text-transform: uppercase;

  ul {
    margin-top: 0;
    padding-left: 0;
    display: inline-table;
  }

  li {
    $ratio: 0.875;

    padding-right: ($height-nav * 0.125 / $ratio);
    padding-left: ($height-nav * 0.125 / $ratio);
    display: table-cell;
    font-size: percentage($ratio);
  }

  a {
    color: $color-fg-gnav;

    &:hover {
      color: $color-fg-gnav-hover;
    }
  }

  mark {
    border-bottom-width: $width-border-nav-item-active;
    border-bottom-style: solid;
    color: $color-fg-gnav-active;
    background-color: transparent;
    font-weight: bold;
  }

  @media (min-width: $breakpoint-content) {
    position: absolute;
    bottom: 0;
    right: $width-gap;

    ul {
      margin-top: 0;
    }

    li {
      padding-right: 0;
      padding-left: ($height-nav * 0.5);
      font-size: 100%;
    }
  }

  @media (min-width: $breakpoint-full) {
    right: auto;
    left: ($width-gap + $width-suppli + $width-gutter);

    li {
      padding-right: ($height-nav * 0.5);
      padding-left: 0;
    }
  }
}
