// Line Height
$line-height-default: $ratio-golden;
$line-height-heading: 1.25;
$line-height-pre: 1.3;

// Margin
$margin-default: em($line-height-default);
$margin-heading: ($margin-default * 2);
$margin-primary-heading: ($margin-heading * 2);
$margin-mini: ($margin-default / 3);

// Indent
$indent-default: em(pow($ratio-golden, 2));
$indent-blockquote: 1.25em;

// Column
$sce-gutter: em($ratio-golden);
$sce-column: ($sce_gutter * 2);

@import "./bower_components/scss-column-equation/sce";

$width-gutter: $sce-gutter;
$width-gap: $sce-gap;
$width-column: $sce_colspan;

// Main Component
$width-content: nth($width-column, 9);
$width-suppli: nth($width-column, 3);
$width-full: nth($width-column, 12);
$width-extra: nth($width-column, 1);
$width-logo: nth($width-column, 1);
$height-logo: $width-logo;
$height-nav: $height-logo;
$width-elsewhere-icon: 1.2em;
$height-elsewhere-icon: $width-elsewhere-icon;
$margin-elsewhere-icon: ($width-elsewhere-icon / 4);
$width-elsewhere: (($width-elsewhere-icon + $margin-elsewhere-icon) * 3);

// Decoration
$width-border-blockquote: 0.25em;
$width-border-img: 1em;
$width-border-nav-item-active: 0.2em;
$width-border-byline: 6.25em;
$height-border-byline: 0.125em;

// Breakpoint
$breakpoint-content: ($width-gap + $width-extra + $width-content + $width-extra + $width-gap);
$breakpoint-full: ($width-gap + $width-extra + $width-full + $width-extra + $width-gap);
