// Line Height
$line-height-default: $ratio-golden;
$line-height-heading: 1.25;

// Margin
$margin-default: em($line-height-default);
$margin-heading: ($margin-default * 2);
$margin-primary-heading: ($margin-heading * 2);

// Indent
$indent-default: em(pow($ratio-golden, 2));

// Column
$gutter: em($ratio-golden);
$column: ($gutter * 2);

@import "scss-column-equation/sce.scss";

// Main Component
$width-content: $colspan9;
$width-suppli: $colspan3;
$width-full: $colspan12;
$width-logo: $colspan1;
$height-logo: $colspan1;
$height-nav: $height-logo;

// Breakpoint
$breakpoint-content: ($gap + $colspan1 + $gutter + $width-content + $gutter + $colspan1 + $gap);
$breakpoint-full: ($gap + $colspan1 + $gutter + $width-full + $gutter + $colspan1 + $gap);
