// Social Buttons
.social-buttons {
  ul {
    padding-left: 0;
  }

  li {
    @extend %margin-mini;

    min-width: 110px;
    height: 20px;
    line-height: 1;
    list-style-type: none;
  }

  div {
    display: inline-block;
  }

  @media (min-width: $breakpoint-content) {
    li {
      margin-top: 0;
      padding-right: 0;
      display: inline-block;
    }
  }
}
