// Tagline
body > header h1 {
  margin-top: ($margin-heading / $ratio-tagline);
  font-family: $font-stack-tagline;
  font-weight: 200;
  font-size: em($ratio-tagline);

  em {
    font-weight: 400;
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-suppli + $width-gutter) / $ratio-tagline);
  }
}

.permalink > header h1 {
  display: none;
}
