// Twitter Share Button
.twitter-share-button {
  @extend %hanging-block;

  top: auto;

  p {
    margin-top: (- em($line-height-default));
    overflow: hidden;
    background-image: $icon-twitterbird;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $width-twitterbird auto;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      padding-left: ($width-twitterbird * 1.2);
      color: $color-fg-twitterbird;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
