// Font
$sans-serif: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$serif:      "Palatino", "Palatino Linotype", serif;
$monospace:  "Monaco", "Andale Mono", monospace;

// Color
$base:     rgb(136, 187, 204); // #88bbcc

$darkest:  rgb( 44, 111, 133);
$dark:     rgb(115, 143, 153);
$light:    rgb(172, 215, 230);
$lightest: rgb(187, 219, 230);

$fg: rgb(  9,   9,   9);
$bg: rgb(249, 246, 240);

$link:  $darkest;
$hover: $base;
$mark:  rgb(255, 238,   0);

// Size
$font-size:    16px;
$icon-size:    32px;
$favicon-size: 16px;

$portrait:  320px;
$landscape: 480px;
$tablet:    768px;
$netbook:  1024px;
$desktop:  1280px;

// Layout
$cwidth: ($tablet - $font-size * 2);

// Data URI Image
$simple-linear-gradient: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjAiPgogIDxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IHgxPSIwIiB5MT0iMCIgeDI9IjAiIHkyPSIxMDAlIiBpZD0iZ3JhZGllbnQiPgogICAgICA8c3RvcCBvZmZzZXQ9IjAlIiAgIHN0eWxlPSJzdG9wLWNvbG9yOiByZ2IoMjU1LCAyNTUsIDI1NSk7IHN0b3Atb3BhY2l0eTogMC40OyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiByZ2IoMjU1LCAyNTUsIDI1NSk7IHN0b3Atb3BhY2l0eTogMDsiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgogIDxyZWN0IHg9IjAiIHk9IjAiIGZpbGw9InVybCgjZ3JhZGllbnQpIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIi8+Cjwvc3ZnPgo=");
$button-overlay: $simple-linear-gradient;
$left-arrow: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgaWQ9ImxlZnQtYXJyb3ciCiAgdmlld0JveD0iMCAwIDY0IDY0IgogIHZlcnNpb249IjEuMSIKICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyKSwgcm90YXRlKC00NSwgMzIsIDMyKSI+CiAgICA8ZyBmaWxsPSJub25lIgogICAgICBzdHJva2U9IiNmZmYiCiAgICAgIHN0cm9rZS13aWR0aD0iOCI+CiAgICAgIDxsaW5lIHgxPSIwIiB5MT0iNCIgeDI9IjI0IiB5Mj0iNCIvPgogICAgICA8bGluZSB4MT0iNCIgeTE9IjAiIHgyPSI0IiB5Mj0iMjQiLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=");
$right-arrow: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgaWQ9InJpZ2h0LWFycm93IgogIHZpZXdCb3g9IjAgMCA2NCA2NCIKICB2ZXJzaW9uPSIxLjEiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzIpLCByb3RhdGUoMTM1LCAzMiwgMzIpIj4KICAgIDxnIGZpbGw9Im5vbmUiCiAgICAgIHN0cm9rZT0iI2ZmZiIKICAgICAgc3Ryb2tlLXdpZHRoPSI4Ij4KICAgICAgPGxpbmUgeDE9IjAiIHkxPSI0IiB4Mj0iMjQiIHkyPSI0Ii8+CiAgICAgIDxsaW5lIHgxPSI0IiB5MT0iMCIgeDI9IjQiIHkyPSIyNCIvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+Cg==");
