// Font
$sans-serif: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$serif:      "Palatino", "Palatino Linotype", serif;
$monospace:  "Monaco", "Consolas", monospace;

// Color
$base:     rgb( 85, 136, 153); // #88bbcc

$darkest:  rgb( 28,  82,  99);
$dark:     rgb( 76, 105, 115);
$light:    rgb(136, 187, 204);
$lightest: rgb(154, 192, 204);

$fg:       rgb(  9,   9,   9);
$bg:       rgb(249, 246, 240);

$link:     $base;
$hover:    $darkest;
$mark:     rgb(255, 238,   0);

// Size
$font-size: 16px;
$icon-size: 40px;

// Layout
$cwidth: ($font-size * 48 - $font-size * 2);

// Data URI Image
$button-overlay-normal: url("data:image/svg+xml;base64,PD94bWwKdmVyc2lvbj0iMS4wIgplbmNvZGluZz0iVVRGLTgiCnN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKdmVyc2lvbj0iMS4xIgp4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50CngxPSIwIgp5MT0iMCIKeDI9IjAiCnkyPSIxMDAlIgppZD0iZ3JhZGllbnQiPgo8c3RvcApvZmZzZXQ9IjAlIgpzdHlsZT0ic3RvcC1jb2xvcjojZmZmO3N0b3Atb3BhY2l0eTowLjQ7Ii8+CjxzdG9wCm9mZnNldD0iMTAwJSIKc3R5bGU9InN0b3AtY29sb3I6I2ZmZjtzdG9wLW9wYWNpdHk6MDsiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8cmVjdAp4PSIwIgp5PSIwIgpmaWxsPSJ1cmwoI2dyYWRpZW50KSIKd2lkdGg9IjEwMCUiCmhlaWdodD0iMTAwJSIvPgo8L3N2Zz4K");
$button-overlay-active: url("data:image/svg+xml;base64,PD94bWwKdmVyc2lvbj0iMS4wIgplbmNvZGluZz0iVVRGLTgiCnN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKdmVyc2lvbj0iMS4xIgp4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50CngxPSIwIgp5MT0iMCIKeDI9IjAiCnkyPSIxMDAlIgppZD0iZ3JhZGllbnQiPgo8c3RvcApvZmZzZXQ9IjAlIgpzdHlsZT0ic3RvcC1jb2xvcjojZmZmO3N0b3Atb3BhY2l0eTowOyIvPgo8c3RvcApvZmZzZXQ9IjEwMCUiCnN0eWxlPSJzdG9wLWNvbG9yOiNmZmY7c3RvcC1vcGFjaXR5OjAuNDsiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8cmVjdAp4PSIwIgp5PSIwIgpmaWxsPSJ1cmwoI2dyYWRpZW50KSIKd2lkdGg9IjEwMCUiCmhlaWdodD0iMTAwJSIvPgo8L3N2Zz4K");

$left-arrow:  url("data:image/svg+xml;base64,PD94bWwKdmVyc2lvbj0iMS4wIgplbmNvZGluZz0iVVRGLTgiCnN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKdmlld0JveD0iMCAwIDY0IDY0Igp2ZXJzaW9uPSIxLjEiCnhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnCnRyYW5zZm9ybT0idHJhbnNsYXRlKDMyKSxyb3RhdGUoLTQ1LDMyLDMyKSI+CjxnCmZpbGw9Im5vbmUiCnN0cm9rZT0iI2ZmZiIKc3Ryb2tlLXdpZHRoPSI4Ij4KPGxpbmUKeDE9IjAiCnkxPSI0Igp4Mj0iMjQiCnkyPSI0Ii8+CjxsaW5lCngxPSI0Igp5MT0iMCIKeDI9IjQiCnkyPSIyNCIvPgo8L2c+CjwvZz4KPC9zdmc+Cg==");
$right-arrow: url("data:image/svg+xml;base64,PD94bWwKdmVyc2lvbj0iMS4wIgplbmNvZGluZz0iVVRGLTgiCnN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKdmlld0JveD0iMCAwIDY0IDY0Igp2ZXJzaW9uPSIxLjEiCnhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnCnRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMikscm90YXRlKDEzNSwzMiwzMikiPgo8ZwpmaWxsPSJub25lIgpzdHJva2U9IiNmZmYiCnN0cm9rZS13aWR0aD0iOCI+CjxsaW5lCngxPSIwIgp5MT0iNCIKeDI9IjI0Igp5Mj0iNCIvPgo8bGluZQp4MT0iNCIKeTE9IjAiCngyPSI0Igp5Mj0iMjQiLz4KPC9nPgo8L2c+Cjwvc3ZnPgo=");
