// Font Stack
$stack-body: "Gill Sans", "Calibri", sans-serif;
$stack-logo: "Logo", serif;
$stack-heading: "Lucida Grande", "Segoe UI", sans-serif;
$stack-point: "Hoefler Text", "Constantia", serif;
$stack-nav: "Nav", sans-serif;
$stack-code: "Monaco", "Consolas", monospace;

// Color
$fg: rgb(9, 9, 9);
$bg: rgb(255, 252, 240);
$base: rgb(85, 136, 153); // #558899
$darkest: rgb(28, 82, 99);
$dark: rgb(76, 105, 115);
$light: rgb(136, 187, 204);
$lightest: rgb(154, 192, 204);

// Semantics Color
$link: $base;
$focus: $lightest;
$hover: $darkest;
$mark: rgb(255, 238, 0);
$selection-fg: grayscale($bg);
$selection-bg: grayscale($darkest);

// Ratio
$golden-ratio: 1.618;
$silver-ratio: 2.414;
$bronze-ratio: 3.303;
$yamato-ratio: 1.414;

// Line Height
$default-line-height: $golden-ratio;
$heading-line-height: 1.25;

// Margin
$default-margin: em($default-line-height);
$heading-margin: ($default-margin * 2);
$primary-heading-margin: ($heading-margin * 2);

// Indent
$default-indent: 2.5em;

// Column
$column: 3.5em;
$gutter: 2em;

@import "scss-column-equation/sce.scss";

// Main Component Size
$content-width: $colspan9;
$suppli-width: $colspan2;
$full-width: $colspan12;
$logo-width: $colspan1;
$logo-height: ($logo-width * $golden-ratio);
$nav-height: em(1);

// Breakpoint
$safe-for-content: ($gap + $content-width + $gap);
$safe-for-full: ($gap + $full-width + $gap);

// Widget Size
$header-border-size: 0.25em;
$footer-border-size: $header-border-size;
$footer-icon-size: 2.5em;
