// Selection
$color-fg-selection: grayscale($color-bg);
$color-bg-selection: $color-darkest;

// Google Custom Search Engine
$color-cse-text: mixxd($color-fg, $color-bg, 0.9);
$color-cse-text-focus: $color-dark;

// Seemore
$color-fg-seemore: $color-bg;
$color-bg-seemore: $color-lightest;

// Sidenote
$color-fg-sidenote: mixxd($color-fg, $color-bg, 0.6);

// Posts
$color-fg-posts-time: mixxd($color-fg, $color-bg, 0.6);

// Flat DL
$color-fg-flat-dl: mixxd($color-fg, $color-bg, 0.8);

// Read Older
$color-fg-read-older: $color-fg;

// Paging
$color-bg-paging: mix($color-bg, grayscale($color-light));
$color-bg-paging-hover: $color-light;

// Shots-on-iine!
$color-fg-iine: $color-fg;
$color-bg-iine: mixxd($color-fg, $color-bg, 0.96);
$color-fg-iine-caption: $color-bg;
$color-bg-iine-caption: transparentize($color-fg, 0.3);
