// Grid overlay
@import "scss-partials/grid-overlay";

body.debug {
  @include grid-overlay(($gap * 2), $column);

  @media screen and (min-width: $safe-for-full) {
    @include grid-overlay($column, ($gap * 2));
  }
}

// News (inherit Minimal List)
#news ul {
  @extend .minimal;

  li::after {
    content: " \2756";
  }

  li:last-child::after {
    content: "";
  }
}

// Monthly Archives (inherit Flat Description List)
#by-month dl {
  @extend .flat;

  dd {
    color: mixxd($fg, $bg, 0.75);
    color: transparentize($fg, 0.75);
  }
}

// Posts (inherit Column)
#posts {
  @extend .column-container;

  @media screen and (min-width: $safe-for-content) {
    > h2 {
      $ratio: 1.5;

      margin-right: ($gap / $ratio);
      margin-left: ($gap / $ratio);
    }
  }
}

#posts > section {
  @extend .column-3;

  margin-left: 2.5em;
  display: list-item;

  h3 {
    margin: 0.375em 0 0 0; // 0.375 comes from (1.75 - 1) / 2
    font-weight: normal;
    font-size: 100%;
  }

  p {
    display: none;
  }

  @media screen and (min-width: $safe-for-content) {
    margin-left: $gap;
    display: block;

    a {
      display: block;
    }

    h3 {
      margin: 0;
      padding-bottom: 0.5em;
      line-height: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
      height: (0.75em * 1.75 * 6 / 0.75);
      display: block;
      overflow: hidden;
      color: $fg;
      font-size: 75%; // 12px
    }
  }
}

// Seemore (inherit Elegant Button)
.seemore {
  a {
    @extend .elegant-btn;

    &::after {
      content: "\0020\00bb"; // space + raquo
    }
  }
}

// Searchbox
.searchbox {
  form {
    @extend %default-margin;
  }

  div {
    padding: 6px;
    border-radius: 16px/20px;
    display: inline-block;
    line-height: 1;
    background-color: mixxd($fg, $bg, 0.92);
    background-color: transparentize($fg, 0.92);
  }

  input {
    border: 0;
    vertical-align: middle;
    box-sizing: content-box;

    &:active,
    &:focus {
      outline: none;
    }
  }

  input[type="text"] {
    margin: 0 -32px 0 0;
    padding: 2px 32px 2px 8px;
    border-radius: 12px/16px;
    width: 184px;
    height: 28px;
  }

  input[type="submit"] {
    @extend .elegant-btn;

    padding: 0;
    width: 78px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;

    &:active {
      line-height: 32px;
    }
  }
}

// Paging
.paging {
  ul {
    margin: 6em auto 0 auto;
    padding-left: 0;
    display: table;
  }

  li {
    padding: 0 $gap;
    display: table-cell;
  }

  a {
    border-radius: #{($column * 0.5)}/#{($column * 0.5)};
    display: block;
    width: $column;
    height: $column;
    overflow: hidden;
    color: $bg;
    background-color: $fg;
    opacity: 0.1;

    &:hover {
      background-color: $lightest;
      opacity: 1;
    }

    &::before {
      display: block;
      width: 100%;
      height: 100%;
    }

    &[rel="prev"]::before {
      content: $left-arrow;
    }

    &[rel="next"]::before {
      content: $right-arrow;
    }
  }

  @media screen and (min-width: $safe-for-full) {
    ul {
      @include clearfix;

      margin-left: 0;
    }

    li {
      padding: 0 ($gap * 2) 0 0;
    }
  }
}

/*
 * 3rd Party Widgets
 */

// Social Buttons
.buttons {
  @include clearfix;
  @extend %default-margin;

  line-height: 1;

  // very ugly...
  > div,
  > span {
    display: block !important;
    float: left !important;
  }
}

// Facebook Like Button
.like {
}

// Twitter Tweet Button
.tweet {
}

// Google +1 Button
.plusone {
}

// Hatena Star
.star {
}

body > div > div > blockquote {
  min-height: 0;

  &:before {
    display: none;
  }
}

// Readability Button
.readability {
  height: 23px;
}

// Google AdSense
.adsense {
  margin: 6em 0 0 0;
  padding: 0.5em 0;
  border: 1px solid rgb(207, 204, 198);
  clear: both;
  line-height: 1;
  overflow: hidden;
  background-color: rgb(243, 240, 234);
  text-align: center;

  &::before {
    margin: 0 8px 4px 8px;
    padding: 0 4px 8px 4px;
    border-bottom: 2px groove rgb(255, 252, 246);
    display: block;
    height: auto;
    visibility: visible;
    content: "Advertisements";
    color: rgb(231, 227, 221);
    font-family: $stack-point;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0 -1px 0 rgb(159, 156, 150)
  }
}

// Google Code Prettify
.pln,
.typ,
.pun,
.opn,
.clo,
.fun {
  color: #000;
}

.str,
.atv {
  color: #090;
}

.lit {
  color: #c00;
}

.kwd,
.tag,
.atn {
  color: #00c;
}

.com,
.dec,
.var {
  color: #999;
}

// Google Site Search
#cse-search-box {
  input[type="text"] {
    padding: 2px 32px 2px 8px !important;
    border-width: 0 !important;
    background-position: 8px 50% !important;
  }
}

// Shots from iine!
#iine {
  ol {
    @extend .column-container;

    padding-left: 0;
    list-style-type: none;
  }

  li {
    @extend %default-margin;
    @extend .column-3;
  }

  @media screen and (min-width: $safe-for-content) {
    li {
      margin-top: 0;
    }

    img {
      vertical-align: text-bottom;
    }
  }
}

#iine figure {
  position: relative;
  line-height: 1;

  img {
    padding-bottom: 3em;
  }

  figcaption {
    margin-top: 0;
    position: absolute;
    bottom: 0.25em;
    left: 0.5em;
    line-height: 3;
    font-family: $stack-heading;
    font-weight: normal;
    white-space: nowrap;
  }

  @media screen and (min-width: $safe-for-content) {
    overflow: hidden;

    img {
      padding: 0;
      border: 0;
    }

    figcaption {
      padding: 0 1em;
      box-sizing: border-box;
      right: 0;
      bottom: 0;
      left: auto;
      width: 100%;
      overflow: hidden;
      color: gray;
      background-color: black;
      font-size: 75%; // 12px
      text-align: center;
      white-space: nowrap;
      opacity: 0.8;

      a {
        color: white;
      }
    }

    &:hover figcaption {
      opacity: 0.2;
      cursor: pointer;
    }
  }
}
