// Searchbox
$width-searchbox: $width-column-4;
$height-searchbox: 2em;

// Share on Twitter
$width-twitterbird: em($line-height-default);

// Seemore
$height-seemore: 2.25em;

// Seealso
$width-seealso-icon: 1em;

// Posts
$width-posts-date: $width-column-2;

// Paging
$width-paging-icon: $width-column-1;
$height-paging-icon: $width-paging-icon;

// iine!
$width-icon-iine: $width-column-1;
$height-icon-iine: $width-icon-iine;
