// Pull Quote
$ratio-pull-quote: $ratio-h1;

// Sidenote
$ratio-sidenote: $ratio-h4;

// Posts
$ratio-posts-heading-label: (1 / $ratio-h1);
$ratio-posts-item: $ratio-h2;

// Read Older
$ratio-read-older-title: $ratio-h1;

// Share Buttons
$ratio-share-buttons: $ratio-site-navigation;
