// Seealso
$width-seealso-icon: em($line-height-default);

// Posts
$height-posts-heading-label: em($line-height-heading);
$width-posts-date: (5em + $width-gap);

// Seemore
$width-border-seemore: 0.125em;

// Paging
$margin-paging-icon: $width-gutter;
$width-paging-icon: (($width-suppli - $margin-paging-icon) / 2);
$height-paging-icon: $width-paging-icon;

// Share Buttons
$height-share-buttons: em($line-height-default);
$width-share-buttons-icon: 1.5em;
$height-share-buttons-icon: $width-share-buttons-icon;

// Google Custom Search Engine
$margin-google-cse: 0.25em;
$width-google-cse: 50%;
$height-google-cse: 2em;

// Iine!
$width-icon-iine: $width-logo;
$height-icon-iine: $width-icon-iine;
