// Pull Quote
$ratio-pull-quote: $ratio-beta;

// Sidenote
$ratio-sidenote: $ratio-epsilon;

// Posts
$ratio-posts-heading-label: (1 / $ratio-beta);
$ratio-posts-item: $ratio-gamma;

// Read Older
$ratio-read-older-title: $ratio-alpha;

// Share Buttons
$ratio-share-buttons: $ratio-site-navigation;
