// News (inherit Minimal List)
#news ul {
  @extend %minimal;

  li::after {
    content: "\0020\2756";
  }

  li:last-child::after {
    content: "";
  }
}

// Monthly Archives (inherit Flat Description List)
#by-month dl {
  @extend %flat;

  dd {
    color: mixxd($fg, $bg, 0.6);
    color: transparentize($fg, 0.6);
  }
}

// Posts (inherit Column)
#posts {
  @extend %column-container;

  margin-top: $default-margin;
  padding-left: 2.5em;

  > section {
    @extend %column-3;

    display: list-item;

    p {
      display: none;
    }
  }

  h3 {
    margin-top: 0;
    display: inline;
    font-weight: normal;
    font-size: 100%; // 16px
  }

  @media (min-width: $safe-for-content) {
    margin-top: 0;
    padding-left: 0;

    > section {
      margin-left: $gap;
      display: block;

      p {
        $ratio: 0.75;

        height: (em($ratio) * $default-line-height * 6 / $ratio);
        display: block;
        overflow: hidden;
        color: $fg;
        font-size: percentage($ratio); // 12px
      }
    }

    h3 {
      margin-top: $default-margin;
      display: block;
      line-height: $heading-line-height;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

// Seemore (inherit Elegant Button)
.seemore a {
  @extend %elegant-btn;

  &::after {
    content: "\0020\00bb"; // Space + Right Arrow Quote
  }
}

// Paging
.paging {
  margin: ($default-margin * 3) auto 0 auto;

  ul {
    @extend %hanging-block;

    margin-top: 0;
    padding-left: 0;
    display: table;
  }

  li {
    padding: 0 $gap;
    display: table-cell;
  }

  a {
    @extend %ir;

    border-radius: #{($column-span1 * 0.5)}/#{($column-span1 * 0.5)};
    display: block;
    width: $column-span1;
    height: $column-span1;
    color: $bg;
    background-color: $fg;
    opacity: 0.1;

    &:hover {
      background-color: $lightest;
      opacity: 1;
    }

    &[rel="prev"]::before {
      background-image: $left-arrow;
    }

    &[rel="next"]::before {
      background-image: $right-arrow;
    }
  }

  @media (min-width: $safe-for-full) {
    margin-top: 0;
    position: relative;

    ul {
      top: auto;
      bottom: 0;
    }

    li {
      padding: 0 $gutter 0 0;
    }
  }
}

// Social Buttons
.social-buttons {
  @extend %clearfix;
  @extend %default-margin;

  line-height: 1;

  > div {
    display: inline-block;
    float: left;
  }
}

// Hatena Star
blockquote[style] {
  min-height: 0;

  &::before {
    display: none;
  }
}

// Readability Button
.readability {
  height: 23px;
}

// Google AdSense
.adsense {
  margin: ($default-margin * 3) 0 0 0;
  padding: 0.5em 0;
  border: 1px solid rgb(207, 204, 198);
  clear: both;
  line-height: 1;
  overflow: hidden;
  background-color: rgb(243, 240, 234);
  text-align: center;

  &::before {
    margin: 0 8px 4px 8px;
    padding: 0 4px 8px 4px;
    border-bottom: 2px groove rgb(255, 252, 246);
    display: block;
    height: auto;
    visibility: visible;
    content: "Advertisements";
    color: rgb(231, 227, 221);
    font-family: $stack-point;
    font-size: 150%;
    text-shadow: 0 -1px 0 rgb(159, 156, 150)
  }
}

// Google Code Prettify
.pln,
.typ,
.pun,
.opn,
.clo,
.fun {
  color: #000;
}

.str,
.atv {
  color: #090;
}

.lit {
  color: #c00;
}

.kwd,
.tag,
.atn {
  color: #00c;
}

.com,
.dec,
.var {
  color: #999;
}

// Google Site Search
#cse-search-box {
  @extend %default-margin;

  div {
    padding: 6px;
    border-radius: 6px;
    display: inline-block;
    line-height: 1;
    background-color: mixxd($fg, $bg, 0.92);
    background-color: transparentize($fg, 0.92);
    font-size: 16px;
  }

  input[type="text"] {
    margin: 0 -8px 0 0;
    padding: 2px 8px !important;
    border-width: 0 !important;
    border-radius: 4px;
    width: 184px;
    height: 28px;
    line-height: 28px;
    background-position: 8px 50% !important;
    outline: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  // inherit Elegant Button
  input[type="submit"] {
    @extend %elegant-btn;

    padding: 0;
    width: 78px;
    height: 30px;
    line-height: 30px;
    outline: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

// Shots from iine!
#iine {
  h2 a {
    font-family: $stack-point;
  }

  ol {
    @extend %column-container;

    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    @extend %column-3;
  }

  figure {
    line-height: 1;
    display: inline-block;
    max-width: 100%;

    a {
      color: inherit;
    }
  }

  img {
    padding-bottom: 3em;
  }

  figcaption {
    margin-top: -3em;
    margin-right: 0;
    position: static;
    width: auto;
    line-height: 3;
    font-family: $stack-point;
    text-align: center;
  }

  @media (min-width: $safe-for-content) {
    li {
      margin-bottom: ($gutter - $default-margin);
    }

    img {
      vertical-align: text-bottom;
    }
  }
}
