// Selection
$color-fg-selection: grayscale($color-bg);
$color-bg-selection: $color-darkest;

// Sidenote
$color-fg-sidenote: mixxd($color-fg, $color-bg, 0.6);

// Recent Posts
$color-fg-recent-posts-time: mixxd($color-fg, $color-bg, 0.6);

// Monthly Archives
$color-fg-monthly-archives: mixxd($color-fg, $color-bg, 0.8);

// Shots-on-iine!
$color-bg-iine: mixxd($color-fg, $color-bg, 0.96);
