// Seemore
$ratio-seemore: $ratio-h4;

// Sidenote
$ratio-sidenote: $ratio-h6;

// Posts
$ratio-posts-item: $ratio-h4;

// Read Older
$ratio-read-older-title: $ratio-h3;

// Share Buttons
$ratio-share-buttons: 0.875;
