// News (inherit Minimal List)
#news ul {
  @extend %minimal;

  li::after {
    content: "\0020\00a0\2756\00a0";
  }

  li:last-child::after {
    content: "";
  }
}

// Monthly Archives (inherit Flat Description List)
#by-month dl {
  @extend %flat;

  dd {
    color: mixxd($fg, $bg, 0.6);
    color: transparentize($fg, 0.6);
  }
}

// Category Archives
#by-category {
  ul {
    @extend %column-container;

    @media (min-width: $safe-for-content) {
      padding-left: 0;
    }
  }

  li {
    @extend %column-2;

    display: block;
  }
}

// Posts (inherit Column)
#posts {
  @extend %column-container;

  margin-top: $default-margin;
  padding-left: 2.5em;

  > section {
    @extend %column-3;

    display: list-item;

    p {
      display: none;
    }
  }

  h3 {
    margin-top: 0;
    display: inline;
    font-weight: normal;
    font-size: 100%; // 16px
  }

  @media (min-width: $safe-for-content) {
    margin-top: 0;
    padding-left: 0;

    > section {
      margin-left: $gap;
      display: block;

      p {
        $ratio: 0.75;

        height: (em($ratio) * $default-line-height * 6 / $ratio);
        display: block;
        overflow: hidden;
        color: $fg;
        font-size: percentage($ratio); // 12px
      }
    }

    h3 {
      margin-top: $default-margin;
      display: block;
      line-height: $heading-line-height;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

// Seemore (inherit Elegant Button)
.seemore a {
  @extend %elegant-btn;

  &::after {
    content: "\0020\00bb"; // Space + Right Arrow Quote
  }
}

// Paging
.paging {
  margin-top: ($default-margin * 3);
  text-align: center;

  ul {
    @extend %hanging-block;

    margin-top: 0;
    padding-left: 0;
    display: inline-table;
  }

  li {
    padding: 0 $gap;
    display: table-cell;
  }

  a {
    @extend %ir;

    border-radius: #{($column-span1 * 0.5)}/#{($column-span1 * 0.5)};
    display: block;
    width: $column-span1;
    height: $column-span1;
    color: $bg;
    background-color: $fg;
    opacity: 0.1;

    &:hover {
      background-color: $lightest;
      opacity: 1;
    }

    &[rel="prev"]::before {
      background-image: $left-arrow;
    }

    &[rel="next"]::before {
      background-image: $right-arrow;
    }
  }

  @media (min-width: $safe-for-full) {
    margin-top: 0;
    position: relative;
    width: auto;

    ul {
      top: auto;
      bottom: 0;
    }

    li {
      padding: 0 $gutter 0 0;
    }
  }
}

// Social Buttons
.social-buttons {
  @extend %clearfix;

  margin-top: $default-margin;
}

// Twitter Share Button
.tw-share {
  display: inline-block;
}

// Facebook Like Button
.fb-like {
  > span {
    vertical-align: baseline !important;
  }
}

// Hatena Bookmark Button
.htn-bookmark {
  display: inline-block;
}

// Hatena Star
.hatena-star-comment-container {
  display: none;
}

.hatena-star-add-button {
  vertical-align: baseline !important;
}

.hatena-star-star-image,
.hatena-star-temp-star-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUBAMAAAHeBerNAAAAFVBMVEX4uUr9xVb4x2b+zWn2syv4tjb////PRNK2AAAAB3RSTlP///////8AGksDRgAAAFNJREFUCNdjSGMAwQQGASBOS2BIBJMQBpSdlgbGycZmDKlpYVB+AgK7AbFZAlA+gSE1NAFVDgSQqAQIxcgGpFhDjE1CGYA2GBuABEPUVMIwNYAoAHdfLIb14yOcAAAAAElFTkSuQmCC");
}

.hatena-star-green-star-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUAgMAAAFRRR9tAAAACVBMVEU9ziRN5zP////D0fXvAAAAA3RSTlP//wDXyg1BAAAATUlEQVQI10WJsQmAQBTFgpNc6RgOcSM4yGtsrheu/FjI401poSAkTUJRFGJDmIkxk4lJkeJojEaK6OMStziF9MfEr8NkMXRwN7Wv/4sfJ/EoT8qBLGkAAAAASUVORK5CYII=");
}

.hatena-star-red-star-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUAgMAAAFRRR9tAAAACVBMVEXzLUb+XmX////NTQm7AAAAA3RSTlP//wDXyg1BAAAATUlEQVQI10WJsQmAQBTFgpNc6RgOcSM4yGtsrheu/FjI401poSAkTUJRFGJDmIkxk4lJkeJojEaK6OMStziF9MfEr8NkMXRwN7Wv/4sfJ/EoT8qBLGkAAAAASUVORK5CYII=");
}

.hatena-star-blue-star-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUAgMAAAFRRR9tAAAACVBMVEUVn9gAsPn////gr3KqAAAAA3RSTlP//wDXyg1BAAAATUlEQVQI10WJsQmAQBTFgpNc6RgOcSM4yGtsrheu/FjI401poSAkTUJRFGJDmIkxk4lJkeJojEaK6OMStziF9MfEr8NkMXRwN7Wv/4sfJ/EoT8qBLGkAAAAASUVORK5CYII=");
}

.hatena-star-purple-star-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUAgMAAAFRRR9tAAAACVBMVEWkEbnNNOP///8CdNoOAAAAA3RSTlP//wDXyg1BAAAATUlEQVQI10WJsQmAQBTFgpNc6RgOcSM4yGtsrheu/FjI401poSAkTUJRFGJDmIkxk4lJkeJojEaK6OMStziF9MfEr8NkMXRwN7Wv/4sfJ/EoT8qBLGkAAAAASUVORK5CYII=");
}

.hatena-star-add-button-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUAQMAAAHJqx+iAAAABlBMVEW6yfX///9LNcPxAAAAAnRSTlP/AOW3MEoAAABKSURBVAjXJcixDUBAFADQd4mBVLQKg5hAp5JgArMY4SYxw1Wiuq/wyicbZBnZYVJwKYqwa/VCCMmtep3qPyHCWi1V05kf4+ZI/3/mlyCnTnMQkgAAAABJRU5ErkJggg==");
}

.hatena-star-comment-button-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUAgMAAAGOC2VyAAAACVBMVEW6yfX///8AAAD9I4AQAAAAA3RSTlP//wDXyg1BAAAARUlEQVQI102KsQnAMBDEhCdJaX5K4/KneFwZTZnCCQkn1OgoLgZFUQwCaXgmISFjog+j4f6YDeOkV6mLDv2n1IU7RfP8biukKduwjcvdAAAAAElFTkSuQmCC");
}

.hatena-star-comment-button-image-active {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUAgMAAAGOC2VyAAAACVBMVEX+9+v70JT////tYtgUAAAAA3RSTlP//wDXyg1BAAAATElEQVQI12NYwODAMIFhAQMDEE8FslcxhDGAwCqGVauAXBCaKgZiQ9BUoCwjAk0JY1iVBZGCERMYGNgYHENDHZEIsNiqlVIgJbMg6gDvKiFDWqKwrQAAAABJRU5ErkJggg==");
}

// Google AdSense
.adsense {
  $adsense-border:     rgb(255, 248, 231);
  $adsense-title:      rgb( 14,  28, 179);
  $adsense-background: rgb(255, 248, 231);
  $adsense-text:       rgb( 23,  23,  23);
  $adsense-url:        rgb(  0, 128,  42);

  margin: ($default-margin * 3) 0 0 0;
  padding: 15px;
  border: 1px solid darken($adsense-border, 15%);
  height: 90px;
  clear: both;
  overflow: hidden;
  color: $adsense-text;
  background-color: $adsense-background;
}

// Google Code Prettify
.pln,
.typ,
.pun,
.opn,
.clo,
.fun {
  color: #000;
}

.str,
.atv {
  color: #090;
}

.lit {
  color: #c00;
}

.kwd,
.tag,
.atn {
  color: #00c;
}

.com,
.dec,
.var {
  color: #999;
}

// Google Site Search
#cse-search-box {
  @extend %default-margin;

  div {
    padding: 6px;
    border-radius: 6px;
    display: inline-block;
    line-height: 1;
    background-color: mixxd($fg, $bg, 0.92);
    background-color: transparentize($fg, 0.92);
    font-size: 16px;
  }

  input[type="text"] {
    margin: 0 -8px 0 0;
    padding: 2px 8px !important;
    border-width: 0 !important;
    border-radius: 4px;
    width: 184px;
    height: 28px;
    line-height: 28px;
    background-position: 8px 50% !important;
    outline: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  // inherit Elegant Button
  input[type="submit"] {
    @extend %elegant-btn;

    padding: 0;
    width: 78px;
    height: 30px;
    line-height: 30px;
    outline: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

// Shots from iine!
#iine {
  h2 a {
    font-family: $stack-point;
    font-style: italic;
  }

  ol {
    @extend %column-container;

    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    @extend %column-3;

    a {
      color: inherit;
    }
  }

  figure {
    line-height: 1;
    display: inline-block;
    max-width: 100%;
  }

  img {
    padding-bottom: 3em;
  }

  figcaption {
    margin-top: -3em;
    margin-right: 0;
    position: static;
    width: auto;
    line-height: 3;
    font-family: $stack-point;
    text-align: center;
  }

  @media (min-width: $safe-for-content) {
    li {
      margin-bottom: ($gutter - $default-margin);
    }

    img {
      vertical-align: text-bottom;
    }
  }
}
