// Searchbox
$width-searchbox: 50%;
$height-searchbox: 2em;

// Seemore
$width-border-seemore: 0.125em;

// Seealso
$width-seealso-icon: 1em;

// Posts
$width-posts-date: 18%;

// Paging
$width-paging-icon: $width-logo;
$height-paging-icon: $width-paging-icon;

// Twitter Share Button
$width-twitterbird: em($line-height-default);

// iine!
$width-icon-iine: $width-logo;
$height-icon-iine: $width-icon-iine;
