// Code Highlight
$color-code-highlight-default: #000;
$color-code-highlight-comment: #999;
$color-code-highlight-constant: #390;
$color-code-highlight-number: #939;
$color-code-highlight-identifier: #c39;
$color-code-highlight-statement: #c30;
$color-code-highlight-preproc: #c33;
$color-code-highlight-type: #399;
$color-code-highlight-special: #c90;

// Seealso
$color-fg-seealso-chain: $color-fg;

// Sidenote
$color-fg-sidenote: mixxd($color-fg, $color-bg, 0.6);

// Posts
$color-fg-posts-tag: $color-fg;
$color-fg-posts-time: mixxd($color-fg, $color-bg, 0.6);

// Flat DL
$color-fg-flat-dl: mixxd($color-fg, $color-bg, 0.8);

// Read Older
$color-fg-read-older-label: $color-fg;

// Paging
$color-fg-paging: $color-light;
$color-fg-paging-arrow: $color-fg-paging;

// Searchbox
$color-fg-searchbox-icon: $color-bg;
$color-bg-searchbox-icon: $color-light;
$color-border-searchbox: mixxd($color-bg, $color-fg, 0.12);
$color-border-searchbox-focus: mixxd($color-bg, $color-fg, 0.32);

// Share Buttons
@import "./bower_components/hail2u-scss-partials/corporate-colors";

$color-fg-facebookf: $cc-facebook;
$color-fg-twitterbird: $cc-twitter;

// iine!
$color-fg-iine: $color-fg;
$color-fg-iine-logo: #000;
$color-fg-iine-caption: $color-bg;
$color-bg-iine: mixxd($color-fg, $color-bg, 0.92);
$color-bg-iine-caption: transparentize($color-fg, 0.32);
$color-stroke-iine-logo: #fff;
