/*!
 * debug.css
 *
 * LICENSE: http://hail2u.mit-license.org/2012
 */

// Functions
@import "function-color-mixxd";
@import "function-math-em";
@import "function-math-pow";
@import "function-misc-fit-icon";

// Variables
@import "font";
@import "color";
@import "image";
@import "ratio";
@import "size";

// Classes
@import "clearfix";

// Grid Overlay
body.debug::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background-image: linear-gradient(
    to right,
    #f0f 0,
    #f0f $width-content
  );
  background-position: center center;
  background-repeat: repeat-y;
  background-size: $width-content 1px;
  opacity: 0.05;
  pointer-events: none;

  @media (min-width: $breakpoint-full) {
    background-image: linear-gradient(
      to right,
      #f0f 0,
      #f0f $width-suppli,
      transparent $width-suppli,
      transparent ($width-suppli + $width-gutter),
      #f0f ($width-suppli + $width-gutter),
      #f0f $width-full
    );
    background-size: $width-full 1px;
  }
}

// Breakpoints
body::after {
  padding: 0.5em;
  display: block;
  position: fixed;
  top: 1em;
  right: 1em;
  line-height: 1;
  content: "Small";
  color: #fff;
  background-color: #096;
}

@media (min-width: $breakpoint-content) {
  body::after {
    content: "Medium: #{$breakpoint-content}";
  }
}

@media (min-width: $breakpoint-full) {
  body::after {
    content: "Large: #{$breakpoint-full}";
  }
}

// Fonts
.font-stack-body {
  font-family: $font-stack-body;
}

.font-stack-code {
  font-family: $font-stack-code;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

// Colors
@import "./bower_components/hail2u-scss-partials/vendor-extension";

.colors {
  @extend %clearfix;

  padding-left: 0;

  li {
    @include box-sizing(border-box);

    margin-bottom: $width-gutter;
    border: 1px solid black;
    display: block;
    direction: ltr;
    height: 3em;
    text-indent: -9999em;

    &:nth-child(1) {
      background-color: $color-base;
    }

    &:nth-child(2) {
      background-color: $color-darkest;
    }

    &:nth-child(3) {
      background-color: $color-dark;
    }

    &:nth-child(4) {
      background-color: $color-light;
    }

    &:nth-child(5) {
      background-color: $color-lightest;
    }

    &:nth-child(6) {
      background-color: $color-fg;
    }

    &:nth-child(7) {
      background-color: $color-bg;
    }
  }

  @media (min-width: $breakpoint-content) {
    margin-right: (- $width-gap);
    margin-left: (- $width-gap);

    li {
      margin-right: $width-gap;
      margin-bottom: 0;
      margin-left: $width-gap;
      float: left;
      width: 3em;
    }
  }
}
