$version: "1.0";

/*!
 * debug.css v#{$version}
 *
 * LICENSE: http://hail2u.mit-license.org/2012
 */

// Functions
@import "function";

// Variables
@import "variable";
@import "column";
@import "image";

// Classes
@import "class";

// Grid Overlay
@import "scss-partials/grid-overlay";

body.debug {
  @include grid-overlay($gutter, $column);

  @media (min-width: $safe-for-full) {
    @include grid-overlay($column, $gutter);
  }
}

// Colors
@import "scss-partials/vendor-extension";

.colors {
  @extend %column-container;

  padding-left: 0;

  li {
    @extend %column-1;
    @include box-sizing(border-box);

    margin-bottom: $gutter;
    border: 1px solid black;
    display: block;
    direction: ltr;
    height: $colspan1;
    text-indent: -9999em;

    &:nth-child(1) {
      background-color: $base;
    }

    &:nth-child(2) {
      background-color: $darkest;
    }

    &:nth-child(3) {
      background-color: $dark;
    }

    &:nth-child(4) {
      background-color: $light;
    }

    &:nth-child(5) {
      background-color: $lightest;
    }

    &:nth-child(6) {
      background-color: $fg;
    }

    &:nth-child(7) {
      background-color: $bg;
    }

    @media (min-width: $safe-for-content) {
      margin-bottom: 0;
    }
  }
}

// Selection
@import "scss-partials/selection";

.selection {
  @include selection($selection-fg, $selection-bg);
}
