$version: "3.9";

/*!
 * document.css v#{$version}
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

@import "clearfix", "natural";

body {
  max-width: (800px - $font-size * 2 * 2);
}

.note {
  padding-left: $font-size;
  border-left: 3px double red;
}

.image,
.social {
  @include clearfix;

  margin: ($font-size * 2) 0;
  max-width: 100%;

  > div {
    float: left;

    iframe {
      vertical-align: text-bottom;
    }
  }
}

.rdbWrapper {
  height: 23px;
  overflow: hidden;
}

.adsense {
  position: fixed;
  top: ($font-size * 2);
  left: 100%;
}

@media only screen and (min-width: 1120px) {
  body {
    padding-left: 160px;
  }

  .adsense {
    left: auto;
    right: ($font-size * 2);
  }
}
