$version: "3.12.4";

/*!
 * document.css v#{$version}
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Variables
$width: 720px;


// Imports
@import "scss-partials/clearfix";
@import "scss-partials/natural";


// Styles
body {
  margin: ($font-size * 2) $font-size;
  max-width: $width;
}

.note {
  padding-left: $font-size;
  border-left: 3px double red;
}

.image,
.social {
  @include clearfix;

  margin: ($font-size * 2) 0;
  max-width: 100%;
  line-height: 1;

  > div {
    display: inline-block;
    float: left;
  }
}

.rdbWrapper {
  height: 23px;
  overflow: hidden;
}

// Media Queries
$breakpoint: ($font-size * 2 + $width + $font-size * 2);

@media (min-width: $breakpoint) {
  body {
    margin-right: ($font-size * 2);
    margin-left: ($font-size * 2);
  }
}

$breakpoint: ($breakpoint + 160px + $font-size * 2);

@media (min-width: $breakpoint) {
  .adsense {
    position: fixed;
    top: ($font-size * 2);
    right: ($font-size * 2);
  }
}

$breakpoint: (160px + $breakpoint);

@media (min-width: $breakpoint) {
  body {
    padding-left: 160px;
  }
}


// Print
@media print {
  body {
    color: black;
    background-color: inherit;
    font-family: "Georgia", serif;
  }

  p {
    a[href]::after {
      content: " (" attr(href) ")";
    }
  }

  hr,
  .note {
    border-color: black;
  }

  pre {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: "Courier New", monospace;
  }

  blockquote {
    font-style: italic;
  }

  a {
    color: black;
  }

  strong,
  ins {
    border-color: black;
  }

  code,
  var,
  samp,
  kbd {
    font-family: "Courier New", monospace;
  }

  mark {
    background: none;
  }

  .rdbWrapper,
  .social,
  .adsense {
    display: none;
  }
}
