/*!
 * document.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Variables
$dark: #333;
$light: #fcfcfc;
$link: #01e;
$stress: #c33;
$font-size: 1em;
$sans-serif: 'Helvetica Neue', 'Calibri', sans-serif;
$monospace: 'Menlo', 'Consolas', monospace;
$width: 45em;


// Imports
@import 'assets/partials/hail2u-scss-partials/clearfix';
@import 'assets/partials/hail2u-scss-partials/natural';
@import 'assets/partials/hail2u-scss-partials/vendor-extension';


// Styles
body {
  @include font-feature-settings('kern' 1, 'liga' 1, 'lnum' 1, 'pnum' 1);

  max-width: $width;
}

h2,
h3,
h4,
h5,
h6 {
  &:target {
    padding-top: 1em;
  }

  + p {
    margin-top: 0;
  }
}

pre {
  @include font-feature-settings('kern' 0, 'liga' 0, 'pnum' 0, 'tnum' 1, 'zero' 1);

  overflow-wrap: break-word;
  word-wrap: break-word;
}

table {
  @include font-feature-settings('pnum' 0, 'tnum' 1, 'zero' 1);

  display: block;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

td,
th {
  white-space: nowrap;
}

.note {
  border-left: 3px double #f00;
  padding-left: $font-size;
}

.image {
  @include clearfix;

  line-height: 1;
  margin: ($font-size * 2) 0 0;
  max-width: 100%;
}

.seealso {
  font-size: 1.17em;
  font-weight: 700;

  &::before {
    content: '→ ';
  }

  a {
    font-weight: 400;
  }
}


// Media Queries
$margin-body: ($font-size * 2);
$breakpoint: ($font-size * 3 + $width / 2 + $font-size * 3);

@media (min-width: $breakpoint) {
  body {
    margin: $margin-body;
  }
}

$margin-body-top: ($margin-body * 2);
$breakpoint: ($font-size * 3 + $width + $font-size * 3);

@media (min-width: $breakpoint) {
  body {
    margin-top: $margin-body-top;
  }
}

$width-ad: 10em;
$breakpoint: ($breakpoint + $width-ad + $font-size * 3);

@media (min-width: $breakpoint) {
  .adsense {
    position: absolute;
    right: ($font-size * 2);
    top: ($font-size * 2);
  }
}

$indent: 10em;
$breakpoint: ($indent + $breakpoint);

@media (min-width: $breakpoint) {
  body {
    padding-left: $indent;
  }

  .banner {
    margin-left: (- ($indent + $font-size * 2));
    margin-right: (- $font-size * 2);
    max-width: none;
  }
}


// Print
@media print {
  * {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  body {
    background-color: inherit;
    font-family: Georgia, serif;
  }

  p {
    &[href]::after {
      content: ' (' attr(href) ')';
    }
  }

  .note,
  hr,
  ins,
  strong {
    border-color: #000;
  }

  pre,
  code,
  kbd,
  samp,
  var {
    font-family: 'Courier New', monospace;
  }

  pre {
    border: 0;
    padding: 0;
  }

  blockquote {
    font-style: italic;
  }

  mark {
    background: 0 0;
  }

  .adsense {
    display: none;
  }
}
