// Eau Douce
@font-face {
  font-family: "Eau Douce";
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/eau-douce/t.woff2") format("woff2"),
    url("assets/fonts/eau-douce/t.woff") format("woff");
}

@font-face {
  font-family: "Eau Douce";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/eau-douce/r.woff2") format("woff2"),
    url("assets/fonts/eau-douce/r.woff") format("woff");
}

@font-face {
  font-family: "Eau Douce";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/eau-douce/b.woff2") format("woff2"),
    url("assets/fonts/eau-douce/b.woff") format("woff");
}
