$version: "4.5";

/*!
 * error.css v#{$version}
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Web Fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700|Terminal+Dosis:400");

// Variables
@import "vars";

// Partials
@import "normalize";

html {
  overflow: hidden;
}

body {
  margin: 0;
  color: $fg;
  background-color: $bg;
  background-image: url("../images/bg-body.png");
  font-family: $stack-body;
  text-transform: uppercase;
  text-align: center;
}

header {
  margin: 0 0 1em 0;
  position: absolute;
  bottom: 50%;
  width: 100%;
  line-height: 1;

  h1 {
    margin: 0;
    font-size: 225%; // 36px
  }
}

nav {
  margin: 1em 0 0 0;
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  font-family: $stack-nav;

  ul {
    margin: 0 auto;
    padding: 0;
    display: table;
    list-style: none;

    li {
      padding: 0 0.5em;
      display: table-cell;
    }
  }
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $hover;
  }
}
