$version: "4.4";

/*!
 * error.css v#{$version}
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Web Fonts
@import url("http://fonts.googleapis.com/css?family=Terminal+Dosis");

// Variables
@import "vars";

// Partials
@import "normalize";

html {
  overflow: hidden;
}

body {
  margin: 0;
  color: $fg;
  background-color: $bg;
  background-image: url("../images/bg-body.png");
  font-family: $stack-body;
  text-align: center;
}

header {
  margin: 0 0 $font-size 0;
  position: absolute;
  bottom: 50%;
  width: 100%;
  line-height: 1;

  h1 {
    margin: 0;
    font-family: $stack-logo;
    font-style: italic;
    font-weight: normal;
    font-size: 225%; // 36px
  }
}

nav {
  margin: $font-size 0 0 0;
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $stack-nav;
    font-size: 87.5%; // 14px
    text-transform: uppercase;

    li {
      margin: 0 ($font-size * 0.5);
      display: inline-block;
    }
  }
}

a {
  color: $base;
  text-decoration: none;

  &:hover {
    color: $darkest;
  }
}
