// M+ 1m Latin
@font-face {
  font-family: "M+ 1m Latin";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/mplus-1m-latin/r.woff2") format("woff2"),
    url("assets/fonts/mplus-1m-latin/r.woff") format("woff");
}

@font-face {
  font-family: "M+ 1m Latin";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/mplus-1m-latin/b.woff2") format("woff2"),
    url("assets/fonts/mplus-1m-latin/b.woff") format("woff");
}
