/*!
 * natural.css
 *
 * LICENSE: http://hail2u.mit-license.org/2009
 */

/*csslint box-sizing: false, font-sizes: false, ids: false,
  qualified-headings: false, unique-headings: false*/

$sans-serif: "Helvetica Neue", "Calibri", sans-serif;
$monospace: "Menlo", "Consolas", monospace;

@import "./bower_components/hail2u-scss-partials/natural";
