/*!
 * natural.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Variables
$dark: #333;
$light: #fcfcfc;
$link: #01e;
$stress: #c33;
$font-size: 1em;
$sans-serif: "Helvetica Neue", "Calibri", sans-serif;
$monospace: "Menlo", "Consolas", monospace;
$width: 45em;


// Imports
@import "assets/partials/hail2u-scss-partials/clearfix";
@import "assets/partials/hail2u-scss-partials/natural";


// Styles
body {
  margin: $font-size;
  max-width: $width;
}

h2,
h3,
h4,
h5,
h6 {
  &:target {
    padding-top: $font-size;
  }

  + p {
    margin-top: 0;
  }
}

pre {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

blockquote,
blockquote + figcaption {
  margin-left: ($font-size * 2);
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

td,
th {
  white-space: nowrap;
}

.note {
  border-left: 3px double $stress;
  padding-left: $font-size;
}

.image {
  @include clearfix;

  line-height: 1;
  margin: ($font-size * 2) 0 0;
  max-width: 100%;
}

.seealso {
  font-size: 1.17em;
  font-weight: 700;

  a {
    font-weight: 400;
  }
}


// Media Queries
@media (min-width: ($font-size * 28)) {
  body {
    margin: $font-size;
  }
}

@media (min-width: ($font-size * 52)) {
  body {
    margin-top: $font-size;
  }
}

$indent: 10em;
$breakpoint: ($font-size + $indent + $width + $font-size);

@media (min-width: $breakpoint) {
  body {
    padding-left: $indent;
  }

  .banner {
    margin-left: (- ($font-size + $indent));
    margin-right: (- $font-size);
    max-width: none;
  }
}


// Print
@import "assets/partials/hail2u-scss-partials/black-prints";

@media print {
  @include black-prints;

  body {
    background-color: inherit;
    font-family: Georgia, serif;
  }

  p {
    &[href]::after {
      content: " (" attr(href) ")";
    }
  }

  .note,
  hr,
  ins,
  strong {
    border-color: currentColor;
  }

  pre,
  code,
  kbd,
  samp,
  var {
    font-family: "Courier New", monospace;
  }

  pre {
    border: 0;
    padding: 0;
  }

  blockquote {
    font-style: italic;
  }

  mark {
    background: 0 0;
  }
}
