@font-face {
  font-family: "Niconne";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/niconne/r-26.woff") format("woff"),
    url("assets/fonts/niconne/r-26.woff2") format("woff2");
}
