body {
  color: black;
  background-color: white;
  font-family: "Georgia", serif;
}

aside,
nav {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  page-break-inside: avoid;
}

pre {
  font-family: "Courier New", monospace;
  page-break-inside: avoid;
}

blockquote {
  page-break-inside: avoid;
}

ul,
ol,
dl {
  page-break-before: avoid;
}

figure {
  page-break-inside: avoid;
}

code,
var,
samp,
kbd {
  font-family: "Courier New", monospace;
}

a {
  color: inherit;

  &[href]::after {
    content: " (" attr(href) ")";
  }
}

table {
  page-break-inside: avoid;
}

[role="main"] h2 + footer br {
  display: none;
}

[role="contentinfo"] section {
  display: none;
}
