@charset "UTF-8";

/*!
 * wufoo.css
 *
 * LICENSE: http://hail2u.mit-license.org/2010
 */

@import "image";

html {
  display: table;
  width: 100%;
  height: 100%;
  background-image: $footer-texture;
}

body {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#container {
  border: 1px solid #ccc;
  background-image: $body-texture;
}

#logo {
  background-image: $logo-texture;
}

form.wufoo {
  font-family: "Gill Sans", "Calibri", sans-serif;
}

.wufoo .info div {
  line-height: 1.75;
}

.wufoo label.desc {
  font-weight: bold;
}

.wufoo input.btTxt {
  margin-left: 0;
  padding: 3px 12px;
  font-family: inherit;
}

.wufoo input.btTxt:hover {
  cursor: pointer;
}
