// Article Heading
main > article h1 {
  @extend %heading-push;
  @extend %heading--primary;

  .permalink & {
    margin-bottom: $margin_heading;
    font-size: rem($ratio_article-heading--permalink);
  }

  @media (min-width: $breakpoint-full) {
    .permalink & {
      margin-bottom: $margin_heading--primary;
      margin-left: (- ($width-supplement + $width-gutter));
    }
  }
}
