// Article Heading
main > article h1 {
  @extend %heading-push;
  @extend %heading--primary;

  .permalink & {
    margin-bottom: $margin_article-heading--permalink;
    color: $color-fg_article-heading--permalink;
    font-weight: 400;
    font-size: rem($ratio_article-heading--permalink);
  }

  @media (min-width: $breakpoint--content) {
    .permalink & {
      padding-right: 10%;
      padding-left: 10%;
      text-align: center;
    }
  }

  @media (min-width: $breakpoint--full) {
    .permalink & {
      margin-bottom: $margin_article-heading--full--permalink;
      margin-left: (- ($width-supplement + $width-gutter));
    }

    .permalink.has-image & {
      margin-bottom: $margin_article-heading--full--permalink--has-image;
    }
  }
}
