// Article Footer
main > article h1 + footer,
main > section h1 + footer {
  @extend %hanging-block;

  margin-bottom: $margin-mini;
  position: absolute;
  bottom: 100%;
  width: 100%;
  color: $color-fg-main-article-footer;

  time {
    color: $color-fg-main-article-footer-time;
  }

  @media (min-width: $breakpoint-full) {
    margin-bottom: 0;
    top: auto;
    bottom: auto;
    width: $width-suppli;
  }
}
