// Section Footer
main > article h1 + footer,
main > section h1 + footer {
  @extend %hanging-block;

  position: absolute;
  bottom: 100%;
  width: 100%;
  color: $color-fg_main-article-footer;

  time {
    color: $color-fg_main-article-footer__time;
  }

  @media (min-width: $breakpoint-full) {
    top: auto;
    bottom: auto;
    width: $width-suppli;
  }
}
