// Section Heading
main > article h1,
main > section h1 {
  @extend %link-underline-removal;

  position: relative;

  &::after {
    @extend %line-label;
  }

  @media (min-width: $breakpoint-full) {
    &::after {
      height: rem($ratio_heading--primary * $line-height_heading);
    }
  }
}

main > article h1 {
  @extend %heading-push;

  .permalink & {
    margin-bottom: $margin_heading;
    font-size: rem($ratio_section-heading--permalink);

    &::after {
      display: none;
    }

    @media (min-width: $breakpoint-full) {
      margin-left: (- ($width-suppli + $width-gutter));
    }
  }
}
