// Section Heading
main > article h1,
main > section h1 {
  @extend %line-label;

  @media (min-width: $breakpoint-full) {
    &::after {
      height: rem($ratio_heading--primary * $line-height_heading);
    }
  }
}

.permalink main > article h1 {
  margin-top: ($margin_heading + rem($line-height));
  margin-bottom: $margin_heading;
  font-size: rem($ratio_section-heading--permalink);

  &::after {
    display: none;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin_heading;
    margin-left: (- ($width-suppli + $width-gutter));
  }
}
