// Source Code Pro
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), url("../fonts/source-code-pro/r.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Code Pro Bold"), url("../fonts/source-code-pro/b.woff") format("woff");
}
