// First Heading
.first-heading {
  margin-top: ($margin-top-h1 + $margin-top-tagline + $height-footing);

  @media (min-width: $breakpoint-content) {
    margin-top: ($margin-top-h1 + $margin-top-tagline-content + $height-footing);
  }

  @media (min-width: $breakpoint-full) {
    margin-top: ($margin-top-h1 + $margin-top-tagline-full);
  }
}
