// Section Footer
.section-footer {
  @extend %link-underline-removal;
  @extend %float;

  bottom: 100%;
  color: $color-fg-section-footer;
  font-size: rem($ratio-text-section-footer);
  line-height: $line-height-section-footer;
  position: absolute;
  width: 100%;

  p {
    @extend %ellipsing;
  }

  .date {
    color: $color-fg-section-footer-date;
  }

  .tag {
    color: $color-fg-section-footer-tag;
  }

  @media (min-width: $breakpoint-full) {
    width: $width-section-footer-full;

    p {
      margin-top: $margin-top-section-footer-p-full;
    }

    [role="main"] > & {
      bottom: auto;
      top: auto;

      p {
        margin-top: $margin-top-section-footer-p-permalink-full;
      }
    }

    .has-image[role="main"] > & {
      bottom: 100%;
    }
  }
}
