// Section Footer
.section-footer {
  @extend %link-underline-removal;
  @extend %float;
  @extend %footing;

  bottom: 100%;
  position: absolute;
  width: 100%;

  p {
    @extend %ellipsing;
  }

  @media (min-width: $breakpoint-full) {
    width: $width-section-footer-full;

    p {
      margin-top: $margin-top-section-footer-p-full;
    }
  }
}
