// Section Footer
.section-footer {
  @extend %link-underline-removal;
  @extend %footing;

  bottom: 100%;
  position: absolute;
  width: 100%;

  p {
    @extend %ellipsing;

    margin-top: 0;
  }

  @media (min-width: $breakpoint-full) {
    width: $width-protrusion-full;

    p {
      margin-top: (($height-h1 - $height-footing) / 2);

      .permalink & {
        margin-top: (($height-tagline-full - $height-footing) / 2);
      }
    }
  }
}
