// Source Code Pro
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 200;
  src: local("Source Code Pro ExtraLight"), local("SourceCodePro-ExtraLight"), url("http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqbhZfOo4eSOlrve6pGrXHAo.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url("http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxBHWFfxJXS04xYOz0jw624.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"), url("http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqQE-U1AYRUXXE0Dth8uKIE0.woff") format("woff");
}
