// Byline
.byline {
  color: $color-fg_byline;

  mark {
    color: inherit;
    background-color: transparent;
  }

  @media (min-width: $breakpoint-full) {
    position: absolute;
    bottom: 0;
    right: $width-gap;
  }
}
