// Byline
.byline {
  &::before {
    display: block;
    width: $width_logo;
    height: rem($line-height);
    content: "";
    background-image: linear-gradient(
      $color-fg_byline__line 0,
      $color-fg_byline__line 100%
    );
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% $height_byline__line;
  }

  mark {
    color: inherit;
    background-color: transparent;
  }

  @media (min-width: $breakpoint-content) {
    margin-top: 0;
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- $width-suppli - $width-gutter);
  }
}
