// Elsewhere
.elsewhere {
  @extend %centering-block;

  ul {
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    top: (- (em($line-height-default) + em($line-height-default * $ratio-footer-elsewhere)));
  }

  li {
    display: table-cell;
    font-size: em($ratio-footer-elsewhere);

    &::before {
      content: "\00a0\0020\2219\0020\00a0"; // Bullet Operator
    }

    &:first-child::before {
      content: "Follow me on:\0020\00a0";
    }
  }

  @media (min-width: $breakpoint-full) {
    ul {
      position: static;
    }
  }
}
