// Elsewhere
.elsewhere {
  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    display: table-cell;
    line-height: rem($line-height);
    font-size: rem($ratio_elsewhere);

    &::before {
      content: "\00a0\2219\00a0"; // Bullet Operator
    }

    &:first-child::before {
      content: "";
    }
  }

  @media (min-width: $breakpoint-full) {
    position: relative;

    ul {
      position: absolute;
      right: 0;
      bottom: 100%;
    }
  }
}
