// Elsewhere
.elsewhere {
  ul {
    padding-left: 0;
  }

  li {
    display: table-cell;
    line-height: ($line-height / $ratio_footer-elsewhere);
    font-size: em($ratio_footer-elsewhere);

    &::before {
      content: "\00a0\2219\00a0"; // Bullet Operator
    }

    &:first-child::before {
      content: "";
    }
  }

  @media (min-width: $breakpoint-full) {
    position: relative;

    ul {
      position: absolute;
      right: $width-gap;
      bottom: 100%;
    }
  }
}
