// Footlinks
.footlinks {
  ul {
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    top: $margin_heading--primary;
  }

  li {
    display: table-cell;
    line-height: ($line-height / $ratio_footlinks);
    font-size: em($ratio_footlinks);

    &::after {
      content: "\00a0\0020\2219\0020\00a0"; // Bullet Operator
    }

    &:first-child::after {
      content: "\00a0\0020\2026\0020\00a0"; // Horizontal Ellipsis
    }

    &:last-child::after {
      content: "";
    }
  }
}
