// Footlinks
.footlinks {
  position: relative;

  &::after {
    height: rem($line-height * $ratio_footer);
  }

  ul {
    margin-top: $margin_heading--primary;
    padding-left: 0;
  }

  li {
    display: table-cell;

    &::after {
      content: "\00a0\00b7\00a0"; // Middle Dot
    }

    &:first-child::after {
      content: "\002c\00a0"; // Comma
    }

    &:last-child::after {
      content: "";
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gutter));
  }
}
