// Contact Form
$color-fg-contact-form-label: $color-shade-lightest;
$color-bg-contact-form-label: $color-light-light;
$color-border-contact-form-label: $color-tint-light;

$color-fg-contact-form-text-field: $color-dark;

$color-fg-contact-form-button: $color-light-light;
$color-bg-contact-form-button: $color-accent-lightest;

$ratio-text-contact-form-label: $ratio-text-small;

$ratio-text-contact-form-text-field: $ratio-text-large;

$padding-contact-form-label: $padding-large;

$margin-top-contact-form-button: $margin-small;
$padding-vert-contact-form-button: $padding-large;
$width-contact-form-button: ($width-content-outer / pow($ratio, 3));

.contact-form {
  @extend %margin;

  .spamfree {
    display: none;
  }

  .cell {
    background-color: $color-bg-contact-form-label;
    border: 1px solid $color-border-contact-form-label;
    border-bottom-width: 0;
    border-right-width: 0;
    box-sizing: border-box;
    color: $color-fg-contact-form-label;
    display: block;
    font-size: rem($ratio-text-contact-form-label);
    padding: $padding-contact-form-label;
  }

  .half {
    float: left;
    width: 50%;
  }

  .full {
    clear: both;
    width: 100%;
  }

  .for-email {
    border-right-width: 1px;
  }

  .for-message {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  .text-field {
    background-color: transparent;
    border: 0;
    color: $color-fg-contact-form-text-field;
    display: block;
    font-size: rem($ratio-text-contact-form-text-field);
    padding: 0;
    resize: vertical;
    width: 100%;
  }

  .button {
    background-color: $color-bg-contact-form-button;
    border: 0;
    color: $color-fg-contact-form-button;
    cursor: pointer;
    display: block;
    margin-top: $margin-top-contact-form-button;
    padding: $padding-vert-contact-form-button 0;
    text-transform: uppercase;
    width: $width-contact-form-button;
  }
}
