// Drop
.drop {
  img {
    min-width: $width-supplement;
  }

  @media (min-width: $breakpoint-full) {
    float: left;
    margin-left: $indent-drop;
    margin-right: $width-gap;
    max-width: $width-drop-max;
  }
}
