// Drop
.drop {
  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gutter));
    margin-right: $width-gap;
    float: left;
    max-width: ($width-supplement + $width-gutter + $width-content / 2);
  }
}
