// Drop
$margin-left-drop-full: (- ($width-supplement + $width-gap-large));
$margin-right-drop-full: $width-gap-small;
$width-max-drop-full: ($width-supplement + $width-gap-large + $width-content / 2);

$width-min-drop-img: $width-supplement;

.drop {
  img {
    min-width: $width-min-drop-img;
  }

  @media (min-width: $breakpoint-full) {
    float: left;
    margin-left: $margin-left-drop-full;
    margin-right: $margin-right-drop-full;
    max-width: $width-max-drop-full;
  }
}
