// Fill
.fill {
  @extend %expander;

  img,
  video,
  canvas {
    border: 0;
    width: 100%;
  }

  figcaption {
    margin-left: (- $margin-side-expander);
  }

  @media (min-width: $breakpoint-content) {
    margin-left: 0;
    margin-right: 0;

    figcaption {
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gap-large));

    figcaption {
      bottom: auto;
      left: 0;
      margin-top: ($margin - $width-border-decorative-border - $margin-bottom-figcaption-border);
      text-align: left;
    }
  }
}
