// Flat DL
.flat-dl {
  dd {
    margin-right: $margin-flat-dl-dd;
    margin-left: 0;
    display: inline;
    color: $color-fg_flat-dl;
    white-space: nowrap;
  }

  @media (min-width: $breakpoint-content) {
    dt {
      margin-right: $margin-flat-dl-dt;
      display: inline;

      &::after {
        content: "\003a"; // Colon
      }
    }

    dd + dt::before {
      content: "\000a"; // Line Feed
      white-space: pre;
    }
  }
}
