// Flat List
.flat-list {
  @extend %clearfix;
  @extend %expander;

  padding-left: (- $margin-side-expander + $padding-left-list);

  @media (min-width: $breakpoint-content) {
    padding-left: 0;

    li {
      $p: $width-gap-small;

      box-sizing: border-box;
      display: block;
      float: left;
      padding-left: $p;
      padding-right: $p;
      width: (100% / 3);
    }
  }
}
