// Flat UL
.flat-ul {
  @extend %clearfix;

  @media (min-width: $breakpoint-content) {
    margin-left: $margin-side-flat-ul-content;
    margin-right: $margin-side-flat-ul-content;
    padding-left: 0;

    li {
      @include box-sizing(border-box);

      display: block;
      float: left;
      padding-left: $padding-side-flat-ul-item-full;
      padding-right: $padding-side-flat-ul-item-full;
      width: $width-flat-ul-item-full;
    }
  }
}
