// Floatage
@mixin floatage-base {
  max-width: percentage(1 / pow($ratio, 2));


  &:first-child {
    margin-top: 0;
  }
}

@media (min-width: $breakpoint-content) {
  $m: $width-gap-small;

  .floatage-left {
    @include floatage-base;

    float: left;
    margin-right: $m;
  }

  .floatage-right {
    @include floatage-base;

    float: right;
    margin-left: $m;
  }
}
