// Floatage
@media (min-width: $breakpoint--content) {
  .floatage-left {
    float: left;
    margin-right: $width-gap;
    max-width: 50%;
  }

  .floatage-right {
    float: right;
    margin-left: $width-gap;
    max-width: 50%;
  }
}
