// Floatage
@media (min-width: $breakpoint-content) {
  .floatage-left {
    float: left;
    margin-right: $margin-side-floatage-content;
    max-width: $width-max-floatage-content;
  }

  .floatage-right {
    float: right;
    margin-left: $margin-side-floatage-content;
    max-width: $width-max-floatage-content;
  }
}
