// Follow
@import "../bower_components/hail2u-scss-partials/corporate-colors";
@import "../bower_components/hail2u-scss-partials/vendor-extension";

.follow {
  @extend %clearfix;

  margin-right: (- $width-gap);
  margin-left: (- $width-gap);
  padding-left: 0;

  li {
    padding-right: $width-gap;
    padding-left: $width-gap;
    display: block;
    float: left;
    line-height: 1;
  }

  a {
    @include box-sizing(border-box);

    padding: $padding_follow__icon;
    display: block;
    width: $width_follow__icon;

    &[href^="https://twitter.com/"] {
      background-color: $cc-twitter;
    }

    &[href^="https://www.facebook.com/"] {
      background-color: $cc-facebook;
    }

    &[href$=".tumblr.com/"] {
      background-color: $cc-tumblr;
    }

    &[href$="/feed"] {
      background-color: $cc-feed;
    }
  }

  img {
    vertical-align: text-bottom;
  }
}
