// Full Width
$margin-left-full-width-full: (- ($width-supplement + $width-gap-large));

$margin-left-full-width-caption: (- $margin-side-expander);
$margin-top-full-width-caption-full: $margin;

.full-width {
  @extend %expander;

  img,
  video,
  canvas {
    border: 0;
    width: 100%;
  }

  figcaption {
    margin-left: $margin-left-full-width-caption;
  }

  @media (min-width: $breakpoint-content) {
    margin-left: 0;
    margin-right: 0;

    figcaption {
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-left: $margin-left-full-width-full;

    figcaption {
      bottom: auto;
      left: 0;
      margin-top: $margin-top-full-width-caption-full;
      text-align: left;
    }
  }
}
