// Full Width
.full-width {
  margin-right: (- $width-gap);
  margin-left: (- $width-gap);

  img,
  video,
  canvas {
    border: 0;
    width: 100%;
  }

  figcaption:last-child {
    margin-left: $width-gap;
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-gap + $width-supplement + $width-gutter));

    figcaption:last-child {
      margin-top: $margin;
      margin-left: 0;
      padding-bottom: 0;
      padding-left: ($width-gap - $width-border_figcaption);
      border-left: $width-border_figcaption solid $color-border_figcaption;
      border-bottom: 0;
      bottom: auto;
      left: 0;
    }
  }
}
