// Google AdSense
.adsense {
  margin-top: $margin;
  overflow: hidden;
  text-align: center;
  max-width: 300px;
  max-height: 250px;

  @media (min-width: 400px) {
    max-width: 336px;
    max-height: 280px;
  }

  @media (min-width: 1680px) {
    max-width: 728px;
    max-height: 90px;
  }
}
