// Google Custom Search Engine
@import "./bower_components/hail2u-scss-partials/image-replacement";
@import "./bower_components/hail2u-scss-partials/vendor-extension";

.searchbox form {
  margin-top: $margin-default;
  position: relative;
  max-width: $width-google-cse;

  input[type="text"],
  input[type="search"] {
    @include box-sizing(border-box);

    padding: 0 ($height-google-cse-form + $margin-google-cse-form) 0 $margin-google-cse-form;
    border: 1px solid $color-border-google-cse-form;
    width: 100%;
    height: $height-google-cse-form;
    color: $color-fg-google-cse-form;
    background-color: $color-bg-google-cse-form;

    &:focus {
      border-color: $color-border-google-cse-form-focus;
    }
  }

  input[type="submit"] {
    @include ir-text-indent; // ir-pseudo-element does not work on `input`

    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: $height-google-cse-form;
    height: $height-google-cse-form;
    background-color: $color-bg-google-cse-form-button;
    background-image: $image-magnifying-glass;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
  }

  input[type="text"]:focus + input[type="submit"],
  input[type="search"]:focus + input[type="submit"],
  input[type="submit"]:hover {
    background-color: $color-bg-google-cse-form-button-hover;
  }
}

body > .searchbox {
  @extend %centering-block;

  form {
    margin-top: $margin-heading;
  }

  @media (min-width: $breakpoint-full) {
    form {
      margin-top: $margin-primary-heading;
    }
  }
}
