// Icon List
@import '../assets/partials/hail2u-scss-partials/vendor-extension';

.icon-list {
  @extend %clearfix;
  @extend %link-underline-removal;

  margin-left: $margin-side-icon-list;
  margin-right: $margin-side-icon-list;
  padding-left: 0;

  li {
    display: block;
    float: left;
    line-height: 1;
    padding-left: $padding-side-icon-list-item;
    padding-right: $padding-side-icon-list-item;
  }

  a {
    @include box-sizing(border-box);

    background-color: $color-bg-icon-list-icon;
    border-radius: $border-radius-icon-list-icon;
    display: block;
    height: $height-icon-list-icon;
    padding: $padding-icon-list-icon;
    width: $width-icon-list-icon;
  }
}
