// Icon List
@import '../bower_components/hail2u-scss-partials/corporate-colors';
@import '../bower_components/hail2u-scss-partials/vendor-extension';

.icon-list {
  @extend %clearfix;
  @extend %link-underline-removal;

  margin-left: (- $width-gap-half);
  margin-right: (- $width-gap-half);
  padding-left: 0;

  li {
    display: block;
    float: left;
    line-height: 1;
    padding-left: $width-gap-half;
    padding-right: $width-gap-half;
  }

  a {
    @include box-sizing(border-box);

    border-radius: $border-radius-icon-list-icon;
    display: block;
    height: $height-icon-list-icon;
    padding: $padding-icon-list-icon;
    width: $width-icon-list-icon;

    &[href^='https://twitter.com/'] {
      background-color: $cc-twitter;
    }

    &[href^='https://www.facebook.com/'] {
      background-color: $cc-facebook;
    }

    &[href$='.tumblr.com/'] {
      background-color: $cc-tumblr;
    }

    &[type='application/rss+xml'] {
      background-color: $cc-feed;
    }
  }

  img {
    vertical-align: text-bottom;
  }
}
