// Icon List
@import '../bower_components/hail2u-scss-partials/corporate-colors';
@import '../bower_components/hail2u-scss-partials/vendor-extension';

.icon-list {
  @extend %link-underline-removal;
  @extend %clearfix;

  margin-left: (- $width-gap);
  margin-right: (- $width-gap);
  padding-left: 0;

  li {
    display: block;
    float: left;
    line-height: 1;
    padding-left: $width-gap;
    padding-right: $width-gap;
  }

  a {
    @include box-sizing(border-box);

    border-radius: $border-radius__icon-list__icon;
    display: block;
    height: $height__icon-list__icon;
    padding: $padding__icon-list__icon;
    width: $width__icon-list__icon;

    &[href^='https://twitter.com/'] {
      background-color: $cc-twitter;
    }

    &[href^='https://www.facebook.com/'] {
      background-color: $cc-facebook;
    }

    &[href$='.tumblr.com/'] {
      background-color: $cc-tumblr;
    }

    &[href$='/feed'] {
      background-color: $cc-feed;
    }
  }

  img {
    vertical-align: text-bottom;
  }
}
