// Paging
.paging {
  @extend %remove-link-underline;

  position: relative;

  ul {
    margin-top: $margin_heading;
    padding-left: 0;
  }

  li {
    padding-right: $margin_paging__icon;
    display: table-cell;
  }

  a {
    @extend %ir;

    display: block;
    width: $width_paging__icon;
    height: $height_paging__icon;

    &[rel="prev"]::before {
      background-image: $image_arrow--left;
    }

    &[rel="next"]::before {
      background-image: $image_arrow--right;
    }
  }
}
