// Post List
.post-list ol {
  @extend %link-underline-removal;

  padding-left: 0;

  li {
    @extend %overflow-ellipsis;

    margin-top: $margin_post-list__item;
    position: relative;
    list-style-type: none;
  }

  time {
    display: block;
    color: $color-fg_post-list__time;
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-right: $width_post-list__date;
    }

    time {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
