// Post List
.post-list {
  @extend %link-underline-removal;

  padding-left: 0;

  li {
    @extend %positioning-root;

    $r: $ratio-text-large;
    $lh: $line-height-tiny;

    font-size: rem($r);
    line-height: $lh;
    list-style-type: none;
    margin-top: $margin-small;

    $height-post-list-item: rem($lh * $r) !global;
  }

  .info {
    @extend %float;
    @extend %footing;
  }

  @media (min-width: $breakpoint-content) {
    .info {
      float: right;
      line-height: ($height-post-list-item / $ratio-text-footing);
      margin-left: $width-gap-small;
    }
  }

  @media (min-width: $breakpoint-full) {
    .info {
      float: none;
      margin-left: 0;
    }
  }
}
