// Post List
.post-list {
  @extend %link-underline-removal;

  $lh: $line-height-tiny;
  $r: $ratio-text-large;

  padding-left: 0;

  li {
    @extend %positioning-root;

    font-size: rem($r);
    line-height: $lh;
    list-style-type: none;
    margin-bottom: $margin-small;
  }

  .info {
    @extend %footing;
  }

  @media (min-width: $breakpoint-content) {
    .info {
      float: right;
      line-height: ($lh * $r / $ratio-text-footing);
      margin-left: $width-gap-small;
    }

    li > a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @media (min-width: $breakpoint-full) {
    .info {
      float: none;
      margin-left: 0;
    }
  }
}
