// Pull Quote
.pull-quote {
  $m: $width-gap;

  color: $color-dark-light;
  font-size: rem($ratio-text-huge);
  line-height: $line-height-tiny;
  margin-left: $m;
  margin-right: $m;
  text-align: center;

  p {
    quotes: "\201c" "\201d"; // Left Double Quotation Mark, Double Low-9 Quotation Mark

    &::before {
      content: open-quote;
      font-weight: bolder;
    }

    &::after {
      content: close-quote;
      font-weight: bolder;
    }
  }

  @media (min-width: $breakpoint-content) {
    $m: $indent;

    margin-left: $m;
    margin-right: $m;
  }

  @media (min-width: $breakpoint-full) {
    float: left;
    margin-bottom: $margin-tiny;
    margin-left: (- ($width-supplement + $width-gap-large));
    margin-right: $width-gap;
    max-width: ($width-supplement + $width-gap-large + $width-supplement / $ratio);
  }
}
