// Pull Quote
.pull-quote {
  color: $color-fg-pull-quote;
  font-size: rem($ratio-text-pull-quote);
  line-height: $line-height-pull-quote;
  margin-left: $margin-side-pull-quote;
  margin-right: $margin-side-pull-quote;
  text-align: center;

  p {
    quotes: "\201c" "\201d"; // Left Double Quotation Mark, Double Low-9 Quotation Mark

    &::before {
      content: open-quote;
      font-weight: bolder;
    }

    &::after {
      content: close-quote;
      font-weight: bolder;
    }
  }

  @media (min-width: $breakpoint-content) {
    margin-left: $margin-side-pull-quote-content;
    margin-right: $margin-side-pull-quote-content;
  }

  @media (min-width: $breakpoint-full) {
    float: left;
    margin-left: $margin-left-pull-quote-full;
    width: $width-pull-quote-full;
  }
}
