// Pull Quote
.pull-quote {
  margin-right: $indent-default;
  margin-left: $indent-default;
  line-height: ($line-height-default * 1.5 / $ratio-pull-quote);
  text-align: center;

  p {
    margin-top: ($margin-default / $ratio-pull-quote);
    quotes: "\201c" "\201d"; // Left Double Quotation Mark, Double Low-9 Quotation Mark
    color: $color-fg_pull-quote;
    font-size: em($ratio-pull-quote);

    &::before {
      content: open-quote;
      font-weight: bold;
    }

    &::after {
      content: close-quote;
      font-weight: bold;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-right: $width-gutter;
    margin-left: (- ($width-suppli + $width-gutter));
    float: left;
    width: ($width-suppli + $width-gutter + $width-suppli);
  }
}
