// Read Older
.read-older {
  p {
    margin-top: ($margin_heading / $ratio_read-older__title);
    overflow: hidden;
    line-height: $line-height_heading;
    font-size: em($ratio_read-older__title);
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
      display: block;
      content: "Read older:";
      color: $color-fg-read-older__label;
      font-size: em(1 / $ratio_read-older__title);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
