// Read Older
.read-older {
  @extend %positioning-root;
  @extend %link-underline-removal;

  $lh: $line-height-tiny;
  $r: $ratio-text-huge;

  a::before {
    @extend %protrusion;

    $m: $margin-huge;

    color: $color-dark-light;
    content: "Read older:";
    display: block;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: $margin-tiny;
    margin-top: $m;
    text-transform: uppercase;

    $margin-top-read-older-label: $m !global;
  }

  p {
    font-size: rem($r);
    line-height: $lh;
  }

  @media (min-width: $breakpoint-full) {
    a::before {
      line-height: ($lh * $r);
      margin-top: 0;
    }

    p {
      margin-top: $margin-top-read-older-label;
    }
  }
}
