// Read Older
.read-older {
  @extend %link-underline-removal;

  p {
    @extend %overflow-ellipsis;

    margin-top: $margin_heading;
    line-height: $line-height_heading;
    font-size: rem($ratio_read-older__title);
    white-space: normal;

    &::before {
      display: block;
      content: "Read older:";
      color: $color-fg-read-older__label;
      font-size: rem(1);
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @media (min-width: $breakpoint-content) {
    p {
      white-space: nowrap;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gutter));
  }
}
