// Searchbox
@import '../node_modules/hail2u-scss-partials/image-replacement';
@import '../node_modules/hail2u-scss-partials/vendor-extension';

.searchbox {
  max-width: $width-max-searchbox;

  .content & {
    @extend %positioning-root;

    margin-top: $margin-top-searchbox;
  }

  .query {
    @include box-sizing(border-box);

    -webkit-appearance: none;
    background-color: $color-bg-searchbox-input;
    border: $width-border-searchbox-input solid $color-border-searchbox-input;
    border-radius: 0;
    color: $color-fg-searchbox-input;
    height: $height-searchbox-input;
    padding: 0 $padding-right-searchbox-input 0 $padding-left-searchbox-input;
    width: 100%;
  }

  .button {
    // ir-pseudo-element does not work on `input`
    @include ir-text-indent;

    background-color: $color-bg-searchbox-button;
    background-image: $image-searchbox-button;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0;
    border-radius: 0;
    height: $height-searchbox-button;
    padding: 0;
    position: absolute;
    right: 0;
    top: $top-searchbox-button;
    width: $width-searchbox-button;
  }
}
