// Searchbox
@import '../bower_components/hail2u-scss-partials/image-replacement';
@import '../bower_components/hail2u-scss-partials/vendor-extension';

.searchbox {
  margin-top: $margin;
  max-width: $width-searchbox;
  position: relative;

  .query {
    @include box-sizing(border-box);

    -webkit-appearance: none;
    background-color: $color-bg-searchbox-input;
    border: $width-border-searchbox-input solid $color-border-searchbox-input;
    border-radius: 0;
    color: $color-fg-searchbox-input;
    height: $height-searchbox-input;
    outline: none;
    padding: 0 ($width-searchbox-button + $padding-searchbox-input) 0 $padding-searchbox-input;
    width: 100%;

    &:focus {
      border-color: $color-border-searchbox-input-focus;
      color: $color-fg-searchbox-input-focus;
    }
  }

  .button {
    // ir-pseudo-element does not work on `input`
    @include ir-text-indent;

    background-color: $color-bg-searchbox-button;
    background-image: $image-searchbox-button;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0;
    border-radius: 0;
    height: $height-searchbox-button;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $width-searchbox-button;
  }

  .query:focus + .button,
  .button:focus {
    background-color: $color-bg-searchbox-button-focus;
  }
}
