// Seemore
.seemore {
  @extend %link-underline-removal;

  a {
    font-weight: bold;
    text-transform: uppercase;

    &::after {
      content: "\0020\2794"; // Heavy Wide-Headed Rightwards Arrow
    }
  }
}
