// Seealso
.seealso {
  @extend %ir;

  color: $color-fg_seealso;
  font-weight: bold;

  a {
    font-weight: normal;
  }

  &::before {
    margin-right: ($width-seealso-icon * 0.25);
    display: inline-block;
    width: $width-seealso-icon;
    background-image: $image_chain;
  }
}
