// Seemore
.seemore {
  a {
    border-bottom: $width-border-seemore solid;
    font-weight: bold;
    text-transform: uppercase;

    &::after {
      content: "\0020\2192"; // Rightwards Arrow
    }
  }
}
