// Seemore
.seemore {
  @extend %link-underline-removal;

  a {
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      content: '\2794\0020'; // Heavy Wide-Headed Rightwards Arrow
    }
  }
}
