// Seealso
.seealso {
  @extend %ir;

  color: $color-fg_seealso;
  font-weight: bold;
  font-size: rem($ratio_seealso);

  a {
    font-weight: normal;
  }

  &::before {
    @extend %hang;

    margin-top: $margin_seealso__icon;
    display: inline-block;
    width: $width_seealso__icon;
    height: $height_seealso__icon;
    vertical-align: top;
    background-image: $image_seealso__icon;
    background-position: left center;
  }

  @media (min-width: $breakpoint-full) {
    &::before {
      top: auto;
      background-position: right center;
    }
  }
}
