// Sidenote
.sidenote {
  @extend %float;

  color: $color-fg-sidenote;

  p {
    font-size: rem($ratio-text-sidenote);
    margin-top: $margin;
  }

  @media (min-width: $breakpoint-full) {
    top: auto;
  }
}
