// Sidenote
.sidenote {
  @extend %float;

  color: $color-fg_sidenote;

  p {
    font-size: rem($ratio-text_sidenote);
    margin-top: $margin;
  }

  @media (min-width: $breakpoint--full) {
    top: auto;
  }
}
