// Topic
.topic {
  @extend %link-underline-removal;

  > a {
    color: inherit;
  }

  .section-footer + p::after {
    color: $color-fg__topic__more;
    content: 'More\0020\279f'; // Dashed Triangle-Headed Rightwards Arrow
    font-size: rem($ratio-text__topic__more);
    font-weight: bold;
    margin-left: $margin__topic__more;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
