// Topic
.topic {
  @extend %link-underline-removal;

  h1 {
    @extend %heading-push;
  }

  > a {
    color: inherit;
  }

  > a > p::after {
    margin-left: $margin_topic__more;
    content: "More\0020\279f"; // Dashed Triangle-Headed Rightwards Arrow
    font-weight: bold;
    color: $color-fg_topic__more;
    text-transform: uppercase;
  }
}
