// Logo
.logo {
  color: inherit;
  display: block;
  font-size: rem($ratio-text-logo);
  height: $height-logo;
  line-height: $line-height-logo;
  margin-top: 0;

  @media (min-width: $breakpoint-full) {
    margin-left: $margin-left-logo-full;
    text-align: right;
    width: $width-supplement;
  }
}
