// Logo
.logo {
  height: $height-logo;
  margin-left: $margin-left-logo;
  margin-top: $margin-top-logo;

  a,
  mark {
    display: block;
    height: $height-logo;
    width: $width-logo;
  }

  mark {
    background-color: transparent;
  }
}
