// Site Navigation
.site-navigation {
  font-size: rem($ratio-text-small);
  text-transform: uppercase;

  ul {
    padding-left: 0;
  }

  li {
    display: table-cell;
    padding-right: $padding-side-centering;
  }

  a {
    color: inherit;
    display: inline-block;
  }

  mark {
    background-color: transparent;
    border-bottom: $width-border solid $color-primary-light;
    padding-bottom: $padding-small;
  }

  @media (min-width: $breakpoint-content) {
    line-height: $line-height-logo;
    position: absolute;
    right: 0;
    top: 0;

    li {
      padding-left: $padding-side-centering;
    }
  }
}
