// Site Navigation
.site-navigation {
  font-size: rem($ratio-text-site-navigation);
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    display: table-cell;
    height: $height-site-navigation;
    line-height: $height-site-navigation;
    padding-right: $width-site-navigation-gutter;
  }

  a {
    color: inherit;
    display: inline-block;
  }

  mark {
    background-color: transparent;
    border-bottom: $width-border-site-navigation-mark solid;
    color: $color-fg-site-navigation-mark;
    padding-bottom: $padding-site-navigation-mark;
  }
}
