// Site Navigation
.site-navigation {
  font-size: rem($ratio-text-site-navigation);
  position: absolute;
  right: $width-gap-half;
  text-transform: uppercase;
  top: 0;

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    display: table-cell;
    height: $height-site-navigation;
    line-height: $height-site-navigation;
    padding-left: $width-site-navigation-gutter;
  }

  a {
    color: inherit;
    display: inline-block;
  }

  mark {
    background-color: transparent;
    border-bottom: $width-border-site-navigation-mark solid;
    color: $color-fg-site-navigation-mark;
    padding-bottom: $padding-site-navigation-mark;
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-left: $width-site-navigation-gutter-content;
    }
  }

  @media (min-width: $breakpoint-full) {
    right: auto;
    width: $width-site-navigation--full;

    li {
      padding-left: 0;
      padding-right: $width-site-navigation-gutter-full;

      &:last-child {
        padding-right: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
