// Tagline
.tagline {
  @extend %font-family__tagline;
  @extend %heading;

  font-size: rem($ratio-text__tagline);
  font-weight: 200;
  margin-top: $margin__tagline;

  em {
    font-style: italic;
    font-weight: inherit;
  }

  .permalink & {
    display: none;
  }

  @media (min-width: $breakpoint--content) {
    font-size: rem($ratio-text__tagline--content);
    margin-top: $margin__tagline--content;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  @media (min-width: $breakpoint--full) {
    margin-left: (- ($width-supplement + $width-gutter));
    margin-top: $margin__tagline--full;
  }
}
