// Basic
$color-fg: rgb(85, 85, 85);
$color-bg: rgb(252, 249, 240);

$color-accent: rgb(17, 136, 187);
$color-accent--darkest: rgb(6, 87, 122);
$color-accent--dark: rgb(45, 111, 140);
$color-accent--light: rgb(70, 176, 221);
$color-accent--lightest: rgb(111, 188, 221);

$color-accent-complement: rgb(255, 140, 12);
$color-accent-complement--darkest: rgb(255, 192, 121);
$color-accent-complement--dark: rgb(255, 169, 73);
$color-accent-complement--light: rgb(191, 127, 55);
$color-accent-complement--lightest: rgb(166, 89, 4);

// Class
$color-fg_line-label: mixxd($color-fg, $color-bg, 0.92);

// Core
$color-fg_body: $color-fg;
$color-bg_body: $color-bg;

$color-fg_heading: mixxd($color-fg, $color-bg, 0.12);

$color-fg_hr: mixxd($color-fg, $color-bg, 0.88);

$color-fg_blockquote: mixxd($color-fg, $color-bg, 0.36);
$color-border_blockquote: mixxd($color-fg, $color-bg, 0.92);

$color-fg_pre: mixxd($color-fg, $color-bg, 0.16);
$color-bg_pre: mixxd($color-fg, $color-bg, 0.98);

$color-fg_dt: mixxd($color-fg, $color-bg, 0.12);

$color-border_figcaption: mixxd($color-fg, $color-bg, 0.92);

$color-fg_link: $color-accent;
$color-fg_link--hover: $color-accent--darkest;

$color-fg_em: mixxd($color-fg, $color-bg, 0.12);

$color-fg_strong: mixxd($color-fg, $color-bg, 0.12);

$color-bg_mark: rgb(255, 221, 0);

$color-bg_img: white;

$color-border_table: mixxd($color-fg, $color-bg, 0.8);

$color-fg_th: mixxd($color-fg, $color-bg, 0.12);
$color-bg_th: mixxd($color-fg, $color-bg, 0.92);

$color-fg_td: mixxd($color-fg, $color-bg, 0.12);
$color-bg_td: mixxd($color-fg, $color-bg, 0.98);

// Header
$color-fg_header-tagline--em: mixxd($color-fg, $color-bg, 0.24);

$color-fg_header-site-navigation: inherit;
$color-fg_header-site-navigation__mark: $color-accent--light;
$color-fg_header-site-navigation--hover: $color-accent;

// Main
$color-fg_main-article-footer: mixxd($color-fg, $color-bg, 0.6);
$color-fg_main-article-footer__time: $color-fg;

// Pull Quote
$color-fg_pull-quote: $color-fg_blockquote;

// Seealso
$color-fg_seealso: mixxd($color-fg, $color-bg, 0.12);

$color-fg_seealso__icon: mixxd($color-fg, $color-bg, 0.72);

// Sidenote
$color-fg_sidenote: mixxd($color-fg, $color-bg, 0.48);

// Posts
$color-fg_posts-top-picks__tag: $color-fg;
$color-fg_posts-top-picks__more: $color-fg_link;
$color-fg_posts-top-picks__title--hover: $color-fg_link;
$color-fg_posts-top-picks__more--hover: $color-fg_link--hover;
$color-fg_posts-list__time: mixxd($color-fg, $color-bg, 0.6);

// Flat DL
$color-fg_flat-dl: mixxd($color-fg, $color-bg, 0.8);

// Read Older
$color-fg_read-older__label: mixxd($color-fg, $color-bg, 0.12);

// Paging
$color-fg_paging: $color-accent--light;

$color-fg_paging__icon: $color-fg_paging;

// Google Code Prettify
$color-fg_google-code-prettify__default: #333;
$color-fg_google-code-prettify__comment: #999;
$color-fg_google-code-prettify__constant: #390;
$color-fg_google-code-prettify__number: #939;
$color-fg_google-code-prettify__identifier: #c39;
$color-fg_google-code-prettify__statement: #c30;
$color-fg_google-code-prettify__preproc: #c33;
$color-fg_google-code-prettify__type: #399;
$color-fg_google-code-prettify__special: #c90;

// Google Custom Search Engine
$color-fg_google-cse: rgb(17, 17, 17);
$color-bg_google-cse: rgb(255, 255, 255);
$color-fg_google-cse__button: $color-bg_google-cse;
$color-bg_google-cse__button: grayscale(mixxd($color-accent--light, white, 0.6));
$color-bg_google-cse__button--hover: $color-accent--light;
$color-border_google-cse: $color-bg_google-cse__button;
$color-border_google-cse--focus: $color-bg_google-cse__button--hover;
