// Basic
$color-dark: rgb(60, 51, 48);
$color-light: rgb(252, 249, 240);

// scss-lint:disable ColorVariable
$color-dark-dark: mix($color-dark, rgb(0, 0, 0));
// scss-lint:enable ColorVariable
$color-dark-light: mix($color-dark, $color-light, 80%);

$color-light-dark: mix($color-dark, $color-light, 20%);
// scss-lint:disable ColorVariable
$color-light-light: mix($color-light, rgb(255, 255, 255));
// scss-lint:enable ColorVariable


// Accent
$color-primary: rgb(33, 117, 180);
$color-secondary: rgb(255, 213, 0);

$color-primary-dark: rgb(7, 71, 121);
$color-primary-light: rgb(105, 165, 211);

$color-secondary-light: rgb(251, 254, 0);
$color-secondary-dark: rgb(255, 171, 0);


// Placeholder Class
$color-fg-link: $color-primary;


// Core
$color-border-blockquote: $color-light-dark;
$color-fg-blockquote: $color-dark-light;

$color-border-table: $color-light-dark;


// Global Header
$color-fg-tagline: $color-dark-light;
$font-weight-tagline: 700;

