// Basic
$color-dark: rgb(60, 51, 48);
$color-light: rgb(252, 249, 240);
$color-accent: rgb(17, 136, 187);

// Variation
$color-shade--darkest: mix($color-dark, $color-light, 88%);
$color-shade--dark: mix($color-dark, $color-light, 76%);
$color-shade--light: mix($color-dark, $color-light, 64%);
$color-shade--lightest: mix($color-dark, $color-light, 52%);

$color-tint--darkest: mix($color-dark, $color-light, 38%);
$color-tint--dark: mix($color-dark, $color-light, 26%);
$color-tint--light: mix($color-dark, $color-light, 14%);
$color-tint--lightest: mix($color-dark, $color-light, 2%);

$color-dark--dark: mix($color-dark, rgb(0, 0, 0));
$color-light--light: mix($color-light, rgb(255, 255, 255));

$color-accent--darkest: rgb(4, 83, 117);
$color-accent--dark: rgb(5, 107, 151);
$color-accent--light: rgb(53, 152, 195);
$color-accent--lightest: rgb(91, 172, 208);

$color-accent__complement: rgb(255, 140, 12);
$color-accent__complement--darkest: rgb(185, 98, 0);
$color-accent__complement--dark: rgb(239, 126, 0);
$color-accent__complement--light: rgb(255, 163, 60);
$color-accent__complement--lightest: rgb(255, 184, 104);

$color-accent__adjacent-positive: rgb(34, 56, 197);
$color-accent__adjacent-positive--darkest: rgb(12, 28, 127);
$color-accent__adjacent-positive--dark: rgb(16, 36, 164);
$color-accent__adjacent-positive--light: rgb(68, 87, 204);
$color-accent__adjacent-positive--lightest: rgb(104, 120, 215);

$color-accent__adjacent-negative: rgb(10, 203, 88);
$color-accent__adjacent-negative--darkest: rgb(0, 133, 54);
$color-accent__adjacent-negative--dark: rgb(0, 172, 70);
$color-accent__adjacent-negative--light: rgb(49, 209, 114);
$color-accent__adjacent-negative--lightest: rgb(90, 219, 142);

$color-accent__triad-positive: rgb(255, 59, 12);
$color-accent__triad-positive--darkest: rgb(185, 35, 0);
$color-accent__triad-positive--dark: rgb(239, 46, 0);
$color-accent__triad-positive--light: rgb(255, 97, 60);
$color-accent__triad-positive--lightest: rgb(255, 133, 104);

$color-accent__triad-negative: rgb(255, 186, 12);
$color-accent__triad-negative--darkest: rgb(185, 133, 0);
$color-accent__triad-negative--dark: rgb(239, 172, 0);
$color-accent__triad-negative--light: rgb(255, 200, 60);
$color-accent__triad-negative--lightest: rgb(255, 212, 104);

// Core
$color-fg__body: $color-dark;
$color-bg__body: $color-light;

$color-fg__heading: $color-shade--darkest;
$color-fg__heading--primary: $color-fg__heading;

$color-fg__hr: $color-tint--light;

$color-fg__blockquote: $color-shade--dark;
$color-border__blockquote: $color-tint--light;

$color-fg__dt: $color-shade--darkest;

$color-fg__figcaption: $color-shade--dark;
$color-border__figcaption: $color-tint--light;

$color-fg__link: $color-accent;
$color-fg__link__underline: $color-accent--lightest;

$color-fg__em: $color-shade--darkest;

$color-fg__strong: $color-accent__triad-positive;

$color-bg__mark: $color-accent__triad-negative;

$color-bg__img: $color-tint--lightest;
$color-border__img: $color-bg__img;

$color-border__td: $color-tint--light;

// Site Navigation
$color-fg__site-navigation__mark: $color-accent--light;

// Article Heading
$color-fg__article-heading--permalink: $color-dark;

// Article Footer
$color-fg__article-footer: $color-shade--lightest;

$color-fg__article-footer__time: $color-dark;

$color-fg__article-footer__tag: $color-dark;

// Byline
$color-fg__byline: $color-shade--darkest;
$color-border__byline__border: $color-tint--light;

// Footnote
$color-border__footnote: $color-tint--dark;

// Post List
$color-fg__post-list__time: $color-shade--lightest;

// Pull Quote
$color-fg__pull-quote: $color-shade--dark;

// Read Older
$color-fg__read-older__label: $color-shade--darkest;

// Searchbox
$color-fg__searchbox__input: $color-shade--light;
$color-fg__searchbox__input--focus: $color-dark--dark;
$color-bg__searchbox__input: $color-light--light;
$color-border__searchbox__input: $color-tint--light;
$color-border__searchbox__input--focus: $color-accent--light;

$color-fg__searchbox__button: $color-bg__searchbox__input;
$color-bg__searchbox__button: $color-border__searchbox__input;
$color-bg__searchbox__button--focus: $color-border__searchbox__input--focus;

// Seealso
$color-fg__seealso: $color-shade--dark;

$color-fg__seealso__link: $color-fg__link;

$color-fg__seealso__icon: $color-shade--darkest;

// Sidenote
$color-fg__sidenote: $color-shade--lightest;

// Topic
$color-fg__topic__more: $color-fg__link;
