// Emoji
@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'), local('Segoe UI Symbol');
}

// Core
$font-family-body: 'Source Sans Pro', 'Emoji', sans-serif;
$font-family-body-print: serif;
