// Emoji
@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'), local('Segoe UI Symbol');
}

// Core
$font-family-body: 'Noto Sans CJK JP', 'Emoji', sans-serif;
$font-family-body-print: serif;

$font-family-code: 'Source Code Pro', 'Emoji', monospace;
$font-family-code-print: monospace;
