// Serif
$font-stack-serif-local: "Palatino", "Palatino Linotype", serif;
$font-stack-serif: $font-stack-serif-local;

// Sans-Serif
$font-stack-sans-serif-local: -apple-system, "Segoe UI", sans-serif;
$font-stack-sans-serif: $font-stack-sans-serif-local;

// Monospace
$font-stack-monospace-local: "Menlo", "Consolas", monospace;
$font-stack-monospace: $font-stack-monospace-local;
