// Basic
$ratio: 1.7;


// Text Size
$ratio-text-primary: 1;
$ratio-text-secondary: (24px / 16px);


// Harmonic Ratio
$ratio-text: $ratio-text-primary;
$ratio-text-minimal: ($ratio-text-secondary / pow($ratio, 2));
$ratio-text-tiny: ($ratio-text-primary / $ratio);
$ratio-text-small: ($ratio-text-secondary / $ratio);
$ratio-text-large: $ratio-text-secondary;
$ratio-text-huge: ($ratio-text-primary * $ratio);
$ratio-text-gargantuan: ($ratio-text-secondary * $ratio);
$ratio-text-enormous: ($ratio-text-primary * pow($ratio, 2));
$ratio-text-maximal: ($ratio-text-secondary * pow($ratio, 2));


// Column
$ratio-content: 1;
$ratio-supplement: (1 / pow($ratio, 2));
