// Basic
$ratio-golden: 1.61803;
$ratio-silver: 2.41421;
$ratio-bronze: 3.30378;
$ratio-yamato: 1.41421;

// Text Size
$ratio-text-primary: (16px / 16px);
$ratio-text-secondary: (21px / 16px);

// Harmonic Ratio
$ratio-text-alpha: ($ratio-text-secondary * $ratio-golden);
$ratio-text-beta: ($ratio-text-primary * $ratio-golden);
$ratio-text-gamma: $ratio-text-secondary;
$ratio-text-delta: $ratio-text-primary;
$ratio-text-epsilon: ($ratio-text-secondary / $ratio-golden);
$ratio-text-zeta: ($ratio-text-primary / $ratio-golden);

// Main Component
$ratio-content: 1;
$ratio-supplement: (1 / pow($ratio-golden, 2));

// Placeholder Class
$ratio-text-pin: $ratio-text-epsilon;

// Core
$ratio-text-base: $ratio-text-delta;
$ratio-text-base-full: (($ratio-text-delta + $ratio-text-gamma) / 2);

$ratio-text-heading: $ratio-text-gamma;
$ratio-text-heading-primary: $ratio-text-beta;

$ratio-text-abbr: $ratio-text-epsilon;

// Site Navigation
$ratio-text-site-navigation: $ratio-text-epsilon;

// Global Footer
$ratio-text-global-footer: $ratio-text-epsilon;

// Footnote
$ratio-text-footnote: $ratio-text-epsilon;

// Pull Quote
$ratio-text-pull-quote: $ratio-text-beta;

// Read Older
$ratio-text-read-older-title: $ratio-text-beta;

// Seealso
$ratio-text-seealso: $ratio-text-gamma;

// Sidenote
$ratio-text-sidenote: $ratio-text-epsilon;

// Topic
$ratio-text-topic-more: $ratio-text-epsilon;
