// Basic
$ratio: 1.61803;

// Text Size
$ratio-text-primary: (16px / 16px);
$ratio-text-secondary: (21px / 16px);

// Harmonic Ratio
$ratio-text: $ratio-text-primary;
$ratio-text-minimal: ($ratio-text-secondary / pow($ratio, 2));
$ratio-text-tiny: ($ratio-text-primary / $ratio);
$ratio-text-small: ($ratio-text-secondary / $ratio);
$ratio-text-large: $ratio-text-secondary;
$ratio-text-huge: ($ratio-text-primary * $ratio);
$ratio-text-gargantuan: ($ratio-text-secondary * $ratio);
$ratio-text-enormous: ($ratio-text-primary * pow($ratio, 2));
$ratio-text-maximal: ($ratio-text-secondary * pow($ratio, 2));

// Column
$ratio-content: 1;
$ratio-supplement: (1 / pow($ratio, 2));

// Placeholder class
$ratio-text-footing: $ratio-text-small;

// Core
$ratio-text-html: $ratio-text;

$ratio-text-heading: $ratio-text-huge;
$ratio-text-heading-content: $ratio-text-gargantuan;

$ratio-text-subheading: $ratio-text-large;
$ratio-text-subheading-content: $ratio-text-huge;

// Logo
$ratio-text-logo: $ratio-text;

// Site Navigation
$ratio-text-site-navigation: $ratio-text-small;

// Tagline
$ratio-text-tagline: $ratio-text-large;
$ratio-text-tagline-content: $ratio-text-huge;

// Global Footer
$ratio-text-global-footer: $ratio-text-small;

// Footnote
$ratio-text-footnote: $ratio-text-small;

// Contact Form
$ratio-text-contact-form-label: $ratio-text-small;

$ratio-text-contact-form-text-field: $ratio-text-large;

// Post List
$ratio-text-post-list-item: $ratio-text-large;

// Pull Quote
$ratio-text-pull-quote: $ratio-text-huge;

// Read Older
$ratio-text-read-older-title: $ratio-text-huge;

// Seealso
$ratio-text-seealso: $ratio-text-large;

// Sidenote
$ratio-text-sidenote: $ratio-text-small;
