// Line Height
$line-height: $ratio-golden;
$line-height-tiny: ($line-height * .8);
$line-height-small: ($line-height * .9);
$line-height-large: ($line-height * 1.1);

// Margin
$margin: rem($ratio-golden);
$margin-minimal: ($margin / pow($ratio-golden, 3));
$margin-tiny: ($margin / pow($ratio-golden, 2));
$margin-small: ($margin / $ratio-golden);
$margin-large: ($margin * $ratio-golden);
$margin-huge: ($margin * pow($ratio-golden, 2));
$margin-gargantuan: ($margin * pow($ratio-golden, 3));
$margin-enormous: ($margin * pow($ratio-golden, 4));
$margin-maximal: ($margin * pow($ratio-golden, 5));

// Indent
$indent: rem(pow($ratio-golden, 2));

// Border
$width-border: .125rem;
$width-border-small: ($width-border / 2);
$width-border-large: ($width-border * 2);

// Padding
$padding: .25rem;
$padding-small: ($padding / 2);
$padding-large: ($padding * 2);
$padding-huge: ($padding * 3);
$padding-gargantuan: ($padding * 4);

// Column
$column: 36rem;
$column-gap: rem($ratio-golden);

// Main Component
$width-gap: $column-gap;
$width-gap-half: ($column-gap / 2);

$width-content: $column;
$width-content-outer: ($width-gap-half + $width-content + $width-gap-half);

$width-supplement-outer: ($width-content-outer / $ratio-content * $ratio-supplement);
$width-supplement: (- $width-gap-half + $width-supplement-outer - $width-gap-half);

$width-full-outer: ($width-supplement-outer + $width-content-outer);
$width-full: (- $width-gap-half + $width-full-outer - $width-gap-half);

// Breakpoint
$width-scrollbar: 1.5rem;
$breakpoint-content: (($width-content-outer + $width-scrollbar) * $ratio-text-html-content);
$breakpoint-full: (($width-full-outer + $width-scrollbar) * $ratio-text-html-full);

// Placeholder Class
$width-max-centering: $width-content;
$padding-side-centering: $width-gap-half;
$padding-left-centering-full: ($width-supplement-outer + $width-gap-half);

$margin-right-float-full: $width-gap;
$width-float-full: $width-supplement;

$line-height-heading: $line-height-tiny;

$line-height-footing: ($line-height-heading / $ratio-text-footing);

$margin-top-margin: $margin;

$margin-top-margin-after-heading: $margin-tiny;

$width-search-form-button: rem($line-height);
$height-search-form-button: $width-search-form-button;
$top-search-form-button: $padding-small;

$padding-right-search-form-query: $padding;
$padding-left-search-form-query: $width-search-form-button;
$width-border-search-form-query: $width-border-small;
$height-search-form-query: ($height-search-form-button + $padding-small * 2);

// Core
$line-height-body: $line-height-small;
$line-height-body-content: $line-height;
$line-height-body-full: $line-height-large;

$margin-top-heading: $margin-enormous;

$margin-top-subheading: $margin-huge;

$margin-top-hr: $margin;
$height-hr: rem($line-height * pow($ratio-golden, 3));
$width-hr: ($height-hr * 1.5);

$line-height-pre: $line-height-tiny;

$width-border-blockquote: $width-border-large;
$padding-left-blockquote: $width-gap;
$margin-left-blockquote-full: (- ($width-border-blockquote + $padding-left-blockquote));

$padding-left-list: $indent;
$padding-left-list-nested-full: $padding-left-list;

$margin-left-dd: $indent;

$width-border-figcaption: $width-border-small;
$padding-top-figcaption-full: ($width-border-figcaption + $margin-tiny);
$padding-bottom-figcaption-at-last-full: $padding-top-figcaption-full;

$padding-top-figcaption-blockquote: $margin-tiny;

$width-border-strong: $width-border-small;

$letter-spacing-abbr: $width-border-small;

$width-border-td: $width-border-small;
$padding-td: $padding-large;

$width-border-th-thead: $width-border;

// Logo
$margin-left-logo-full: (- ($width-supplement + $width-gap));
$height-logo: ($width-supplement / pow($ratio-golden, 3));
$height-logo-content: ($height-logo * $ratio-golden);
$width-logo: ($height-logo / $ratio-aspect-logo);
$width-logo-content: ($height-logo-content / $ratio-aspect-logo);

// Site Navigation
$line-height-site-navigation-item: $height-logo;
$line-height-site-navigation-item-content: $height-logo-content;
$padding-left-site-navigation-item: $width-gap-half;
$padding-left-site-navigation-item-content: $width-gap;

$width-border-site-navigation-mark: $width-border;

// Tagline
$margin-left-tagline-full: (- ($width-supplement + $width-gap));
$margin-top-tagline: $margin-large;
$margin-top-tagline-content: $margin-huge;
$margin-top-tagline-full: $margin-gargantuan;
$width-max-tagline-full: $width-full;

// Content
$margin-top-content: (- ($margin-top-heading - $margin-top-tagline));
$margin-top-content-content: (- ($margin-top-heading - $margin-top-tagline-content));
$margin-top-content-full: (- ($margin-top-heading - $margin-top-tagline-full));

// First Heading
$margin-top-first-heading: ($margin-top-heading + rem($line-height));
$margin-top-first-heading-full: $margin-top-heading;

$margin-left-first-heading-permalink-full: $margin-left-tagline-full;
$padding-bottom-first-heading-permalink: ($margin-top-tagline - $margin);
$padding-bottom-first-heading-permalink-content: ($margin-top-tagline-content - $margin);
$padding-bottom-first-heading-permalink-full: ($margin-top-tagline-full - $margin);

// Section Footer
$width-section-footer-full: $width-float-full;

$margin-top-section-footer-p-full: rem(($ratio-text-heading-content * $line-height-heading - $ratio-text-footing * $line-height-footing) / 2);

$margin-top-section-footer-p-permalink-full: ($margin + rem($line-height-body-full - $line-height-footing * $ratio-text-footing) / 2);

// Global Footer
$margin-bottom-global-footer: $margin;

// Footlinks
$margin-top-footlinks: $margin-gargantuan;
$margin-top-footlinks-full: $margin-enormous;

$padding-right-footlinks-item: $width-gap-half;
$margin-left-footlinks-separator: $padding-right-footlinks-item;

// Byline
$left-byline-full: $width-gap-half;

$margin-bottom-byline-border: $margin-tiny;
$width-byline-border: ($width-supplement / pow($ratio-golden, 3));
$width-border-byline-border: $width-border;

// Site Search
$right-site-search-content: $width-gap-half;
$top-site-search: $margin-huge;
$top-site-search-content: ($margin-top-footlinks + (rem($line-height-body-content * $ratio-text-global-footer) - $height-search-form-query) / 2);
$top-site-search-full: ($margin-top-footlinks-full + (rem($line-height-body-full * $ratio-text-global-footer) - $height-search-form-query) / 2);
$width-max-site-search: ($width-content / $ratio-golden);
$width-max-site-search-content: ($width-content / pow($ratio-golden, 2));

// Contact Form
$padding-contact-form-label: $padding-large;

$margin-top-contact-form-button: $margin-small;
$letter-spacing-contact-form-button: $padding-small;
$padding-left-contact-form-button: $letter-spacing-contact-form-button;
$border-radius-contact-form-button: $width-border;

// Drop
$margin-left-drop-full: (- ($width-supplement + $width-gap));
$margin-right-drop-full: $width-gap-half;
$width-max-drop-full: ($width-supplement + $width-gap + $width-content / 2);

$width-min-drop-img: $width-supplement;

// Flat UL
$margin-side-flat-ul-content: (- $width-gap-half);
$padding-side-flat-ul-item-full: $width-gap-half;
$width-flat-ul-item-full: (100% / 3);

// Floatage
$margin-side-floatage-content: $width-gap-half;
$width-max-floatage-content: percentage(1 / pow($ratio-golden, 2));

// Footnote
$margin-top-footnote: $margin;
$padding-top-footnote: $margin-tiny;
$width-bg-footnote: ($width-border-small * 8);
$height-bg-footnote: $width-border-small;

// Full Width
$margin-side-full-width: (- $width-gap-half);
$margin-left-full-width-full: (- ($width-gap-half + $width-supplement + $width-gap));

$margin-left-full-width-caption: $width-gap-half;
$margin-top-full-width-caption-full: $margin;
$padding-left-full-width-caption-full: ($margin-left-full-width-caption - $width-border-small);

// Post List
$margin-top-post-list: $margin-small;

$line-height-post-list-item: $line-height-tiny;
$margin-left-post-list-item-full: (- ($width-supplement + $width-gap));
$padding-vert-post-list-item: $padding-gargantuan;
$padding-left-post-list-item-full: (- $margin-left-post-list-item-full);
$width-border-post-list-item: $width-border-small;

$line-height-post-list-info-content: ($line-height-post-list-item * $ratio-text-post-list-item / $ratio-text-footing);
$margin-left-post-list-info-content: $width-gap-half;
$padding-top-post-list-info-full: $padding-vert-post-list-item;

// Pull Quote
$line-height-pull-quote: $line-height-tiny;
$margin-side-pull-quote: $width-gap;
$margin-side-pull-quote-content: $indent;
$margin-left-pull-quote-full: (- ($width-supplement + $width-gap));
$width-pull-quote-full: ($width-supplement + $width-gap + $width-supplement / $ratio-golden);

// Read Older
$margin-top-read-older-label: $margin-huge;

$line-height-read-older-title: $line-height-tiny;
$margin-top-read-older-title-full: $margin-top-read-older-label;

$line-height-read-older-label-full: ($ratio-text-read-older-title * $line-height-read-older-title);

// Searchbox
$width-max-searchbox: ($width-content / $ratio-golden);

// Share Buttons
$padding-left-share-buttons-item: $width-gap-half;

// Google AdSense
$margin-side-adsbygoogle: (- $width-gap-half);
$margin-top-adsbygoogle: $margin-large;
$width-adsbygoogle: 300px;
$width-adsbygoogle-large-rectangle: 336px;
$height-adsbygoogle: 250px;
$height-adsbygoogle-large-rectangle: 280px;
$breakpoint-adsbygoogle-rectangle: 326px;
$breakpoint-adsbygoogle-large-rectangle: 362px;
