// Line Height
$line-height: $ratio;
$line-height-tiny: ($line-height * .8);
$line-height-small: ($line-height * .9);
$line-height-large: ($line-height * 1.05);

// Margin
$margin: rem($ratio);
$margin-minimal: ($margin / pow($ratio, 3));
$margin-tiny: ($margin / pow($ratio, 2));
$margin-small: ($margin / $ratio);
$margin-large: ($margin * $ratio);
$margin-huge: ($margin * pow($ratio, 2));
$margin-gargantuan: ($margin * pow($ratio, 3));
$margin-enormous: ($margin * pow($ratio, 4));
$margin-maximal: ($margin * pow($ratio, 5));

// Indent
$indent: rem($ratio);

// Border
$width-border: .125rem;
$width-border-small: ($width-border / 2);
$width-border-large: ($width-border * 2);

// Padding
$padding: .25rem;
$padding-small: ($padding / 2);
$padding-large: ($padding * 2);
$padding-huge: ($padding * 3);
$padding-gargantuan: ($padding * 4);

// Column
$column: 36rem;
$column-gap: rem($ratio);

// Main Component
$width-gap: $column-gap;
$width-gap-small: ($width-gap / 2);
$width-gap-large: ($width-gap * $ratio);

$width-content: $column;
$width-content-outer: ($width-gap-small + $width-content + $width-gap-small);

$width-supplement: ($width-content / $ratio-content * $ratio-supplement);
$width-supplement-outer: ($width-gap-small + $width-supplement + $width-gap-small);

$width-full: ($width-supplement + $width-gap-large + $width-content);
$width-full-outer: ($width-gap-small + $width-full + $width-gap-small);

// Breakpoint
$width-scrollbar: 1.5rem;
$breakpoint-content: ($width-content-outer + $width-scrollbar);
$breakpoint-full: ($width-full-outer + $width-scrollbar);

// Placeholder Class
$width-max-centering: $width-content;
$padding-side-centering: ($width-gap-small * .75);
$padding-side-centering-content: $width-gap-small;
$padding-left-centering-full: ($width-gap-small + $width-supplement + $width-gap-large);

$margin-side-expander: (- $width-gap-small * .75);
$margin-side-expander-content: (- $width-gap-small);

$margin-right-float-full: $width-gap-large;
$width-float-full: $width-supplement;

$line-height-heading: $line-height-tiny;

$line-height-footing: ($line-height-heading / $ratio-text-footing);

$margin-top-margin: $margin;

$margin-top-margin-after-heading: $margin-tiny;

$padding-right-search-form-query: $padding;
$width-border-search-form-query: $width-border-small;

$width-search-form-button: rem($line-height);
$height-search-form-button: $width-search-form-button;
$left-search-form-button: $width-border-search-form-query;
$top-search-form-button: $padding-small;

$padding-left-search-form-query: $width-search-form-button;
$height-search-form-query: ($height-search-form-button + $padding-small * 2);

// Core
$line-height-body: $line-height-small;
$line-height-body-content: $line-height;

$margin-top-heading: $margin-enormous;

$margin-top-subheading: $margin-huge;

$margin-vert-hr: $margin-huge;
$margin-vert-hr-print: $margin-large;
$height-hr: rem($line-height);
$width-hr: $height-hr;
$width-hr-print: percentage(1 / $ratio);
$width-border-hr-print: $width-border-small;

$line-height-pre: $line-height-tiny;
$margin-top-pre-print: $margin;

$width-border-blockquote: $width-border-large;
$padding-left-blockquote: $width-gap;
$margin-left-blockquote-full: (- ($width-border-blockquote + $padding-left-blockquote));

$padding-left-list: $indent;
$padding-left-list-nested-full: $padding-left-list;

$margin-left-dd: $indent;

$padding-top-figcaption-quote: $margin-tiny;
$padding-left-figcaption-quote: $padding-left-blockquote;
$width-border-figcaption-full: $width-border-small;
$width-border-figcaption-quote: $width-border-blockquote;
$padding-bottom-figcaption-full: ($width-border-figcaption-full + $margin-tiny);
$margin-left-figcaption-quote-full: (- ($width-border-figcaption-quote + $padding-left-figcaption-quote));

$width-border-strong: $width-border-small;

$letter-spacing-abbr: $width-border-small;

$width-border-td: $width-border-small;
$padding-td: $padding-large;

$width-border-th-thead: $width-border;

// Global Header
$margin-top-global-header: $margin-small;
$margin-top-global-header-content: $margin-large;
$margin-top-global-header-full: $margin-gargantuan;

// Logo
$width-logo: ($width-supplement / pow($ratio, 3));
$width-logo-content: ($width-logo / 3 * 4);
$margin-left-logo-full: (- ($width-logo-content + $width-gap-large));
$height-logo: $width-logo;
$height-logo-content: $width-logo-content;

// Site Navigation
$line-height-site-navigation-item: $height-logo;
$line-height-site-navigation-item-content: $height-logo-content;
$padding-side-site-navigation-item: $width-gap-small;

$margin-left-site-navigation-full: (- $padding-side-site-navigation-item);

$padding-bottom-site-navigation-mark: $padding-small;
$width-border-site-navigation-mark: $width-border;

// Tagline
$margin-top-tagline: $margin-large;
$margin-top-tagline-content: $margin-huge;
$margin-top-tagline-full: $margin-gargantuan;

$margin-bottom-tagline-border: $margin-small;
$width-tagline-border: $width-logo;
$width-max-tagline-border-content: $width-logo-content;
$width-border-tagline-border: $width-border-large;
$margin-top-tagline-border-full: ((rem($ratio-text-tagline-full * $line-height-heading) - $width-border-tagline-border) / 2);

// Content
$margin-top-content: (- ($margin-top-heading - $margin-top-tagline));
$margin-top-content-content: (- ($margin-top-heading - $margin-top-tagline-content));
$margin-top-content-full: (- ($margin-top-heading - $margin-top-tagline-full));

// First Heading
$margin-top-first-heading: ($margin-top-heading + rem($line-height));
$margin-top-first-heading-full: $margin-top-heading;
$margin-top-first-heading-print: ($margin + rem($line-height));

$padding-bottom-first-heading-permalink: ($margin-top-tagline - $margin);
$padding-bottom-first-heading-permalink-content: ($margin-top-tagline-content - $margin);
$padding-bottom-first-heading-permalink-full: ($margin-top-tagline-full - $margin);

// Section Footer
$width-section-footer-full: $width-float-full;

$margin-top-section-footer-p-full: rem(($ratio-text-heading-content * $line-height-heading - $ratio-text-footing * $line-height-footing) / 2);

$margin-top-section-footer-p-permalink-full: rem(($ratio-text-first-heading-permalink-full * $line-height-heading - $ratio-text-footing * $line-height-footing) / 2);

// Global Footer
$margin-bottom-global-footer: $margin;

// Footlinks
$margin-top-footlinks: $margin-gargantuan;
$margin-top-footlinks-full: $margin-enormous;

$padding-right-footlinks-item: $width-gap-small;
$margin-left-footlinks-separator: $padding-right-footlinks-item;

// Byline
$margin-top-byline-print: $margin-huge;
$margin-right-byline-full: (- ($width-supplement-outer - $width-gap-small));

$margin-bottom-byline-border: $margin-tiny;
$width-byline-border: $width-logo;
$width-byline-border-content: $width-logo-content;
$width-border-byline-border: $width-border;

// Site Search
$right-site-search-content: $width-gap-small;
$top-site-search: $margin-huge;
$top-site-search-content: ($margin-top-footlinks + (rem($line-height-body-content * $ratio-text-global-footer) - $height-search-form-query) / 2);
$top-site-search-full: ($margin-top-footlinks-full + (rem($line-height-body * $ratio-text-global-footer) - $height-search-form-query) / 2);
$width-max-site-search: ($width-content / $ratio);
$width-max-site-search-content: ($width-content / pow($ratio, 2));

// Contact Form
$padding-contact-form-label: $padding-large;

$margin-top-contact-form-button: $margin-small;
$padding-vert-contact-form-button: $padding-large;
$border-radius-contact-form-button: $width-border;
$width-contact-form-button: ($width-content-outer / pow($ratio, 3));

// Drop
$margin-left-drop-full: (- ($width-supplement + $width-gap-large));
$margin-right-drop-full: $width-gap-small;
$width-max-drop-full: ($width-supplement + $width-gap-large + $width-content / 2);

$width-min-drop-img: $width-supplement;

// Flat UL
$padding-left-flat-ul: ($width-gap-small + $padding-left-list);
$padding-side-flat-ul-item-full: $width-gap-small;
$width-flat-ul-item-full: (100% / 3);

// Floatage
$margin-side-floatage-content: $width-gap-small;
$width-max-floatage-content: percentage(1 / pow($ratio, 2));

// Footnote
$padding-top-footnote: $margin-tiny;
$width-bg-footnote: ($width-border-small * 8);
$height-bg-footnote: $width-border-small;
$top-bg-footnote: $margin;

// Full Width
$margin-left-full-width-full: (- ($width-gap-small + $width-supplement + $width-gap-large));

$margin-left-full-width-caption: $width-gap-small;
$margin-top-full-width-caption-full: $margin;
$width-border-full-width-caption-full: $width-border-large;
$padding-left-full-width-caption-full: ($margin-left-full-width-caption - $width-border-full-width-caption-full);

// Post List
$line-height-post-list-item: $line-height-tiny;
$margin-top-post-list-item: $margin-small;

$line-height-post-list-info-content: ($line-height-post-list-item * $ratio-text-post-list-item / $ratio-text-footing);
$margin-left-post-list-info-content: $width-gap-small;

// Pull Quote
$line-height-pull-quote: $line-height-tiny;
$margin-side-pull-quote: $width-gap;
$margin-side-pull-quote-content: $indent;
$margin-left-pull-quote-full: (- ($width-supplement + $width-gap-large));
$margin-right-pull-quote-full: $width-gap;
$width-pull-quote-full: ($width-supplement + $width-gap-large + $width-supplement / $ratio);

// Read Older
$margin-top-read-older-label: $margin-huge;

$line-height-read-older-title: $line-height-tiny;
$margin-top-read-older-title-full: $margin-top-read-older-label;

$line-height-read-older-label-full: ($ratio-text-read-older-title * $line-height-read-older-title);

// Searchbox
$width-max-searchbox: ($width-content / $ratio);

// Seealso
$width-border-seealso: $width-border-large;
$padding-left-seealso: $width-gap-small;
$padding-left-seealso-full: $width-gap;
$margin-left-seealso-full: (- ($width-border-seealso + $padding-left-seealso-full));

// Share Buttons
$padding-left-share-buttons-item: $width-gap-small;

// Google AdSense
$margin-top-adsbygoogle: $margin-large;
$width-adsbygoogle: 300px;
$width-adsbygoogle-large-rectangle: 336px;
$height-adsbygoogle: 250px;
$height-adsbygoogle-large-rectangle: 280px;
$breakpoint-adsbygoogle-large-rectangle: ($width-adsbygoogle-large-rectangle + 16px * 2);
