// Line Height
$line-height-default: $ratio-golden;
$line-height-heading: 1.25;
$line-height-code: 1.3;

// Margin
$margin-default: em($line-height-default);
$margin-heading: ($margin-default * pow($ratio-golden, 2));
$margin-primary-heading: ($margin-heading * $ratio-golden);
$margin-mini: ($margin-default / pow($ratio-golden, 2));

// Indent
$indent-default: em(pow($ratio-golden, 2));

// Column
$width-gutter: em($ratio-golden);
$width-gap: ($width-gutter / 2);

// Main Component
$width-content: 36em;
$width-content-with-gap: ($width-gap + $width-content + $width-gap);

$width-suppli-with-gap: ($width-content-with-gap / $ratio-content * $ratio-suppli);
$width-suppli: (- $width-gap + $width-suppli-with-gap - $width-gap);

$width-full-with-gap: ($width-suppli-with-gap + $width-content-with-gap);
$width-full: (- $width-gap + $width-full-with-gap - $width-gap);

// Root
$font-sizes-html: (18px, 21px, 24px);

// Core
$height-hr: ($margin-default + em($line-height-default) + $margin-default);
$width-hr: ($height-hr * 3);

$width-border-blockquote: 0.25em;

$height-border-figcaption: 0.125em;

$width-border-img: 1em;

// Header
$width-header-logo: ($width-suppli / pow($ratio-golden, 2));
$height-header-logo: $width-header-logo;

$height-header-site-navigation: $height-header-logo;
$width-header-site-navigation-gutter: 2em;

// Breakpoint
$width-scrollbar: 1.5em;
$breakpoint-content: ($width-content-with-gap + $width-scrollbar);
$breakpoint-full: (($width-full-with-gap + $width-scrollbar) * (nth($font-sizes-html, length($font-sizes-html)) / 16px));

// Seealso
$width-seealso-icon: 1em;

// Sidenote
$margin-sidenote-p: ($margin-default / $ratio_sidenote);

// Posts
$margin-posts-more: 0.25em;
$width-posts-list-date: (5em + $width-gap);

// Seemore
$width-border-seemore: 0.125em;

// Flat DL
$margin-flat-dl-dt: ($width-gap / 2);
$margin-flat-dl-dd: $width-gap;

// Paging
$margin-paging-icon: $width-gutter;
$width-paging-icon: (($width-header-logo - $margin-paging-icon) / 2);
$height-paging-icon: ($width-paging-icon / 256 * 384);

// Google Custom Search Engine
$width-google-cse: ($width-content / 2);
$margin-google-cse-form: 0.25em;
$height-google-cse-form: 2em;
