// Normalize placeholder style
:-ms-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

:placeholder-shown {
  opacity: .54;
}

