// Google Code Prettify
.prettyprinted {
  .str,
  .atv {
    color: $color-fg-google-code-prettify-constant;
  }

  .kwd,
  .tag {
    color: $color-fg-google-code-prettify-statement;
  }

  .com,
  .dec,
  .var {
    color: $color-fg-google-code-prettify-comment;
  }

  .typ {
    color: $color-fg-google-code-prettify-type;
  }

  .lit,
  .atn {
    color: $color-fg-google-code-prettify-number;
  }

  .pun,
  .opn,
  .clo {
    color: $color-fg-google-code-prettify-default;
  }

  .pln {
    color: $color-fg-google-code-prettify-default;
  }

  .src {}

  .nocode {}
}
