// Twitter Share Button
.share-buttons {
  @extend %hanging-block;

  ul {
    padding-left: 0;
    display: inline-table;
  }

  li {
    display: table-cell;
    height: $height-share-buttons;
    line-height: $height-share-buttons;
  }

  a {
    margin-right: ($margin-share-buttons / $ratio-share-buttons);
    padding-left: ($width-share-buttons-icon * 1.25);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $width-share-buttons-icon;
    font-size: em($ratio-share-buttons);

    &[href^="https://www.facebook.com/"] {
      color: $color-fg-share-buttons-facebook;
      background-image: $image-facebookf;
    }

    &[href^="https://twitter.com/"] {
      color: $color-fg-share-buttons-twitter;
      background-image: $image-twitterbird;
    }
  }

  @media (min-width: $breakpoint-full) {
    top: auto;

    ul {
      margin-top: (- ($height-share-buttons * 2));
    }

    li {
      display: block;
    }

    a {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
