// List
.posts ol {
  padding-left: 0;

  li {
    margin-top: $margin-mini;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  time {
    display: block;
    color: $color-fg_posts-list__time;
  }

  @media (min-width: $breakpoint-content) {
    li {
      margin-top: ($margin-mini / $ratio-posts-list-item);
      padding-right: $width-posts-list-date;
      font-size: em($ratio-posts-list-item);
    }

    time {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
