// Top Picks
.posts > a {
  color: inherit;

  .tag {
    color: $color-fg_posts-top-picks__tag;
  }

  > p::after {
    margin-left: $margin_posts-top-picks__more;
    content: "More\0020\279f"; // Dashed Triangle-Headed Rightwards Arrow
    font-weight: bold;
    color: $color-fg_posts-top-picks__more;
    text-transform: uppercase;
  }

  &:hover,
  &:focus,
  &:active {
    h1 {
      color: $color-fg_posts-top-picks__title--hover;
    }

    > p::after {
      color: $color-fg_posts-top-picks__more--hover;
    }
  }
}
