// Logo
#logo {
  margin-top: ($margin-heading / $ratio-golden);
  display: block;
  width: ($width-header-logo / $ratio-golden);
  height: ($height-header-logo / $ratio-golden);
  background-color: transparent;

  @media (min-width: $breakpoint-content) {
    margin-top: $margin-heading;
    width: $width-header-logo;
    height: $height-header-logo;
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-suppli + $width-gutter));
  }
}
