// Site Navigation
body > header nav {
  position: absolute;
  top: 0;
  right: $width-gap;
  font-size: rem($ratio_site-navigation);
  font-weight: 300;
  text-transform: uppercase;

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    padding-left: ($width_site-navigation__gutter / 4);
    display: table-cell;
    height: $height_site-navigation;
    line-height: $height_site-navigation;
  }

  a {
    display: inline-block;
    color: inherit;
  }

  mark {
    padding-bottom: $padding_site-navigation__mark;
    border-bottom: $width-border_site-navigation__mark solid;
    color: $color-fg_site-navigation__mark;
    background-color: transparent;
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-left: ($width_site-navigation__gutter / 2);
    }
  }

  @media (min-width: $breakpoint-full) {
    li {
      padding-left: $width_site-navigation__gutter;
    }
  }
}
