// Site Navigation
body > header nav {
  position: absolute;
  top: 0;
  right: $width-gap;

  ul {
    margin-top: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  li {
    padding-left: ($width-header-site-navigation-gutter / 4 / $ratio_header-site-navigation);
    display: table-cell;
    height: ($height-header-site-navigation / $ratio-golden / $ratio_header-site-navigation);
    line-height: remove-unit($height-header-site-navigation / $ratio-golden / $ratio_header-site-navigation);
    font-size: em($ratio_header-site-navigation);
  }

  a {
    display: inline-block;
    color: $color-fg_header-site-navigation;

    &:hover,
    &:focus,
    &:active {
      color: $color-fg_header-site-navigation--hover;
    }
  }

  mark {
    color: $color-fg_header-site-navigation__mark;
    background-color: transparent;
    font-weight: bold;
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-left: ($width-header-site-navigation-gutter / 2 / $ratio_header-site-navigation);
      height: ($height-header-site-navigation / $ratio_header-site-navigation);
      line-height: remove-unit($height-header-site-navigation / $ratio_header-site-navigation);
    }
  }

  @media (min-width: $breakpoint-full) {
    right: auto;

    li {
      padding-right: ($width-header-site-navigation-gutter / $ratio_header-site-navigation);
      padding-left: 0;
    }
  }
}
