// Site Navigation
body > header nav {
  position: absolute;
  top: 0;
  right: $width-gap;

  ul {
    margin-top: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  li {
    padding-left: ($width_site-navigation__gutter / 4 / $ratio_site-navigation);
    display: table-cell;
    height: ($height_site-navigation / $ratio_site-navigation);
    line-height: remove-unit($height_site-navigation / $ratio_site-navigation);
    font-size: em($ratio_site-navigation);
  }

  a {
    display: inline-block;
    color: $color-fg_site-navigation;

    &:hover,
    &:focus,
    &:active {
      color: $color-fg_site-navigation--hover;
    }
  }

  mark {
    color: $color-fg_site-navigation__mark;
    background-color: transparent;
    font-weight: bold;
  }

  @media (min-width: $breakpoint-content) {
    li {
      padding-left: ($width_site-navigation__gutter / 2 / $ratio_site-navigation);
      height: ($height_site-navigation / $ratio_site-navigation);
      line-height: remove-unit($height_site-navigation / $ratio_site-navigation);
    }
  }

  @media (min-width: $breakpoint-full) {
    width: $width-content;

    li {
      padding-right: ($width_site-navigation__gutter / $ratio_site-navigation);
      padding-left: 0;

      &:last-child {
        padding-right: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
