// Tagline
body > header h1 {
  margin-top: ($margin_heading / $ratio_header-tagline);
  font-weight: 200;
  font-size: em($ratio_header-tagline);

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-suppli + $width-gutter) / $ratio_header-tagline);
  }
}

.permalink > header h1 {
  display: none;
}
