// Tagline
body > header h1 {
  @extend %heading;

  margin-top: $margin_heading;
  font-weight: 300;
  font-size: rem($ratio_tagline);

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-suppli + $width-gutter));
  }
}

.permalink > header h1 {
  display: none;
}
