// Tagline
.tagline {
  @extend %heading;

  margin-top: $margin_tagline;
  font-family: $font-stack_tagline;
  font-weight: 200;
  font-size: rem($ratio_tagline);

  em {
    font-weight: inherit;
    font-style: italic;
  }

  .permalink & {
    display: none;
  }

  @media (min-width: $breakpoint-content) {
    margin-top: $margin_tagline--content;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin_tagline--full;
    margin-left: (- ($width-supplement + $width-gutter));
  }
}
