// Centering
%centering {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-content;
  padding-left: $padding-side-centering;
  padding-right: $padding-side-centering;

  @media (min-width: $breakpoint-full) {
    padding-left: ($width-gap-small + $width-supplement + $width-gap-large);
  }
}
