%centering {
  margin-right: auto;
  margin-left: auto;
  padding-right: $width-gap;
  padding-left: $width-gap;
  position: relative;
  max-width: $width-content;

  @media (min-width: $breakpoint-full) {
    padding-left: ($width-gap + $width-suppli + $width-gutter);
  }
}
