// Decorative Border
%decorative-border {
  &::before {
    border-bottom: $width-border-decorative-border solid $color-light-dark;
    content: "";
    display: block;
    margin-bottom: $margin-bottom-decorative-border;
    padding-top: $margin-bottom-decorative-border;
    width: $width-decorative-border;
  }
}
