// Ellipsing
%ellipsing {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
}
