// Ellipsing
@import '../node_modules/hail2u-scss-partials/vendor-extension';

%ellipsing {
  @include font-feature-settings(normal);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
