// Float
%float {
  @media (min-width: $breakpoint-full) {
    margin-right: $margin-right-float-full;
    position: absolute;
    right: 100%;
    text-align: right;
    top: 0;
    width: $width-float-full;
    z-index: 1;
  }
}
