%font-family__body {
  font-family: $font-family__body;

  @media print {
    font-family: $font-family__body--print;
  }
}

%font-family__code {
  font-family: $font-family__code;

  @media print {
    font-family: $font-family__code--print;
  }
}
