// Footing
%footing {
  @extend %protrusion;

  color: $color-dark-light;
  font-size: rem($ratio-text-footing);
  line-height: $line-height-footing;

  .date,
  .tag {
    color: $color-dark-light;
  }

  @media (min-width: $breakpoint-full) {
    top: 0;
  }
}
