// Footing
%footing {
  @extend %protrusion;

  $r: $ratio-text-small;
  $lh: ($line-height-heading / $r);

  color: $color-shade-lightest;
  font-size: rem($r);
  line-height: $lh;

  $ratio-text-footing: $r !global;
  $height-footing: rem($lh * $r) !global;

  .date {
    color: $color-shade-dark;
  }

  .tag {
    color: $color-shade-dark;
  }
}
