// Footing
%footing {
  @extend %protrusion;

  $r: $ratio-text-small;
  $lh: ($line-height-heading / $r);

  color: $color-dark-light;
  font-size: rem($r);
  line-height: $lh;

  $height-footing: rem($lh * $r) !global;
  $ratio-text-footing: $r !global;

  .date,
  .tag {
    color: $color-dark-light;
  }

  @media (min-width: $breakpoint-full) {
    top: 0;
  }
}
