// Link Underline Removal
%link-underline-removal {
  a {
    text-decoration: none;

    @supports (-moz-text-decoration-color: red) or
      (-webkit-text-decoration-color: red) or
      (text-decoration-color: red) {
      color: $color-fg-link;
    }
  }
}
