// Link
%link {
  color: $color-fg-link;
  text-decoration: underline;

  @supports (-moz-text-decoration-color: red) or
    (-webkit-text-decoration-color: red) or
    (text-decoration-color: red) {
    @import "../assets/partials/hail2u-scss-partials/vendor-extension";
    @include text-decoration-color($color-primary-light);

    color: inherit;
  }
}
