// Line label
%line-label {
  @extend %hanging-block;

  display: block;
  height: $height_line-label;
  content: "";
  background-image: linear-gradient(
    $color-fg_line-label__line 0,
    $color-fg_line-label__line 100%
  ),
  linear-gradient(
    $color-fg_line-label__shadow 0,
    $color-fg_line-label__shadow 100%
  );
  background-position: left center;
  background-repeat: no-repeat;
  background-size: $width_line-label__line $height_line-label__line, 0;

  @media (min-width: $breakpoint-full) {
    background-size: $width_line-label__line $height_line-label__line, 100% $height_line-label__line;
  }
}
