// Line Label
%line-label {
  position: relative;

  &::after {
    @extend %hanging-block;

    display: block;
    height: rem($line-height);
    content: "";
    background-image: linear-gradient(
      $color-fg_line-label__highlight 0,
      $color-fg_line-label__highlight 100%
    ),
    linear-gradient(
      $color-fg_line-label 0,
      $color-fg_line-label 100%
    );
    background-position: left center;
    background-repeat: no-repeat;
    background-size: $width_line-label $height_line-label;

    @media (min-width: $breakpoint-full) {
      background-size: $width_line-label $height_line-label--hang, $width_line-label--hang $height_line-label--hang;
    }
  }
}
