// Pin
%pin {
  @extend %float;

  bottom: 100%;
  font-size: rem($ratio-text-pin);
  position: absolute;
  width: 100%;

  p {
    @extend %ellipsing;

    color: $color-fg-pin;
  }

  time {
    color: $color-fg-pin-time;
  }

  .tag {
    color: $color-fg-pin-tag;
  }

  @media (min-width: $breakpoint-full) {
    width: $width-supplement;

    p {
      margin-top: $margin-pin-full;
    }
  }
}
