// Pin
%pin {
  @extend %float;

  bottom: 100%;
  font-size: rem($ratio-text-pin);
  position: absolute;

  p {
    @extend %ellipsing;

    color: $color-fg-pin;
  }

  @media (min-width: $breakpoint-full) {
    p {
      margin-top: $margin-top-pin-full;
    }
  }
}
