// Pin
%pin {
  @extend %float;

  bottom: 100%;
  font-size: rem($ratio-text__pin);
  position: absolute;
  width: 100%;

  p {
    @extend %ellipsing;
  }

  @media (min-width: $breakpoint--full) {
    width: $width-supplement;

    p {
      margin-top: $margin__pin--full;
    }
  }
}
