// Protrusion
%protrusion {
  @media (min-width: $breakpoint-full) {
    margin-right: $width-gap-large;
    position: absolute;
    right: 100%;
    width: $width-protrusion-full;
    z-index: 1;
  }
}
