// Search Form
%search-form {
  @extend %positioning-root;

  $b: $width-border-small;
  $h: (1rem + ($b + $padding-large) * 2);
  $w-b: percentage(1 / 4);

  input {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    height: $h;
    line-height: $h;
    padding: 0;
  }

  .query {
    background-color: $color-light-light;
    border: $b solid $color-light-dark;
    box-sizing: border-box;
    color: $color-dark;
    width: (100% - $w-b - 1%);

    $height-search-form-query: $h !global;
  }

  .button {
    background-color: $color-primary-light;
    border: 0;
    color: $color-light-light;
    position: absolute;
    right: 0;
    width: $w-b;
  }
}
