// Search Form
%search-form {
  @extend %positioning-root;

  .query {
    $h: (rem($line-height) + $padding-small * 2);

    -webkit-appearance: none;
    background-color: $color-light-light;
    border: $width-border-small solid $color-tint-light;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-dark;
    font-family: inherit;
    font-size: inherit;
    height: $h;
    padding: 0;
    width: 74%;

    $height-search-form-query: $h !global;
  }

  .button {
    -webkit-appearance: none;
    background-color: $color-accent-lightest;
    border: 0;
    border-radius: 0;
    color: $color-light-light;
    font-family: inherit;
    font-size: inherit;
    height: $height-search-form-query;
    padding: 0;
    position: absolute;
    right: 0;
    width: 25%;
  }
}
