// Search Form
@import "../assets/partials/hail2u-scss-partials/image-replacement";

%search-form {
  @extend %positioning-root;

  .query {
    -webkit-appearance: none;
    background-color: $color-bg-search-form-query;
    border: $width-border-search-form-query solid $color-border-search-form-query;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-fg-search-form-query;
    height: $height-search-form-query;
    padding: 0;
    width: $width-search-form-query;
  }

  .button {
    background-color: $color-bg-search-form-button;
    border: 0;
    color: $color-fg-search-form-button;
    height: $height-search-form-button;
    position: absolute;
    right: 0;
    width: $width-search-form-button;
  }
}
